<div class="ajp-about pt-header com-box-siz" holl-page touch-stop>
   <!--  <header id="ajp-header" class="BG-red">
        <a class="UI-back" href="javascript:history.back(-1);"></a>
        <div class="UI-title">关于我们</div>
    </header> -->

    <section>

        <p class="title">关于我们</p>
        <p>奥派数科（上海奥派数据科技有限公司）由中原集团、维信金科于2016年联合创办，依托中原房地产经纪代理行业的深厚背景与维信金科领先的智能金融科技研发能力，致力于为消费者提供最便利的房地产垂直领域消费金融服务。</p><br/>
        <p>安家趣花是奥派数科旗下主打的一款互联网消费金融产品，主要为客户提供小额信贷、一站式专属居家购物等金融生活服务；其甄选海量知名品牌，正品低价，持续为消费者提供惊喜优惠。同时开启在线信贷支付功能，通过现金提取、定向支付服务，为安家置业、日常生活带来更优质的体验，开启安家生活新方式。</p>
        <br/>
        <p class="detail">
            <span>消费贷款</span>
            <span>购物优惠</span>
            <span>虚拟支付</span>
            <span>地产服务</span>
        </p>

        <p class="title">联系我们</p>
        <p>热线电话：4001017700</p>
        <p>工作时间：周一至周日8:30-20:00</p>

    </section>


</div>