<div class="ajp-about pt-header com-box-siz" holl-page touch-stop>
    <!-- <header id="ajp-header" class="BG-red">
        <a class="UI-back" href="javascript:history.back(-1);"></a>

        <div class="UI-title">新手指引</div>
    </header> -->
    <section>
        <p class="title">安家派怎么使用</p>
        <p>建议申请额度-身份认证-信息认证-银行卡认证-立即提现-绑定银行卡-提现金额-分期期数-交易密码-补充联系人-等待电审-24小时小时内注意接听021开头固定电话来电，审核通过后1~2个工作日放款，具体放款时效以实际放款状态为准</p>
        <p class="title">还款时间和扣款方式</p>
        <p>您好，请在最后还款日当天晚上十二点之前将应还金额存入到您绑定的银行卡中，存入后，保持卡里资金不动，系统会在还款日的后一天凌晨零点，开始自动扣款。</p>
        <p class="title">安家派可以一次还清吗？如何一次还清？</p>
        <p>支持客户可以随时一次还清，一次还清还款流程如下：点击【账单】-【一次还清】-确认一次还清金额，即可发起一次还清，确认结清贷款前，请确保您的银行卡内有足够的余额。</p>
    </section>
</div>