<div class="ajp-about pt-header com-box-siz" holl-page touch-stop>
   <!--  <header id="ajp-header" class="BG-red">
        <a class="UI-back" href="javascript:history.back(-1);"></a>
        <div class="UI-title">安全保障</div>
    </header> -->
    <section>
        <p class="title">还款安全</p>
        <p>安家派为客户 提供微信，短信，电话等多种形式的还款提醒服务，全方位提醒客户按时还款，避免客户因遗忘还款时间，产生续期费用。</p>
        <p class="title">隐私安全</p>
        <p>安家派 严格遵守国家相关的法律法规，对客户的隐私信息进行保护。</p>
        <p>未经客户同意，不向任何第三方公司、组织和个人披露其个人信息以及交易信息。</p>
        <p class="title">风控安全</p>
        <p class="mb-1">将外部大数据，反欺诈引擎，决策引擎和评分模型高效整合。</p>
        <p class="mb-1">以评分卡模型量化风险，降低坏账率。</p>
        <p class="mb-1">以八大引擎，实现贷前、贷中、贷后全流程自动化，智能化审核。</p>
        <p>拥有专业的团队，时刻为您提供安全高效的服务。</p>
    </section>
</div>