<!--1.《个人信用借款合同》-->
<div class=" pact-wrap bg-fff"> <span></span>
    <h2>个人信用借款合同</h2>
    <p style="text-align: right;">编号：<span class="short"><b></b></span></p>

    <p class="cp"><b>甲方（借款人）：<span>{{newContractInfo.realName}}</span></b>{{}}</p>
    <p class="cp">身份证号: <span>{{newContractInfo.identityNo}}</span></p>
    <p class="cp">银行卡号: <span>{{newContractInfo.cardNo}}</span></p>
    <p class="cp">手机号: <span>{{newContractInfo.mobile}}</span></p>
    <p class="cp"><b>乙方（贷款人）：<span>成都维仕小额贷款有限公司</span></b></p>
    <p class="cp">住所：<span>成都市锦江区总府路2号时代广场B座1213号 </span></p><br/>
    <p class="cp"><b>鉴于</b></p>
    <p class="cp">1.	甲方有资金需求，乙方是一家合法成立并有效存续的小额贷款公司，拥有合法的小额贷款资质，可在法定的经营范围内向个人提供消费信用贷款。</p>
    <p class="cp">2.	甲方具有合法的借款需求，乙方自愿以其合法资金向甲方提供贷款。乙方以本合同为依据与甲方形成真实、合法、有效的债权。</p>
    <p class="cp">3.	本合同采用电子合同形式，甲、乙双方均对电子合同的形式表示认可，合同效力受中华人民共和国法律法规规章以及相关地方文件的保护。</p>
    <p>甲乙双方基于平等自愿原则，就有关借款事项于{{newContractInfo.signData}}达成如下合同，以兹共守：</p>
    <p class="cp fork"><b>第一条	借款基本信息</b></p>
    <p class="cp"><b>1.1	在甲方向上海奥派数据科技有限公司购物并延迟支付剩余购物款的情形下，若甲方未在约定时间即每月<span>{{newContractInfo.repaymentDate}}</span>日 向上海奥派数据科技有限公司足额支付其剩余购物款，即视为甲方向乙方提交借款发放申请。乙方每月将根据甲方应付未付的剩余购物款金额，为甲方发放一笔与该金额一致的借款款项，并将借款受托支付至上海奥派数据科技有限公司，以完成甲方应付购物款的支付。双方认可并同意：甲乙双方不再就单笔借款逐个签署借款合同，因本合同约定情形发生的借款事宜，均以本合同约定为准。若甲方每月按期支付剩余购物款，或对剩余购物款进行分期操作的 ，本合同在该月则不适用。</b></p>
    <p class="cp"><b>1.2	借款金额：</b>与甲方每月应付未付的剩余购物款金额一致，并以乙方实际发放金额为准；</p>
    <p class="cp"><b>借款期限：</b>每笔借款均为<span>3</span> 期，自放款日至首次还款日视为1期；</p>
    <p class="cp"><b>借款利率：</b> {{newContractInfo.monthlyInterestRate | MathDifferFilter}}%/月；</p>
    <p class="cp"><b>借款用途：</b>个人消费；</p>
    <p class="cp"><b>借款开始日：</b>为乙方放款日，即乙方将借款款项支付往甲方于本合同第二条指定的账户之日，若该日期晚于该借款款项划离乙方账户之日的，则以该借款款项划离乙方账户之日为乙方放款日；</p>
    <p class="cp"><b>还款日：</b>每笔借款放款后的每月 {{newContractInfo.repaymentDate}} 日，节假日不顺延。首次还款日详见   平台短信。</p>
    <p class="cp"><b>还款金额：</b>首期还款金额为：借款金额/借款期限+借款金额*月利率/30*贷款起始日至首期还款日（含当日）；此后的每期还款金额为：借款金额/借款期限+借款金额*月利率</p><br/>
    <p class="cp fork"><b>第二条	借款发放</b></p>
    <p class="cp">2.1	甲乙双方确认：甲方借款用途是向上海奥派数据科技有限公司支付商品购物款，故甲方特此委托乙方每次将本合同项下的借款均发放至上海奥派数据科技有限公司的以下账户：</p>
    <p>开户行：<span>浦发银行</span></p>
    <p>户名：上海奥派数据科技有限公司</p>
    <p>账号：97990155300001887</p>
    <br/>
    <p class="cp">2.2	甲乙双方确认，本合同项下的款项一旦从乙方的银行账户或第三方支付账户转出，即视为借款资金已经发放，甲方不得以任何理由拒绝履行本合同项下的还款义务。</p>

    <p class="cp fork"><b>第三条	还款</b></p>
    <p class="cp">3.1	甲方应在每笔借款发放后<b>依照第一条约定的还款日和还款金额履行还款义务。</b></p>
    <p class="cp">3.2	甲方同意乙方从甲方以下还款账户中扣取应还金额，甲方应在该账户中足额存入款项直至乙方扣收成功，且乙方不接受部分还款：</p>
    <p class="cp ti2">开户行：<span>{{newContractInfo.cardBank}}</span></p>
    <p class="cp ti2">户名：<span>{{newContractInfo.realName }}</span></p>
    <p class="cp ti2">账号：<span>{{newContractInfo.cardNo}}</span></p>
    <p class="cp">3.3	甲方不可撤销地授权银行或者第三方支付公司从上述还款账户中自动扣划本合同约定的还款金额（包括不限于到期还款金额、逾期相关款项），届时无须获得甲方的同意也无须事先通知甲方，直至借款（包括但不限于本金、利息、逾期相关款项）全部结清。乙方可指定任何有资质的银行或者第三方支付公司（包括不限于：富友支付、财付通、银联、快钱等）进行扣划，乙方有权增加、变更银行或者第三方支付公司且无需通知甲方。因还款账户余额不足或被查封冻结等原因导致无法按时足额扣款而导致的任何法律责任由甲方承担。若因甲方变更上述还款账户需书面通知乙方并经乙方认可，本合同的授权对甲方变更后的账户继续有效。</p>
    <p class="cp">3.4	甲方应严格履行还款义务，若甲方未于本合同规定的还款日足额还款，产生逾期，则甲方除应归还到期还款金额外，还需额外向乙方支付以下款项：</p>
    <p class="cp"><b>（1）逾期罚息</b></p>
    <p class="cp">逾期罚息计算公式如下： </p>
    <p class="cp">罚息总额 = 逾期本息总额×对应罚息利率×逾期天数；</p>
    <p class="cp">逾期天数：自还款日之次日起算</p>
    <p class="cp">罚息利率：0.2%</p>
    <p class="cp"><b>（2）扣款失败违约金</b></p>
    <p class="cp">甲方的还款时间为乙方委托银行或资质的第三方支付系统从甲方账户中扣划到相关款项的时间。如因包括但不限于甲方账户余额不足等原因导致扣划失败，甲方应就失败的次数向乙方每笔每次支付扣款失败违约金 <span>{{dedit}}</span> 元每笔。</p>
    <br/>
    <p class="cp">3.5	提前清贷</p>
    <p class="cp">3.5.1 甲方有权一次性提前偿还借款。提前清贷总额按以下公式计算：</p>
    <p class="cp ti2">提前清贷总额=逾期总额（若有）+当前未计利息+剩余本金</p>
    <p class="cp ti2">当前未计利息=借款本金*未计利息天数*（月利率/30）</p>
    <p class="cp ti2">3.5.2甲方确认提前清贷后，乙方或乙方的受托方将委托银行或者第三方支付公司从3.2约定的还款账户中扣除提前清贷全部款项，扣款成功后，提前清贷成功。</p>
    <p class="cp ti2">3.5.3 甲方应在3.2中约定的账户中足额存入提前清贷应付款项直至乙方扣收成功，如乙方扣收时，甲方账户金额不足以偿还约定的提前清贷应付款项总额，则提前清贷失败。</p>
    <p class="cp ti2">3.6甲乙双方一致同意：<b>若甲方向上海奥派数据科技有限公司退货的，甲方应继续按照本合同约定继续履行还款义务，甲方应将本次借款资金用途严格控制在约定用途范围内。</b>若甲方需提前清贷的，可按照上述3.5的约定完成。</p>
    <p class="cp fork">第四条 双方的权利、义务</p>
    <p class="cp">4.1	甲方的权利、义务</p>
    <p class="cp ti2">（1）	按本合同之约定如期清偿借款本金、利息（若有）、扣款失败违约金（若有）、罚息（若有）和其他所有应付乙方的款项。甲方同意：相关权利人有权在受托或亲自进行催收和追索债务等工作时，将甲方的身份信息、联络信息及甲方拖欠本合同项下债务的相关信息提供给第三方（包括不限于律师事务所和催收机构）。</p>
    <p class="cp ti2">（2）	甲方应按照本合同约定的用途使用借款，自觉接受乙方对本合同项下借款使用情况及甲方还款能力的调查、了解及监督。</p>
    <p class="cp ti2">（3）	保证按乙方贷款审查的需求提供真实、准确、完整的个人资料。如提供的资料涉及任何变更，包括但不限于甲方姓名、住所、职业和联系电话发生变动，甲方应自发生变动之日起，二个工作日内书面通知乙方。</p>
    <p class="cp ti2">（4）	自本合同签订之日起，甲方为自身债务或第三方债务提供任何担保应提前5日通知乙方。</p>
    <p class="cp ti2">（5）	甲方同意：乙方有权向安家趣花平台收集甲方主动向安家趣花提供的以及甲方授权安家趣花获取的甲方所有信息和资料，同时有权通过其他合法渠道收集甲方的信息和资料。</p>
    <p class="cp ti2">（6）	甲方同意：乙方可以向第三方转让本合同项下的权利，如乙方转让本合同下的权利，甲方同意乙方无需再行通知，转让后甲方继续向新的权利受让人履行本合同下的所有义务。</p>
    <p class="cp ti2">（7）	为查询甲方信用状况，审核甲方履约能力，确认甲方享有本合同项下产品的资格，进行贷后的相关管理与服务，同时为向甲方提供更为全面和广泛的融资、金融等服务，甲方同意并授权乙方在不违反《征信业管理条例》等法律法规及国家关于个人金融信息保护方面相关规定的前提下，向人民银行及其他依法设立的征信机构、资信评估机构、数据分析处理机构或有关法律、监管机构许可的类似机构（统称“信用机构”）、合法设立的身份信息系统、以及为本合同项下产品和服务提供必要技术和服务的合作机构（简称“合作机构”）查询、使用甲方的基本信息、信用信息和信用报告（统称“个人信息”）。且为建立信用体系，甲方同意并授权乙方将其在申请和使用本合同项下产品和服务过程中提供及形成的甲方的个人信息以及乙方查询、收集的个人信息向信用机构、身份信息系统、合作机构、政府机关、监管机构及其他依法有权机构提供。</p>
    <p class="cp ti2">（8）	为了向甲方提供更优质的服务和产品，甲方确认授权乙方有权将甲方申请和使用本次产品过程中提供及形成的甲方个人信息以及乙方查询、收集到的个人信息，用于乙方以及乙方出于为甲方提供产品和服务的必要而委托的合作机构为甲方提供服务、推荐产品、开展市场调查与信息数据分析。</p>
    <p class="cp">4.2	乙方的权利、义务</p>
    <p class="cp">（1）	乙方有权要求甲方提供贷款审查所需的全部资料，并有权按照甲方同意的范围使用或提供该类资料。乙方有权主动收集甲方资料，对甲方进行信用调查，包括但不限于向征信机构、身份信息系统等合法机构查询甲方的信用信息、向安家趣花平台和其他合法渠道收集甲方的所有资料和信息。</p>
    <p class="cp">（2）	如甲方未向乙方如实提供贷款审查所需的资料，或本合同签订后甲方未能提前5日通知乙方其为自身债务或第三方债务提供担保的情况，或违反本合同约定的用途使用借款，或违反本合同项下的还款及支付义务，或信用状况发生改变、或涉及刑事案件，或出现其他违反合同约定的情形，则乙方有权宣布本合同借款提前到期或本合同立即解除，自乙方宣布借款提前到期或解除合同之日起，甲方应立即偿还全部借款本金、剩余借款期的全部利息、罚息、相应违约金和其他所有应付款项。<b>由于甲方违约导致借款提前到期或者本合同被提前解除的，甲方应向乙方支付相当于借款金额30%的违约金。</b></p>
    <p class="cp">（3）	依本合同约定或法律规定向甲方收取应偿付的借款本金、利息、相应罚息及所有其他应付款项。针对甲方拖欠上述款项的违约行为，乙方或其委托机构有权向甲方申请借款时提供的联系人，及有关部门（包括甲方所在工作单位）予以通报，有权通过新闻媒体实现公告催收，有权采用短信、电话、信函、上门等形式予以催告，或采取诉讼等法律手段。乙方或其委托机构采取上述催款方式所引起的一切费用（包括但不限于调查费、交通通信费、法院案件受理费、律师费等）均由甲方承担。乙方为保障本身利益先行垫付的费用，乙方有权随时向甲方追讨。</p>
    <p class="cp">（4）	依本合同约定向甲方提供借款服务，包括借款发放、提供专业的借款咨询服务、办理借款申请的相关手续及为其提供借款后的管理服务。</p>
    <p class="cp fork">第五条	通知</p>
    <p class="cp">5.1	甲方确认：一旦乙方或乙方授权的第三方（包括安家趣花）向甲方电子邮件地址、平台账号、手机号码发出信息、通知或其他任何函件，均视为有效送达。</p>
    <p class="cp">5.2	乙方及甲方均同意授权安家趣花向双方发送消息通知。</p>
    <p class="cp fork">第六条	适用法律及争议解决</p>
    <p class="cp">本合同的签订、履行、终止、解释均适用中华人民共和国法律，<b>因本合同产生之争议，提交乙方住所地 （成都市锦江区 ）人民法院管辖。</b></p>
    <p class="cp fork">第七条	其他</p>
    <p class="cp">7.1	本合同采用电子文本形式制成并在安家趣花平台保留存档，各方均认可本合同的法律效力。</p>
    <p class="cp">7.2	变更本合同内容需另行签署补充协议，甲方承诺将配合签署。</p>
    <p class="cp">7.3	如果本合同中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响其他有效条款的效力。</p>
    <p class="cp">7.4	本合同自双方签署之日起成立，<b>自乙方首笔借款发放之日起生效。</b></p>
    <p class="cp">7.5	本合同的“安家趣花“，是指上海奥派数据科技有限公司运营的在线服务平台，其展现形式包括不限于微信公众号、APP、网页；本合同的“平台账号”，即指甲方在上述平台上的open ID、用户名、账户名、手机号等信息。</p>
    <br/>
    <p class="cp"><b>甲方（借款人）：<img ng-src="{{newContractInfo.signaturePicture}}" alt="" class="img_name"/> </b></p>
    <p class="cp"><b>签署日期：<span>{{newContractInfo.signData}}</span> </b></p>
    <p class="cp"><b>乙方（贷款人）：<span>成都维仕小额贷款有限公司</span> </b></p>
    <p class="cp"><b>签署日期：<span>{{newContractInfo.signData }}</span> </b></p>
    <p class="cp"></p>
    <p class="cp"></p>
</div>

<!--2.《个人借款服务与咨询合同》-->
<div class=" pact-wrap bg-fff"> <span></span>
        <h2>个人贷款服务与咨询合同</h2>
        <p style="text-align: right;">合同编号：<span class="short"></span></p>
        <p>借款人（甲方）：<b style="color:#000000;">{{newContractInfo.realName}}</b> </p>
        <p>身份证号码：<b style="color:#000000;">{{newContractInfo.identityNo}}</b> </p>
        <p>居住地址：<b style="color:#000000;">{{newContractInfo.currentAddress}}</b></p>
        <p>移动电话： <b style="color:#000000;">{{newContractInfo.mobile}}</b></p>
        <p>固定电话：<b style="color:#000000;"></b></p>
        <p>电子邮件地址：<b style="color:#000000;"></b></p><br/>
        <p>服务方(乙方)：<b style="color:#000000;">上海维信荟智金融科技有限公司</b> </p>
        <p>住所：<b style="color:#000000;">上海市虹口区乍浦路89号办公楼1幢2801室</b> </p>
        <p class="text-justify">甲方有借款需求，已在<span class="short"><b>安家趣花</b></span>平台完成注册，委托平台提供借款相关的平台服务。同时甲方委托乙方进行授信额度预估、在线借款咨询、协助寻找借款来源、协助提交提现申请以及提供贷后相关服务。本合同所指的“<span class="short">安家趣花</span>”或“平台”，是指：上海奥派数据科技有限公司           运营的在线服务平台，其展现形式包括不限于微信公众号、APP、网页；本合同的“平台账号”，即指甲方在上述平台上的open ID、用户名、账户名等信息</p>
        <p class="text-justify">甲、乙双方同意采用电子合同形式确认双方法律关系，并对电子合同的形式表示认可，合同效力受中华人民共和国法律保护。</p>
        <p><b>第一条 双方权利义务</b></p>
        <p>1、   甲方应积极协助乙方进行贷款申请所需资料的收集和联络等工作，若甲方不协助乙方办理申请贷款工作，则本合同终止，甲方应承担乙方在前期服务工作中所产生的一切费用。</p>
        <p>2、   甲方应及时向乙方提交贷款申请所需要的所有证件和相关材料，并保证所提供的资料及信息的真实、合法和完整。如提供的资料涉及任何变更，包括但不限于甲方姓名、住所、职业和联系电话发生变动，甲方应立即书面通知乙方。</p>
        <p>3、   乙方为甲方提供专业的贷款咨询、指导服务，并进行相关协调工作。乙方可能寻找的贷款人包括但不限于银行、信托公司或小额贷款公司等贷款主体（贷款渠道的确定以最终贷款成功为准）。乙方有权指定或授权其下属分公司行使其权利及履行其义务。</p>
        <p>4、   乙方应按照贷款人的要求及甲方的委托，积极为甲方办理贷款申请事宜。若贷款成功发放，乙方继续为甲方提供贷后服务。乙方的工作包括不限于：对甲方贷款申请资料的归集、贷款资格的认定、资金使用的监管和对甲方进行贷款后的日常管理。</p>
        <p>5、   乙方同意为甲方提供贷款申请服务，但并不保证申请贷款必然成功，甲方的贷款申请是否审批通过，取决于贷款人。</p>
        <p>6、   乙方有权接受贷款人、担保人（如有）的委托，收取甲方应付贷款人、担保人（如有）的款项，有权接受乙方下属分公司的委托，收取甲方应付乙方下属分公司的款项。上述事项乙方可转委托。若甲方逾期支付款项，则乙方有权自行催收或委托合法设立的催告机构进行催收。</p>
        <p>7、   为查询甲方信用状况，审核甲方履约能力，确认甲方享有本合同项下产品的资格，进行贷款后的相关管理与服务，同时为向甲方提供更为全面和广泛的融资、金融等服务，甲方同意并授权乙方在不违反《征信业管理条例》等法律法规及国家关于个人金融信息保护方面相关规定的前提下，向人民银行及其他依法设立的征信机构、资信评估机构、数据分析处理机构或有关法律、监管机构许可的类似机构（统称“信用机构”）、合法设立的身份信息系统、以及为本合同项下产品和服务提供必要技术和服务的合作机构（简称“合作机构”）查询、使用甲方的基本信息、信用信息和信用报告（统称“个人信息”）。且为建立信用体系，甲方同意并授权乙方将其在申请和使用本合同项下产品和服务过程中提供及形成的甲方的个人信息以及乙方查询、收集的个人信息向信用机构、身份信息系统、合作机构、政府机关、监管机构及其他依法有权机构提供。</p>
        <p>8、   为了向甲方提供更优质的服务和产品，甲方确认授权乙方有权将甲方申请和使用本次产品过程中提供及形成的甲方个人信息以及乙方查询、收集到的个人信息，用于乙方以及乙方出于为甲方提供产品和服务的必要而委托的合作机构为甲方提供服务、推荐产品、开展市场调查与信息数据分析。</p>
        <p><b>第二条 贷款详情</b></p>
        <p class="text-justify">经乙方推荐并提供服务，本次<b>甲方与贷款人</b><span class="short"><b>中国对外经济贸易信托有限公司</b></span><b>签署编号为： </b>
        <b>的《贷款合同》（贷款本金数额  {{ContractInfo.withdrawMoney}}  元，还款期数  {{ContractInfo.loanPeriods}}  期）</b>
        </p>
      
        <p><b>第三条 违约责任</b></p>
        <p>甲方违反本合同项下的任何义务，则乙方有权宣布本合同提前到期或解除合同并要求甲方承担相应违约责任。</p>
        <p><b>第四条 合同的生效和解除</b></p>
        <p>1、   本合同采用电子文本形式制成，并在<span class="short">安家趣花</span>平台上保留存档，各方均认可本合同的法律效力，本合同自贷款方实际放款成功之日起生效，至甲方结清本次贷款所涉的所有款项（包括不限于贷款本息、担保费等，详细款项以甲方签署的相关协议约定为准）后终止。甲乙双方亦可通过签署补充协议或另行签署新的《个人贷款服务与咨询合同》的方式终止本合同的履行。</p>
        <p>2、   如甲方提供虚假资料，或隐瞒实际的资产状况，或信用状况发生改变，或涉及刑事案件，或违反本合同的任何约定，乙方有权立即解除本合同。</p>
        <p>3、   若甲方的贷款合同被宣布提前到期或被提前解除，则乙方有权宣布本合同同步提前到期或同步解除，甲方应按本合同第三条约定承担费用支付责任及违约责任。</p>
        <p><b>第五条 争议的解决</b></p>
        <p class="text-justify">因履行本合同引起的任何争议，由各方协商解决；协商不成的，由<b>本合同签约地所属</b><span class="short"><b>上海市浦东新区</b></span> <b>人民法院管辖。</b>本合同签约地： <span class="short"><b>上海市浦东新区</b></span>。</p>
        <p style="text-decoration: underline;"><b>另，甲乙双方特别约定：根据最高人民法院关于适用《民事诉讼法》相关司法解释，甲乙双方一致同意：本合同项下产生的争议提交法院诉讼时，法院可以采用视听传输技术等方式开庭，甲乙双方对此均无任何异议。</b></p>
        <p><b>第六条 合同附件</b></p>
        <p class="text-justify">相关《借款借据》及甲方应乙方要求提供的所有材料和签署的所有文本均为本合同附件，是本合同的组成部分。甲乙双方一致确认：在经乙方事先认可的前提下，除本合同及补充合同、附件等明确约定的事项外，本合同所涉及的其他具体业务的操作可由甲乙双方,或甲方与乙方的委托方通过电话联系予以完成，甲乙双方对此业务办理的效力均予以确认。</p>
        <p><b>第七条 通知与送达</b></p>
        <p><b>1、 送达事项确认：</b></p>
        <p class="text-justify"><b>为确保甲方能及时收到乙方因履行义务、实现权利而发送的通知，以及涉诉后法院/仲裁机构发送的诉讼/仲裁以及执行的法律文书，从而保护甲方合法权益，保障诉讼/仲裁、执行程序顺利进行，甲方应提供真实、准确和有效的送达地址；</b></p>
        <p class="text-justify"><b>甲方确认本条第2款中填写的确认的送达地址作为法律文书送达地址，适用于法院诉讼（含一审、二审、再审）、仲裁及执行阶段，直至本合同项下甲方的权利义务全部履行完毕时止。乙方（或乙方委托人）以及涉诉后法院/仲裁机构向该确认的送达地址发送的相关通知或者文书，如因该地址不正确或者不及时告知地址变更情况，或甲方及其代收人拒绝签收（含无人签收），致使相关通知或者文书未能被实际接收的，文书通知或文书退回之日视为送达之日。</b></p>
        <p class="text-justify"><b>如甲方送达地址发生变更，应当以EMS方式向乙方或涉诉（执行）法院、仲裁机构进行书面告知，否则本合同确认的送达地址继续有效；</b></p>
        <p class="text-justify"><b>鉴于目前电子数据传输技术已非常完善，甲方同意以手机短信方式接受乙方（或乙方委托人）以及涉诉后法院/仲裁机构发送的相关通知或者文书，通知人以及涉诉后法院/仲裁机构已按甲方在本条第2款中指定的手机号码用短信方式发出了相关通知或文书的，也视为送达。如甲方指定的手机号码出现变更、停机、故障等无法正常接收的情况，应当及时书面通知乙方。否则，通知人以及涉诉后法院/仲裁机构按原指定的手机号码发出相关通知或者文书的，即视为送达，甲方不得以未收到相关信息进行抗辩；</b></p>
        <p class="text-justify"><b>甲方同意以邮箱方式（在本条第2款填写邮箱地址，未填写视为不选择）送达相关通知或者文书的，通知或者文书在发送当日视为已送达。如甲方弃用或者删除邮箱但不以EMS方式向乙方及时告知，通知人按原指定邮箱发送相关通知或文书的，即便被退回，亦视为送达。</b></p>
        <p class="text-justify"><b>通知人有权采取一种或者多种方式进行送达，甲方均予以同意并认可。</b></p>
        <p><b>2、确认的送达地址：</b></p>
        <p class="text-justify"><b>（1）甲方确认以下地址为甲方的送达地址：</b></p>
        <p class="text-justify"><b>&nbsp;&nbsp;&nbsp;&nbsp;{{newContractInfo.currentAddress}}</b></p>
        <p class="text-justify"><b>（2）甲方确认下列电子数据传输方式送达：</b></p>
        <p class="text-justify"><b>&nbsp;&nbsp;&nbsp;&nbsp;手机短信（接收号码）：{{newContractInfo.mobile}}  电子邮件（邮箱地址）：</b></p>
        <p class="text-justify"><b>甲方保证上述送达地址及接受送达的手机或邮箱地址真实、准确、有效，如有任何问题，甲方自行承担由此产生的全部法律后果。</b></p>
        <p><b>3、    乙方及甲方均同意授权平台向双方发送消息通知。</b></p>
        <p><b>郑重提示甲方：请每月在约定的支付日期存入贷款相关的所有应付款项并保留直至扣款成功，若因为您未及时全额付款，则将产生还款失败费用。权利人/受托人将每日对您的账户发起扣款，直至扣款成功。</b></p>
        <p><b>甲方承诺：本人已知悉合同及附件全部内容，对此没有异议。</b></p>
        <p><b>甲方已阅读上述全部内容并同意的，请点击“同意”按钮或勾选或签名，若甲方不同意的，请立即停止操作，退出本申请页面。</b></p>
        

       <p>甲方（签字）:<img ng-src="{{newContractInfo.signaturePicture}}" alt="" class="img_name"/></p>
       <p>签约日期:<b>{{newContractInfo.signData }}</b></p>
       <p>乙方（盖章）：<b style="color:#000000;">上海维信荟智金融科技有限公司</b></p>
       <p>签约日期:<b>{{newContractInfo.signData }}</b></p>
    
</div>

<!--3.《平台服务合同-已删除》-->

<!--4.《个人客户扣款授权书》-->
<div class=" pb-10 bg-fff">
    <div class="pact-service-agtee pact-wrap">
        <h2>个人客户扣款授权书</h2>
        <p style="text-align: right;">编号：<span class="short"><b></b></span></p>
        <p><b>授权人姓名：</b><span class="short"><b>{{newContractInfo.realName}}</b></span> </p>
        <p><b>身份证号码：</b><span class="short">{{newContractInfo.identityNo}}</span></p>
        <p><b>联系方式：</b><span class="short"><b>{{newContractInfo.mobile}}</b></span></p>  
        <p>授权人于<span class="underline">{{newContractInfo.signDay}}</span>已经与中国对外经济贸易信托有限公司、上海维信荟智金融科技有限公司以及维仕担保有限公司三方分别签订了《贷款合同》（编号： <span class="under"></span>）、《个人贷款服务与咨询合同》（编号：<span class="under"></span>）、《个人贷款委托担保合同》（编号：<span class="under"></span>）等合同套件(上述公司及其授权代收主体统称“收款人”，上述合同统称“合同”)并承担合同项下的付款义务。为保障收款人的权益，本人不可撤销地授权：收款人指定的第三方支付公司及/或银行可从以下账户中扣划本人在上述合同项下的所有应付款项：</p>
        <p><b>户名（必须同本人姓名）：</b><span class="short">{{newContractInfo.realName}}</span> </p>
        <p><b>卡号：</b><span class="short">{{newContractInfo.cardNo}}</span> </p>
        <p><b>账户性质：</b><span class="short">个人银行结算帐户<b></b></span></p>          
        <p><b>开户银行：</b><span class="short"><b>{{newContractInfo.cardBank}}</b></span></p>  
        <p>本人同意：收款人授权指定的第三方支付公司及/或银行从上述指定账户中主动扣收本人应付款项，届时无须获得本人的同意也无须事先通知本人。本人同意收款人可指定任何有资质的第三方支付公司、银行从本人上述指定账户中进行扣划，<b>包括不限于：翼支付、富友支付、财付通、银联、快钱、网银在线、中国建设银行股份有限公司及其分行等。</b>收款人亦有权增加、变更其指定的第三方支付公司及/或银行，并无需另行通知本人，本人均予以认可，无任何异议。</p>
        <p>本人亦知悉并同意：本授权书中的收款人中的任意一方或者多方，均有权授权他方代收其应收款项，授权代收人为：本授权书约定的收款人中的其他主体或收款人以外的任何主体。在该等授权情形下，则由授权代收人向第三方支付公司及/或银行发送扣收指令，本人对此无异议。</p><br/>
        <p>本人承诺：本人将承担因指定账户余额不足或被查封冻结导致无法按时足额扣款而导致的任何法律责任。</p>
        <p>若因本人变更上述指定扣款账户并经收款人认可，本授权书对本人变更后的账户继续有效。未经收款人书面同意，本授权书不得变更、撤销、解除或终止。本授权书自签署之日起生效，直至本人清偿所有款项或收款人书面通知本授权书失效之日方告失效。</p>
        <p><b>授权人已阅读上述全部内容并同意的，请点击“同意”按钮或勾选或签名，本授权立即生效，若授权人不同意授权，请立即停止操作，退出本申请页面。</b></p>
        <p><b>本人签名：</b><img class="signature" ng-src="{{newContractInfo.signaturePicture}}"/></p>
        <p><b>签署日期：{{newContractInfo.signData }}</b></p>

    </div>
</div>
<!--5.会员合同-->
<div class="pt-header pb-10 bg-fff">
    <div class="pact-service-agtee pact-wrap"><span class="short"></span>
        <h2>安家趣花会员服务协议</h2>
        <p class="number">编号：</p>
        <p><b>会员姓名：{{newContractInfo.realName}}</b></p>
        <p><b>身份证号：{{newContractInfo.identityNo}}</b></p>
        <p>感谢您选择安家趣花会员服务！</p>
        <p class="indent">《安家趣花会员服务协议》（以下简称为“本协议”）是客户（以下简称“客户”或“您”）与<span class="short">上海奥派数据科技有限公司</span>公司（以下简称“平台服务方”）运营的“安家趣花”（以下简称“安家趣花”、“平台”、“安家趣花平台”）之间关于您使用安家趣花会员服务所订立的协议。<b>在使用安家趣花会员服务（以下简称“本服务”）前，请您务必先仔细阅读并同意本协议以下条款：</b></p>
        <p><b>（一）定义</b></p>
        <p class="indent"><b>1.安家趣花会员服务：</b>平台服务方或平台服务方之关联公司及/或与平台服务方或平台服务方关联公司存在合作关系的第三方推出的供您在安家趣花平台使用的服务。</p>
        <p>安家趣花会员服务具体包括：</p>
        <p>（1）  全品类优惠券服务；</p>
        <p>（2）  辅助用户收集用户信息；</p>
        <p>（3）  帮助用户分析借款需求的合理性与可行性；</p>
        <p>（4）  为用户提供信用诊断服务；</p>
        <p>（5）  借款事项的咨询</p>
        <p>（6）  展示借款相关合同并提供在线签署技术服务；</p>
        <p>（7）  其他安家趣花现有及不定时增加的服务。</p>
        <p class="indent">安家趣花将不断创新，并致力于向您提供最优体验的服务，<b>您知悉并同意安家趣花提供的服务形式可不经事先通知您而不时增加、删减或改变。</b></p>
        <p class="indent">用户只能以本人名义使用安家趣花提供的服务。</p>
        <p class="indent"><b>2.会员期限：</b>指用户支付安家趣花会员费用后可享受的安家趣花会员资格的期限，具体<b>以安家趣花平台显示为准。</b></p>
        <p><b>（二）会员费用</b></p>
        <p class="indent"><b>1.您应知悉并认可，您须因激活安家趣花会员身份并使用本服务向安家趣花支付对应的会员服务费用。您应知悉并认可，安家趣花会员服务费用会因服务内容及类型而不时调整，具体以安家趣花平台显示为准。</b></p>
        <p class="indent">2.安家趣花有权要求您主动支付会员服务费用，或者有权从您提供的银行卡账户或第三方支付账户中扣划会员服务费用。<b>若采取扣划方式的，您同意安家趣花有权委托银行或有资质的第三方支付系统从您指定账户中扣划相关会员服务费款项。此时您实际支付费用的时间为委托银行或有资质的第三方支付系统从您指定账户中扣划到相关款项的时间。</b></p>
        <p class="indent"><b>指定账户如下：</b></p>

        <p class="indent"><b>开户行：<span class="long">{{newContractInfo.cardBank}}</span></b></p>
        <p class="indent"><b>户名：<span class="long">{{newContractInfo.realName}}</span></b></p>
        <p class="indent"><b>账号：<span class="long">{{newContractInfo.cardNo}}</span></b></p>
        <p class="indent">3.本服务的服务费用以人民币计费。</p>
        <p class="indent">4.您支付会员服务费后，如因您自身原因并不符合安家趣花提供的服务标准的，您可以根据安家趣花页面提示，向安家趣花申请退还会员服务费。<b>您是否有权申请退还费用，及退还时间等，以安家趣花平台显示及告知为准。</b></p>
        <p class="indent">5.安家趣花可能根据实际运营情况对本会员服务的服务费用的收费模式、收费标准、方式进行修改和变更。<b>如果您不同意上述修改、变更或付费内容，则应停止使用本服务。</b></p>
        <p class="indent">6.您应当理解，您向安家趣花所支付的会员服务费用不包含因您为使用本服务而配备软硬件等产生的费用以及您访问互联网或移动网络而产生的相关费用，您使用安家趣花提供的本服务需自行准备与本服务有关的终端设备（如电脑、手机、平板、调制解调器等装置），您使用本服务时会耗用您的终端设备等资源，且您均应自行承担因使用本服务而需向包括网络运营商在内的第三方支付的相关费用，例如，软硬件购置费、带宽费用、电话费、手机短信费（如有）等。</p>
        <p><b>（三）接受本协议</b></p>
        <p class="indent"><b>1.如您拟使用本服务，您应当阅读并遵守本协议以及现有的及后续可能增加的适用于安家趣花的系列协议，特别是限制或免除责任的相应条款（限制或免除责任的相应条款可能以黑体加粗形式提示您注意）。除非您已阅读并接受上述该等协议的所有条款，否则您无权使用本服务的任何部分或全部。一经确认，则视为您已经阅读、理解本协议内容并接受本协议的约束。 </b></p>
        <p class="indent"><b>2.即便您没有点击同意本协议，如您实际使用本服务，该使用行为将视为您对本协议的完全同意。</b></p>
        <p class="indent"><b>3.您对本协议的同意即视为您已知悉并同意本协议全部条款并且您保证能够完全遵守本协议。</b></p>
        <p><b>（四）本协议的变更</b></p>
        <p class="indent">您知悉并认可，本协议会不定时变更。作出变更后，安家趣花无需另行通知您。<b>如果您不同意修改，请您在本协议修改后不要再使用本服务，一旦您在本协议修改后出现任何使用本服务的行为，则表明您已阅读、知悉并同意修改后的本协议全部内容。</b></p>
        <p><b>（五）其他</b></p>
        <p class="indent"><b>1.在适用法律允许的最大范围内，安家趣花并不担保所提供本服务一定能满足您的要求或符合您的期望，也不担保提供的本服务不会被中断，并且本服务的及时性、安全性、出错发生，以及信息是否能准确、及时、顺利的传送均不作任何担保。</b></p>
        <p class="indent">2.所有致您的通知均可通过与本服务相关的网站公告、电子邮件、常规的站内信件/消息或手机短信传送。<b>该通告于发送或公告之日视为已送达给您。</b></p>
        <p class="indent">3. 本协议作为《安家趣花注册服务协议》的有效组成部分，未尽之处以《安家趣花注册服务协议》为准。</p>
        <p class="indent">4.本协议的订立、执行和解释及争议的解决均应适用中国大陆地区法律。如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；<b>协商不成时，您和安家趣花一致同意交由上海市浦东新区人民法院管辖。另，各方特别约定：根据最高人民法院关于适用《民事诉讼法》相关司法解释，各方一致同意：本协议项下产生的争议提交法院诉讼时，法院可以采用视听传输技术等方式开庭，各方对此均无任何异议。</b></p>
        <p class="indent"><b>5. 本协议自用户在安家趣花平台确认（包括不限于使用签名、勾选、点击确认等确认方式）之日起生效。</b></p>
        <p class="indent"><b>日期：{{newContractInfo.signData}}</b></p>

    </div>
</div>