<!--新版-->
<!--1.《关于变更还款卡号的补充协议》（通用）-->
<div style="overflow-y: auto;overflow-x: hidden;-webkit-overflow-scrolling: touch;height: 100vh;">
    <div class="new-wCT">
        <span class="red"></span><u></u>
        <h3>关于变更还款卡号的补充协议</h3>
        <p class="cp">
            <b>甲方（借款人）：{{ContractInfo.realName}}</b><!-- <span style="float: right">以下称“甲方”</span> -->
        </p>
        <p class="cp">身份证号: {{ContractInfo.identityNo}}</p>
        <p class="cp">手机号: {{ContractInfo.mobile}}</p>

         <!--    <p class="cp">以下称“甲方”</p> -->
        <b></b>
        <br/>
        <br/>
        <p class="cp"><b>乙方（贷款人）：中国对外经济贸易信托有限公司</b></p>

       <!--  <p class="cp">以下统称“乙方”</p> -->
      <!--   <p class="cp ti2">
            甲乙于<span class="under">{{ContractInfo.sltAccountInfo0.yearStr}}</span>年<span class="under">{{ContractInfo.sltAccountInfo0.monthStr}}</span>月<span class="under">{{ContractInfo.sltAccountInfo0.dateStr}}</span>日分别签署编号为<span class="under">{{ContractInfo.sltAccountInfo0.contractNO}}</span>的《贷款合同》、编号为 <span class="under">{{ContractInfo.sltAccountInfo0.contractNO|serviceContract}}</span>《个人贷款服务合同》及编号为 <span class="under">{{ContractInfo.sltAccountInfo0.contractNO|guaranteeContract}}</span>的《个人贷款委托担保合同》等合同（统称“原合同”）并对乙方承担付款义务。
        </p> -->
        <p class="cp ti2">
            甲乙于<span class="under">{{ContractInfo.sltAccountInfo0.yearStr}}</span>年<span class="under">{{ContractInfo.sltAccountInfo0.monthStr}}</span>月<span class="under">{{ContractInfo.sltAccountInfo0.dateStr}}</span>日签署编号为<span class="under">{{ContractInfo.sltAccountInfo0.contractNO}}</span>的《贷款合同》、编号为<span class="under">{{ContractInfo.sltAccountInfo0.contractNO|guaranteeContract}}</span>的《个人贷款委托担保合同》、（以上统称“原合同”）。根据原合同约定，甲方不可撤销地授权银行或者第三方支付公司从甲方以下账户中自动扣划原合同约定的应向乙方支付的所有款项。
        </p>
       <!--  <p class="cp ti2">根据甲乙双方约定，甲方应当及时将应付乙方的款项存入以下账户，并授权乙方或乙方各自的委托方从甲方该账户中扣取相应款项。</p> -->
        <p class="cp ti2">开户行：{{ContractInfo.cardBank}}</p>
        <p class="cp ti2">户名：{{ContractInfo.authAccountName}}</p>
        <p class="cp ti2">账号：{{ContractInfo.cardNo}}</p>
        <p class="cp">现因甲方申请且经乙方同意，甲乙双方一致认可：将上述账户作如下变更：</p>
        <p class="cp ti2">开户行：{{RepaceBindCardObject.cardBank}}</p>
        <p class="cp ti2">户名：{{ContractInfo.authAccountName}}</p>
        <p class="cp ti2">账号：{{RepaceBindCardObject.cardNo}}</p>
        <p class="cp ti2">其他未尽之事宜，以原合同及相关文件为准。</p>
        <br />
        <p class="cp ti2"><b>甲方（借款人）：{{ContractInfo.realName}}</b></p>
        <p class="cp ti2"><b>乙方(贷款人)：</b>中国对外经济贸易信托有限公司</b></p>
    </div>

    <!--2.《关于变更放款卡号的补充协议》（外贸）-->
    <div class="new-wCT">
        <span class="red"></span><u></u>
        <h3>关于变更放款卡号的补充协议</h3>
        <p class="cp">
            <b>甲方（借款人）：{{ContractInfo.realName}}</b>
        </p>
        <p class="cp">身份证号:{{ContractInfo.identityNo}}</p>
        <p class="cp">手机号:{{ContractInfo.mobile}}</p>
        <b></b>
        <p class="cp">
            <b>乙方（贷款人）：</b>中国对外经济贸易信托有限公司
        </p>

      <!--   <p class="cp ti2">甲乙双方于<span class="under">{{ContractInfo.sltAccountInfo0.yearStr}}</span>年
               <span class="under">{{ContractInfo.sltAccountInfo0.monthStr}}</span>月
               <span class="under">{{ContractInfo.sltAccountInfo0.dateStr}}</span>日签署编号为{{ContractInfo.sltAccountInfo0.contractNO}}
            的《贷款合同》（简称“原合同”），原合同约定，乙方委托第三方支付机构/银行以资金代付的方式将本合同项下的贷款本金数额从乙方账户按以下方案划付至甲方专用账户中:
        </p>
        <p class="cp ti2">将人民币（大写）{{ContractInfo.sltAccountInfo0.loanAmount | moneyformatChinese}}（小写）￥{{ContractInfo.sltAccountInfo0.loanAmount}} 元划入甲方专用账户1</p>
        <p class="cp ti2">将人民币（大写）/（小写）￥/元划入甲方专用账户2</p> -->
        <p class="cp ti2">甲乙双方于<span class="under">{{ContractInfo.sltAccountInfo0.yearStr}}</span>年
               <span class="under">{{ContractInfo.sltAccountInfo0.monthStr}}</span>月
               <span class="under">{{ContractInfo.sltAccountInfo0.dateStr}}</span>日签署编号为<span class="under">{{ContractInfo.sltAccountInfo0.contractNO}}</span>的《贷款合同》，其中约定，甲方授权乙方将贷款发放至以下银行账户：</p>
        <br />
        <p>放款账号：</p>
        <br/>
        <p class="cp ti2">账户名称：{{ContractInfo.authAccountName}}</p>
        <p class="cp ti2">开户银行：{{ContractInfo.cardBank}}</p>
        <p class="cp ti2">账号：{{ContractInfo.cardNo}}</p>
        <br/>
<!--         <table class="showTable">
            <tr>
                <td rowspan="3" style="width:20%">账户2:</td>
                <td style="width:20%">开户行：</td>
                <td style="width:60%">/</td>
            </tr>
            <tr>
                <td>户名：</td>
                <td>/</td>
            </tr>
            <tr>
                <td>账号：</td>
                <td>/</td>
            </tr>

        </table> -->
        <p class="cp">现因甲方申请且经乙方同意，甲乙双方一致认可：将上述账户作如下变更：</p>
        <p class="cp ti2">账户名称：{{ContractInfo.authAccountName}}</p>
        <p class="cp ti2">开户银行：{{RepaceBindCardObject.cardBank}}</p>
        <p class="cp ti2">账号：{{RepaceBindCardObject.cardNo}}</p>
        
        <br />
        <p class="cp">其他未尽之事宜，以原文件为准。</p>
        <br />
        <p><b>甲方（借款人）：{{ContractInfo.realName}}</b></p><br/>
        <p><b>乙方（贷款人）：中国对外经济贸易信托有限公司</b></p>
      <!--   <table>
            <tr>
                <td>甲方（借款人）：{{ContractInfo.realName}}</td><br/>
                <td>乙方（贷款人）：中国对外经济贸易信托有限公司</td>
            </tr>
        </table>
 -->
    </div>

    <!--《个人客户扣款授权书》-->
    <div class="new-wCT" style="padding-bottom: 10rem;">
        <div class="pact-service-agtee">
            <h2 style="text-align: center;font-size: 1.6rem">个人客户扣款授权书</h2>
            <p class="cp" style="text-align: center;">
                编号：<span class="short"><b>{{ContractInfo.contractNO}}</b></span>
            </p>
            <p class="cp">
                <b>授权人姓名：</b><span class="short"><b>{{ContractInfo.realName}}</b></span>
            </p>
            <p class="cp">
                <b>身份证号码：</b><span class="short"><b>{{ContractInfo.identityNo}}</b></span>
            </p>
            <p class="cp">
                <b>联系方式：</b><span class="short"><b>{{ContractInfo.mobile}}</b></span>
            </p>
         <!--    <p>授权人于<span class="underline">{{ContractInfo.sltAccountInfo0.yearStr}}</span>年<span class="underline">{{ContractInfo.sltAccountInfo0.monthStr}}</span>月<span class="underline">{{ContractInfo.sltAccountInfo0.dateStr}}</span>已经与中国对外经济贸易信托有限公司、上海维信荟智金融科技有限公司以及维仕担保有限公司三方分别签订了《贷款合同》（编号：<span class="under">{{ContractInfo.sltAccountInfo0.contractNO}}</span> ）、《个人贷款服务与咨询合同》（编号：<span class="under">{{ContractInfo.sltAccountInfo0.contractNO|serviceContract}}</span>）、《个人贷款委托担保合同》（编号：<span class="under">{{ContractInfo.sltAccountInfo0.contractNO|guaranteeContract}}</span>）等合同套件(上述公司及其授权代收主体统称“收款人”，上述合同统称“合同”)并承担合同项下的付款义务。为保障收款人的权益，本人不可撤销地授权：收款人指定的第三方支付公司及/或银行可从以下账户中扣划本人在上述合同项下的所有应付款项：</p> -->
            <p class="cp ti2">
                授权人于<span class="underline">{{ContractInfo.sltAccountInfo0.yearStr}}</span>年<span class="underline">{{ContractInfo.sltAccountInfo0.monthStr}}</span>月<span class="underline">{{ContractInfo.sltAccountInfo0.dateStr}}</span>日在网络平台房易贷与中国对外经济贸易信托有限公司、上海维信荟智金融科技有限公司、维仕担保有限公司分别签订了《贷款合同》（编号：<span class="under">{{ContractInfo.sltAccountInfo0.contractNO}}</span> ）、《个人贷款服务与咨询合同》（编号：<span class="under">{{ContractInfo.sltAccountInfo0.contractNO|serviceContract}}</span>）《个人贷款委托担保合同》（编号：<span class="under">{{ContractInfo.sltAccountInfo0.contractNO|guaranteeContract}}</span>）等合同套件(上述公司及其授权代收主体统称“收款人”，上述合同统称“合同”)并对上述收款人承担付款义务。为保障收款人的权益，本人不可撤销地授权：收款人指定的第三方支付公司及/或银行可从以下账户中扣划本人对上述收款人的所有应付款项：
            </p>
            <p class="cp ti2">
                <b>户名（必须同本人姓名）：</b><span class="short"><b>{{ContractInfo.realName}}</b></span>
            </p>
            <p class="cp ti2">
                <b>卡号：</b><span class="short"><b>{{RepaceBindCardObject.cardNo}}</b></span>
            </p>
            <p class="cp ti2">
                <b>账户性质：</b><span class="short"><b>个人银行结算帐户</b></span>
            </p>
            <p class="cp ti2">
                <b>开户银行：</b><span class="short"><b>{{RepaceBindCardObject.cardBank}}</b></span>
            </p>
            <p class="cp ti2">本人同意：收款人授权指定的第三方支付公司及/或银行从上述指定账户中主动扣收本人应付款项，届时无须获得本人的同意也无须事先通知本人。本人同意收款人可指定任何有资质的第三方支付公司、银行从本人上述指定账户中进行扣划，<b>包括不限于：翼支付、富友支付、财付通、银联、快钱、网银在线、中国建设银行股份有限公司及其分行等。</b>收款人亦有权增加、变更其指定的第三方支付公司及/或银行，并无需另行通知本人，本人均予以认可，无任何异议。</p>
            <p class="cp ti2">本人亦知悉并同意：本授权书中的收款人中的任意一方或者多方，均有权授权他方代收其应收款项，授权代收人为：本授权书约定的收款人中的其他主体或收款人以外的任何主体。在该等授权情形下，则由授权代收人向第三方支付公司及/或银行发送扣收指令，本人对此无异议。</p><br/>
            <p class="cp ti2">本人承诺：本人将承担因指定账户余额不足或被查封冻结导致无法按时足额扣款而导致的任何法律责任。
            </p><br/>
            <p class="cp ti2">若因本人变更上述指定扣款账户并经收款人认可，本授权书对本人变更后的账户继续有效。未经收款人书面同意，本授权书不得变更、撤销、解除或终止。本授权书自签署之日起生效，直至本人清偿所有款项或收款人书面通知本授权书失效之日方告失效。
            </p>
            <p class="cp ti2"><b>授权人已阅读上述全部内容并同意的，请点击“同意”按钮或勾选或签名，本授权立即生效，若授权人不同意授权，请立即停止操作，退出本申请页面。</b></p>     
            <p class="cp ti2">
                <!--<b>本人签名：<img ng-if="isAgreeFinish == '1'" ng-src="{{ContractInfo.signaturePicture}}"  class="img_name"/></b>-->
                <b>本人签名：{{ContractInfo.realName}}</b>
            </p>
            <p class="cp ti2">
                <b>签署日期：{{contractSignData}}</b>
            </p>

        </div>
    </div>

</div>
<div class="ajqh-button-flex bg-fff" ng-show="isSign=='1'" style="position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    z-index: 5000;
">
    <button class="ajqh-btn-white mr-5" ng-click="cancel()">取消</button>
    <button class="ajqh-btn" ng-click="agree()">同意</button>
</div>