<!--1.《个人信用借款合同》（分期）-->
<div class="new-wCT"> <span class="red"></span>
    <h3>个人信用借款合同</h3>
    <p class="fr">合同编号：<span class="red"></span></p>

    <p class="cp"><b>甲方（借款人）：<span class="red"></span></b>{{}}</p>
    <p class="cp">身份证号: <span class="red"></span></p>
    <p class="cp">银行卡号: <span class="red"></span></p>
    <p class="cp">手机号: <span class="red"></span></p>
    <p class="cp"><b>乙方（贷款人）：<span class="red">成都维仕小额贷款有限公司</span></b></p>
    <p class="cp">住所：<span class="red">成都市锦江区总府路2号时代广场B座1213号 </span></p><br/>
    <p class="cp"><b>鉴于</b></p>
    <p class="cp">1.甲方有资金需求，乙方是一家合法成立并有效存续的小额贷款公司，拥有合法的小额贷款资质，可在法定的经营范围内向个人提供消费信用贷款。</p>
    <p class="cp">2.甲方具有合法的借款需求，乙方自愿以其合法资金向甲方提供贷款。乙方以本合同为依据与甲方形成真实、合法、有效的债权。</p>
    <p class="cp">3.本合同采用电子合同形式，甲、乙双方均对电子合同的形式表示认可，合同效力受中华人民共和国法律法规规章以及相关地方文件的保护。</p>
    <p>甲乙双方基于平等自愿原则，就有关借款事项于{{newContractInfo.signData |date:'yyyy年MM月dd日'}}达成如下合同，以兹共守：</p>
    <p class="cp fork"><b>第一条	借款基本信息</b></p>
    <p class="cp"><b>1.1	在甲方向上海奥派数据科技有限公司购物并延迟支付剩余购物款的情形下，若甲方未在约定时间即每月 <span class="red"></span>日 向上海奥派数据科技有限公司支付其剩余购物款，即视为甲方向乙方提交借款发放申请。乙方每月将根据甲方应付未付的剩余购物款金额，为甲方发放一笔与该金额一致的借款款项，并将借款受托支付至上海奥派数据科技有限公司，以完成甲方应付购物款的支付。双方认可并同意：甲乙双方不再就单笔借款逐个签署借款合同，因本合同约定情形发生的借款事宜，均以本合同约定为准。若甲方每月按期支付剩余购物款，或对剩余购物款进行分期操作的 ，本合同在该月则不适用。</b></p>
    <p class="cp"><b>1.2	借款金额：</b>与甲方每月应付未付的剩余购物款金额一致，并以乙方实际发放金额为准；</p>
    <p class="cp"><b>借款期限：</b>每笔借款均为<span class="red">7</span> 天；</p>
    <p class="cp"><b>借款用途：</b>个人消费；</p>
    <p class="cp"><b>借款开始日：</b>为乙方放款日，即乙方将借款款项支付往甲方于本合同第二条指定的账户之日，若该日期晚于该借款款项划离乙方账户之日的，则以该借款款项划离乙方账户之日为乙方放款日；</p>
    <p class="cp"><b>还款日：</b>每笔借款放款后的第<span class="red">7</span> 天（含放款日当日），节假日不顺延；</p>
    <p class="cp"><b>还款金额：</b>与借款金额一致。</p><br/>
    <p class="cp fork"><b>第二条	借款发放</b></p>
    <p class="cp">2.1	甲乙双方确认：甲方借款用途是向上海奥派数据科技有限公司支付商品购物款，故甲方特此委托乙方每次将本合同项下的借款均发放至上海奥派数据科技有限公司的以下账户：</p>
    <table>
        <tr>
            <td>开户行：<span class="red"></span></td>
            <td> 户名：上海奥派数据科技有限公司  </td>
        </tr>
        <tr>
            <td colspan="2">账号：</td>
        </tr>
    </table>
    <br/>

    <p class="cp fork"><b>第三条	还款</b></p>
    <p class="cp">3.1	甲方应在每笔借款发放后<b>依照第一条约定的还款日和还款金额履行还款义务。</b></p>
    <p class="cp">3.2	甲方同意乙方从甲方以下还款账户中扣取应还金额，甲方应在该账户中足额存入款项直至乙方扣收成功，且乙方不接受部分还款：</p>
    <p class="cp ti2">开户行：<span class="red"></span></p>
    <p class="cp ti2">户名：<span class="red"></span></p>
    <p class="cp ti2">账号：<span class="red"></span></p>
    <p class="cp">3.3	甲方不可撤销地授权银行或者第三方支付公司从上述还款账户中自动扣划本合同约定的还款金额（包括不限于到期还款金额、逾期相关款项），届时无须获得甲方的同意也无须事先通知甲方，直至借款（包括但不限于本金、利息、逾期相关款项）全部结清。乙方可指定任何有资质的银行或者第三方支付公司（包括不限于：富友支付、财付通、银联、快钱等）进行扣划，乙方有权增加、变更银行或者第三方支付公司且无需通知甲方。因还款账户余额不足或被查封冻结等原因导致无法按时足额扣款而导致的任何法律责任由甲方承担。若因甲方变更上述还款账户需书面通知乙方并经乙方认可，本合同的授权对甲方变更后的账户继续有效。</p>
    <p class="cp">3.4	甲方应严格履行还款义务，若甲方未于本合同规定的还款日足额还款，产生逾期，则甲方除应归还到期还款金额外，还需额外向乙方支付以下款项：</p>
    <p class="cp"><b>（1）逾期罚息</b></p>
    <p class="cp">逾期罚息计算公式如下： </p>
    <p class="cp">罚息总额 = 逾期本息总额×对应罚息利率×逾期天数；</p>
    <p class="cp">逾期天数：自还款日之次日起算</p>
    <p class="cp">罚息利率： <span class="red"></span>  %</p>
    <p class="cp"><b>（2）扣款失败违约金</b></p>
    <p class="cp">甲方的还款时间为乙方委托银行或资质的第三方支付系统从甲方账户中扣划到相关款项的时间。如因包括但不限于甲方账户余额不足等原因导致扣划失败，甲方应就失败的次数向乙方每笔每次支付扣款失败违约金 <span class="red"></span> 元每笔。</p>
    <br/>
    <p class="cp">3.5	提前清贷</p>
    <p class="cp ti2">3.5.1 甲方有权一次性提前偿还借款。</p>
    <p class="cp ti2">3.5.2甲方确认提前清贷后，乙方或乙方的受托方将委托银行或者第三方支付公司从3.2约定的还款账户中扣除提前清贷全部款项，扣款成功后，提前清贷成功。</p>
    <p class="cp ti2">3.5.3 甲方应在3.2中约定的账户中足额存入提前清贷应付款项直至乙方扣收成功，如乙方扣收时，甲方账户金额不足以偿还约定的提前清贷应付款项总额，则提前清贷失败。</p>
    <p class="cp ti2">3.6甲乙双方一致同意：<b>若甲方向上海奥派数据科技有限公司退货的，甲方应继续按照本合同约定继续履行还款义务，甲方应将本次借款资金用途严格控制在约定用途范围内。</b>若甲方需提前清贷的，可按照上述3.5的约定完成。</p>
    <p class="cp fork"><b>第四条 双方的权利、义务</b></p>
    <p class="cp">4.1	甲方的权利、义务</p>
    <p class="cp ti2">（1）	按本合同之约定如期清偿借款本金、利息（若有）、扣款失败违约金（若有）、罚息（若有）和其他所有应付乙方的款项。甲方同意：相关权利人有权在受托或亲自进行催收和追索债务等工作时，将甲方的身份信息、联络信息及甲方拖欠本合同项下债务的相关信息提供给第三方（包括不限于律师事务所和催收机构）。</p>
    <p class="cp ti2">（2）	甲方应按照本合同约定的用途使用借款，自觉接受乙方对本合同项下借款使用情况及甲方还款能力的调查、了解及监督。</p>
    <p class="cp ti2">（3）	保证按乙方贷款审查的需求提供真实、准确、完整的个人资料。如提供的资料涉及任何变更，包括但不限于甲方姓名、住所、职业和联系电话发生变动，甲方应自发生变动之日起，二个工作日内书面通知乙方。</p>
    <p class="cp ti2">（4）	自本合同签订之日起，甲方为自身债务或第三方债务提供任何担保应提前5日通知乙方。</p>
    <p class="cp ti2">（5）	甲方同意：乙方有权向安家趣花平台收集甲方主动向安家趣花提供的以及甲方授权安家趣花获取的甲方所有信息和资料，同时有权通过其他合法渠道收集甲方的信息和资料。</p>
    <p class="cp ti2">（6）	甲方同意：乙方可以向第三方转让本合同项下的权利，如乙方转让本合同下的权利，甲方同意乙方无需再行通知，转让后甲方继续向新的权利受让人履行本合同下的所有义务。</p>
    <p class="cp ti2">（7）	为查询甲方信用状况，审核甲方履约能力，确认甲方享有本合同项下产品的资格，进行贷后的相关管理与服务，同时为向甲方提供更为全面和广泛的融资、金融等服务，甲方同意并授权乙方在不违反《征信业管理条例》等法律法规及国家关于个人金融信息保护方面相关规定的前提下，向人民银行及其他依法设立的征信机构、资信评估机构、数据分析处理机构或有关法律、监管机构许可的类似机构（统称“信用机构”）、合法设立的身份信息系统、以及为本合同项下产品和服务提供必要技术和服务的合作机构（简称“合作机构”）查询、使用甲方的基本信息、信用信息和信用报告（统称“个人信息”）。且为建立信用体系，甲方同意并授权乙方将其在申请和使用本合同项下产品和服务过程中提供及形成的甲方的个人信息以及乙方查询、收集的个人信息向信用机构、身份信息系统、合作机构、政府机关、监管机构及其他依法有权机构提供。</p>
    <p class="cp ti2">（8）	为了向甲方提供更优质的服务和产品，甲方确认授权乙方有权将甲方申请和使用本次产品过程中提供及形成的甲方个人信息以及乙方查询、收集到的个人信息，用于乙方以及乙方出于为甲方提供产品和服务的必要而委托的合作机构为甲方提供服务、推荐产品、开展市场调查与信息数据分析。</p>
    <p class="cp">4.2	乙方的权利、义务</p>
    <p class="cp ti2">（1）	乙方有权要求甲方提供贷款审查所需的全部资料，并有权按照甲方同意的范围使用或提供该类资料。乙方有权主动收集甲方资料，对甲方进行信用调查，包括但不限于向征信机构、身份信息系统等合法机构查询甲方的信用信息、向安家趣花平台和其他合法渠道收集甲方的所有资料和信息。</p>
    <p class="cp ti2">（2）	如甲方未向乙方如实提供贷款审查所需的资料，或本合同签订后甲方未能提前5日通知乙方其为自身债务或第三方债务提供担保的情况，或违反本合同约定的用途使用借款，或违反本合同项下的还款及支付义务，或信用状况发生改变、或涉及刑事案件，或出现其他违反合同约定的情形，则乙方有权宣布本合同借款提前到期或本合同立即解除，自乙方宣布借款提前到期或解除合同之日起，甲方应立即偿还全部借款本金、剩余借款期的全部利息、罚息、相应违约金和其他所有应付款项。<b>由于甲方违约导致借款提前到期或者本合同被提前解除的，甲方应向乙方支付相当于借款金额30%的违约金。</b></p>
    <p class="cp ti2">（3）	依本合同约定或法律规定向甲方收取应偿付的借款本金、利息、相应罚息及所有其他应付款项。针对甲方拖欠上述款项的违约行为，乙方或其委托机构有权向甲方申请借款时提供的联系人，及有关部门（包括甲方所在工作单位）予以通报，有权通过新闻媒体实现公告催收，有权采用短信、电话、信函、上门等形式予以催告，或采取诉讼等法律手段。乙方或其委托机构采取上述催款方式所引起的一切费用（包括但不限于调查费、交通通信费、法院案件受理费、律师费等）均由甲方承担。乙方为保障本身利益先行垫付的费用，乙方有权随时向甲方追讨。</p>
    <p class="cp ti2">（4）	依本合同约定向甲方提供借款服务，包括借款发放、提供专业的借款咨询服务、办理借款申请的相关手续及为其提供借款后的管理服务。</p>
    <p class="cp fork"><b>第五条	通知</b></p>
    <p class="cp">5.1	甲方确认：一旦乙方或乙方授权的第三方（包括安家趣花）向甲方电子邮件地址、平台账号、手机号码发出信息、通知或其他任何函件，均视为有效送达。</p>
    <p class="cp">5.2	乙方及甲方均同意授权安家趣花向双方发送消息通知。</p>
    <p class="cp fork"><b>第六条	适用法律及争议解决</b></p>
    <p class="cp"><b>因本合同产生之争议，提交乙方住所地（ <span class="red">成都市锦江区</span> ）人民法院管辖。</b></p>
    <p class="cp fork"><b>第七条	其他</b></p>
    <p class="cp">7.1	本合同采用电子文本形式制成并在安家趣花平台保留存档，各方均认可本合同的法律效力。</p>
    <p class="cp">7.2	变更本合同内容需另行签署补充协议，甲方承诺将配合签署。</p>
    <p class="cp">7.3	如果本合同中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响其他有效条款的效力。</p>
    <p class="cp">7.4	本合同自双方签署之日起成立，<b>自乙方首笔借款发放之日起生效。</b></p>
    <p class="cp">7.5	本合同的“安家趣花“，是指上海奥派数据科技有限公司运营的在线服务平台，其展现形式包括不限于微信公众号、APP、网页；本合同的“平台账号”，即指甲方在上述平台上的open ID、用户名、账户名、手机号等信息。</p>
    <br/>
    <table>
        <tr>
            <td><b>甲方（借款人）：<span class="red"></span> </b></td>
            <td><b>乙方（贷款人）：<span class="red"></span> </b></td>
        </tr>
        <tr>
            <td><b>签署日期：<span class="red"></span> </b></td>
            <td><b> 签署日期：<span class="red"></span> </b></td>
        </tr>
    </table>
</div>
<!--2.《个人借款服务与咨询合同》(分期)-->
<div class="new-wCT"> <span class="red"></span>
    <h3>个人借款服务与咨询合同</h3>
    <p class="tar"><span class="red">合同编号：</span></p>
    <p class="cp"><b>甲方（借款人）：<span class="red"></span></b></p>
    <p class="cp">身份证号：<span class="red"></span></p>
    <p class="cp">银行卡号：<span class="red"></span></p>
    <p class="cp">手机号：<span class="red"></span></p>
    <p class="cp"><b>乙方（服务方）：<span class="red">上海维信荟智金融科技有限公司</span></b></p>
    <p class="cp"><b>住所：<span class="red"></span></b></p>
    <p class="cp"><b>鉴于：</b></p>
    <p class="cp">1.    甲方有借款需求，已在安家趣花平台完成注册，委托平台提供借款相关的平台服务。同时，甲方同意委托乙方提供借款咨询、协助寻找借款来源、协助办理相应借款申请手续以及提供贷后相关服务。</p>
    <p class="cp">2.    乙方是在上海市合法成立并有效存续的有限责任公司，为客户提供借款相关的咨询与服务。</p>
    <p class="cp">3.    甲、乙双方同意采用电子合同形式确认双方法律关系，并对电子合同的形式表示认可，合同效力受中华人民共和国法律保护。</p>
    <br/>
    <p class="cp">甲、乙双方依据《中华人民共和国合同法》等相关法律法规规定，通过友好、平等、自愿原则，就有关借款服务与咨询事项达成如下条款，以兹共守：</p>
    <p class="cp fork">第一条  双方权利义务</p>
    <p class="cp">1.    甲方应积极协助乙方进行借款申请服务时所需资料的收集和提交等工作。</p>
    <p class="cp">2.    甲方应及时向乙方提交借款申请所需要的所有证件和相关材料，并保证所提供的资料及信息的真实、合法和完整。如提供的资料涉及任何变更，包括但不限于甲方姓名、住所、职业和联系电话发生变动，甲方应立即书面通知乙方。</p>
    <p class="cp">3.    甲方应按本合同约定如期支付手续费、服务费。</p>
    <p class="cp">4.    乙方为甲方提供专业的借款咨询服务，并进行与平台、贷款方、担保方（若有）等相关主体间的一系列协调工作。乙方可能寻找的贷款方包括但不限于银行、信托公司、P2P平台或小额贷款公司等贷款主体（贷款主体的确定以最终借款成功为准）。</p>
    <p class="cp">5.    乙方应按照贷款方的要求及甲方的委托，积极为甲方办理借款申请事宜。若借款成功发放，乙方继续为甲方提供贷后管理与咨询服务。</p>
    <p class="cp">6.    乙方同意为甲方提交借款申请，但并不保证申请借款必然成功，甲方的借款申请是否审批通过，取决于贷款方。</p>
    <p class="cp">7.    乙方有权向甲方收取手续费、服务费用，并有权委托第三方代收。若甲方逾期支付款项，则乙方有权自行催收或委托合法设立的催告机构进行催收。</p>
    <p class="cp">8、    为查询甲方信用状况，审核甲方履约能力，确认甲方享有本合同项下产品的资格，进行贷款后的相关管理与服务，同时为向甲方提供更为全面和广泛的融资、金融等服务，甲方同意并授权乙方在不违反《征信业管理条例》等法律法规及国家关于个人金融信息保护方面相关规定的前提下，向人民银行及其他依法设立的征信机构、资信评估机构、数据分析处理机构或有关法律、监管机构许可的类似机构（统称“信用机构”）、合法设立的身份信息系统、以及为本合同项下产品和服务提供必要技术和服务的合作机构（简称“合作机构”）查询、使用甲方的基本信息、信用信息和信用报告（统称“个人信息”）。且为建立信用体系，甲方同意并授权乙方将其在申请和使用本合同项下产品和服务过程中提供及形成的甲方的个人信息以及乙方查询、收集的个人信息向信用机构、身份信息系统、合作机构、政府机关、监管机构及其他依法有权机构提供。</p>
    <p class="cp">9、    为了向甲方提供更优质的服务和产品，甲方确认授权乙方有权将甲方申请和使用本次产品过程中提供及形成的甲方个人信息以及乙方查询、收集到的个人信息，用于乙方以及乙方出于为甲方提供产品和服务的必要而委托的合作机构为甲方提供服务、推荐产品、开展市场调查与信息数据分析。</p>
    <p class="cp fork"><b>第二条   费用</b></p>
    <p class="cp"><b>1. 手续费:</b>经乙方推荐并提供服务，甲方与贷款人签订《个人信用借款合同》（合同编号 <u></u>  ，借款金额  <u></u>  ，借款期限  <u></u>  期）。甲方应在放款日当日或之前支付手续费<u></u>元。乙方有权委托贷款方在放款时扣除该手续费或者委托银行或者第三方支付系统从本条第4款的账户中扣划。</p>
    <p class="cp"><b>2. 服务费：</b>甲方应付的服务费为 <b>  12  元/月。</b> 甲方支付服务费的时间为<b>每月<u></u> 日</b>，服务费<b>首次支付日期为<u></u>  年   <u></u>   月 <u></u> 日。</b></p>
    <p class="cp ti2"><b>甲方支付的服务费详情如下：</b></p>
    <p class="cp ti2"><b>首次应付：</b>服务费自贷款方放款日计收至服务费首次支付日，计收方式为：放款日至服务费首次支付日的实际天数*月服务费/30。</p>
    <p class="cp ti2"><b>第二次（含）起：</b>每月应付服务费 （大写）  16     （小写） 16   元。</p>
    <p class="cp ti2"><b>服务费支付日期在节假日不顺延。</b></p>
    <p class="cp"><b>3. 提前清贷服务费：</b>甲方若申请提前清贷的，应通过安家趣花平台进行提前清贷操作，安家趣花平台在接收甲方清贷需求后转交乙方，由乙方协助甲方办理提前清贷。甲方为此应向乙方支付提前清贷服务费，<b>提前清贷服务费=剩余本金*  17    * 18  %。若上述公式计算得出的提前清贷服务费金额低于100元的，以100元计收提前清贷服务费。</b>甲方在提前清贷时，对于截止至清贷日的应付未付之服务费，甲方仍应向乙方支付。</p>
    <p class="cp">4.    甲方同意乙方/乙方的代收方委托银行或有资质的第三方支付系统从甲方以下指定账户中扣划手续费、服务费、提前清贷款项等相关款项；甲方实际支付费用的时间为乙方/乙方的代收方委托银行或有资质的第三方支付系统从甲方指定账户中扣划到相关款项的时间。</p>
    <table>
        <tr>
            <td>开户行：<span class="red"></span></td>
            <td> 户名： <span class="red"></span> </td>
        </tr>
        <tr>
            <td colspan="2">账号：<span class="red"></span></td>
        </tr>
    </table>
    <p class="cp"><b>因甲方向乙方支付费用的账户与甲方向贷款人还款的账户为同一账户，</b>甲乙双方同意：在甲方账户余额不足以支付全部应付款时，贷款人应收款项应优先于乙方费用的扣划。</p>
    <p class="cp">5.    如因包括但不限于甲方账户余额不足、甲方办理扣款账户挂失、销户、银行止付等原因导致应付乙方款项扣划失败，则甲方应就失败的次数支付扣款失败费用每笔每次人民币     21     元。</p>
    <p class="cp fork"><b>第三条   违约责任</b></p>
    <p class="cp">1.    甲方违反本合同项下的任何一期付款义务，则乙方提前解除本合同，自乙方宣布本合同提前解除之日起三个工作日内，甲方应立即付清全部未付（包括到期与未到期）的手续费及服务费。</p>
    <p class="cp">2.    乙方宣布解除本合同的，甲方除应立即付清全部未付（包括到期与未到期）的手续费及服务费外，<b>还应向乙方支付相当于服务费总金额30%的违约金。</b></p>
    <p class="cp fork"><b>第四条   适用法律及争议解决</b></p>
    <p class="cp"><b>本合同的签订、履行、终止、解释均适用中华人民共和国法律，因本合同产生之争议，提交上海市 <u>浦东新区</u>区人民法院管辖。</b></p>
    <p class="cp fork"><b>第五条   通知</b></p>
    <p class="cp">1.    任何一方因履行本合同作出的通知和/或文件均应为书面形式，并通过短信、电子邮件及在线消息等方式传送。</p>
    <p class="cp">2.    甲方确认：一旦乙方或乙方授权的第三方向甲方电子邮件地址、平台账号、手机号码发出信息、通知或其他任何函件，均视为有效送达。</p>
    <p class="cp">3.    甲方同意乙方通过平台向其发送消息通知。</p>
    <p class="cp fork"><b>第六条   其他</b></p>
    <p class="cp">1.    本合同采用电子文本形式制成，并在安家趣花平台上保留存档，各方均认可本合同的法律效力。</p>
    <p class="cp">2.    变更本合同内容需另行签署补充协议，甲方承诺将配合签署。</p>
    <p class="cp">3.    如果本合同中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响其他有效条款的效力。</p>
    <p class="cp">4.    本合同的“安家趣花”或“平台”，是指上海奥派数据科技有限公司运营的在线服务平台，其展现形式包括不限于微信公众号、APP、网页；本合同的“平台账号”，即指甲方在上述平台上的open ID、用户名、账户名等信息。</p>
    <br/>
    <table>
        <tr>
            <td><b>甲方（借款人）：<span class="red"></span> </b></td>
            <td><b>乙方（服务方）：<span class="red"></span> </b></td>
        </tr>
        <tr>
            <td><b>签署日期：<span class="red"></span> </b></td>
            <td><b> 签署日期：<span class="red"></span> </b></td>
        </tr>
    </table>
    </div>
<!--3.《安家趣花平台服务合同》(分期)-->
<div class="pt-header pb-10 bg-fff">
    <div class="pact-service-agtee pact-wrap">
        <h2>安家趣花平台服务合同</h2>
        <p style="text-align: right;">合同编号：</p>
        <p><b>甲方（借款人）：</b><b style="color:red;">{{ContractInfo.realName}}</b> </p>
        <p>身份证号：<b style="color:red;">{{ContractInfo.identityNo}}</b> </p>
        <p>银行卡号：<b style="color:red;">{{ContractInfo.mobile}}</b></p>
        <p>手机号： <b style="color:red;"></b></p>
        <p><b>乙方（平台方或平台服务方）：</b><b>上海奥派数据科技有限公司</b> </p>
        <p>住所：<b style="color:red;"></b> </p>        
        <p class="text-justify"><b>请仔细阅读本合同的全部条款，一经点击“同意”/勾选/签名，则视为您已经阅读、理解本合同内容并接受本合同的约束，同意遵守合同的全部内容和条款。如果您不同意本合同的任何内容或相关条款及规则，则请勿继续操作并请立即退出登录。</b></p>
        <p class="text-justify">鉴于：</p>
        <p class="text-justify">1.  甲方有借款需求并已同意“安家趣花注册服务协议”并完成注册，委托乙方提供借款相关的在线平台服务。</p>
        <p class="text-justify">2.  乙方是在上海市合法成立并有效存续的有限责任公司，拥有并负责运营“安家趣花”。本合同中乙方指上海奥派数据科技有限公司及“安家趣花”。</p>
        <p class="text-justify">3.  甲、乙双方同意采用电子合同形式确认双方法律关系，并对电子合同的形式表示认可，合同效力受中华人民共和国法律保护。</p>
        <p class="text-justify">甲、乙双方依据相关法律法规规定，通过友好、平等、自愿原则，就有关乙方提供的平台服务事项，在甲方已确认的《安家趣花注册服务协议》基础上，达成如下条款，以兹共守：</p>
        <p class="text-justify"><b>第一条 服务内容</b></p>
        <p class="text-justify">(一) 经乙方提供的在线平台服务，甲方已通过贷款人的审批，并与贷款人等权利方签署《xxxxx7合同》（合同编号<span class="short"><b>上海市浦东新区</b></span>，借款金额<span class="short"><b>上海市浦东新区</b></span>，借款期限<span class="short"><b>上海市浦东新区</b></span>）等法律文件。</p>
        <p class="text-justify">(二) 乙方向甲方提供的服务，包括但不限于辅助用户验证信息、授信预估、在线借款咨询、协助提交借款申请、借款相关协议的展示与签署、还款账单查询与展示、还款事宜提醒、提供主动还款通道、受理提前清贷需求、受理贷后咨询、协助用户进行还款管理等服务。</p>   
        <p class="text-justify"><b>第二条 费用条款</b></p>
        <p class="text-justify">基于第一条所述服务，甲方同意向乙方支付如下因平台服务发生的相关费用：</p>
        <table class="loan-con">
            <tbody><tr style="text-align: center;">
                <td colspan="15">费用明细</td>
            </tr>
            <tr>
                <td colspan="11">平台手续费</td>
                <td colspan="4" ><b style="color: red">11</b></td>
            </tr>            
            <tr>
                <td rowspan="2" colspan="4">固定平台服务费金额</td>
                <td colspan="7">每月应付平台服务费</td>
                <td colspan="4"><b style="color: red">11</b></td>
            </tr>
            <tr>
                <td colspan="7">每月支付日</td>
                <td colspan="4">见下述</td>
            </tr>
            <tr>
                <td rowspan="10" colspan="4">非固定平台服务费金额</td>
                <td colspan="7">首期每日平台服务费金额</td>
                <td colspan="4"><b style="color: red">11</b></td>
            </tr>            
            <tr>
                <td colspan="7">自第二期起每日平台服务费金额</td>
                <td colspan="4"><b style="color: red">11</b></td>
            </tr>
            <tr>
                <td colspan="7">平台服务费支付日</td>
                <td colspan="4">
                    <p>贷款发放后的每月  28  日；</p>
                    <p>每月<b style="color: red">11</b>日，首次支付日为：  <b style="color: red">11</b> 年<b style="color: red">11</b>  月<b style="color: red">11</b>日。</p>
                </td>
            </tr>            



                </tbody></table>
        
         <p class="text-justify"><b>（一）平台手续费：</b>甲方应在放款日当日或之前支付手续费。乙方有权委托贷款方在放款时扣除该手续费或者委托银行或者第三方支付系统从本条第三款的账户中扣划。</p>
         <p class="text-justify">（二）平台服务费：</p>
         <p class="text-justify"><b>若平台服务费支付方式是每期固定金额的，</b>甲方应在借款发放的次月起开始按月等额支付平台<b>服务费，支付日期为每月归还本息之日，即：每月与贷款人放款日对应日期的前一日；若放款日晚于当月<span class="short"><b  style="color:red">上海市浦东新区</b></span>日，则支付日期为每月<span class="short"><b  style="color:red">上海市浦东新区</b></span>日。节假日不顺延。</b>甲方应付的全部平台服务费按借款期平均成每月等额向乙方支付，直至借款期限届满。若乙方给予甲方免收平台服务费优惠的，本合同的其他条款仍然有效。费用支付期数与还款期数相同。</p>
         <p class="text-justify">若甲方平台服务费支付方式是非固定金额的，甲方应在每个还款日支付平台服务费，首期平台服务费为：首期每日平台服务费金额x自贷款放款日至首期支付日的天数（含当日）。乙方给予甲方免收平台服务费优惠的，本合同的其他条款仍然有效。费用支付期数与还款期数相同。</p>
         <p class="text-justify">（三）<b>平台清贷费：</b>甲方若申请提前清贷的，应通过乙方平台进行提前清贷操作，<b>甲方应向乙方支付平台清贷费，详情见借款借据。</b>甲方在提前清贷时，对于截止至清贷日的应付未付之平台服务费，甲方仍应向乙方支付。</p>
         <p class="text-justify">（四）甲方同意乙方/乙方的代收方委托银行或有资质的第三方支付系统从甲方以下指定账户中扣划平台手续费、平台服务费、平台清贷费等相关款项；甲方实际支付费用的时间为乙方/乙方的代收方委托银行或有资质的第三方支付系统从甲方指定账户中扣划到相关款项的时间。</p>
         <p class="text-justify"><b>开户行：<span class="short"><b  style="color:red">上海市浦东新区</b></span>户名：<span class="short"><b  style="color:red">上海市浦东新区</b></span> 卡号： 16XXXX XXXX XXXX XXXX</b></p>
         <p class="text-justify"><b>因甲方向乙方支付费用的账户与甲方向贷款人还款的账户为同一账户，</b>甲乙双方同意：在甲方账户余额不足以支付全部应付款时，贷款人应收款项应优先于乙方应收费用的扣划。</p>
                 




        <p class="text-justify"><b>第三条  违约责任 </b></p>
        <p class="text-justify">1.   甲方违反本合同项下的任何一期付款义务，则乙方提前解除本合同，自乙方宣布本合同提前解除之日起三个工作日内，甲方应立即付清全部未付（包括到期与未到期）的平台手续费及平台服务费。
        </p>
        <p class="text-justify">2.  乙方宣布解除本合同的，甲方除应立即付清全部未付（包括到期与未到期）的平台手续费及平台服务费外，还应向乙方支付相当于平台服务费总金额30%的违约金。
        </p>        
        <p class="text-justify"><b>第四条   适用法律及争议解决</b></p>
        <p class="text-justify">本合同的签订、履行、终止、解释均适用中华人民共和国法律，因本合同产生之争议<b>，提交上海市浦东新区人民法院管辖。</b></p>
        <p class="text-justify"><b>第五条   通知</b></p>
        <p class="text-justify">1.  任何一方因履行本合同作出的通知和/或文件均应为书面形式，并通过短信、电子邮件及在线消息等方式传送。</p>
        <p class="text-justify">2.  甲方确认：一旦乙方或乙方授权的第三方向甲方电子邮件地址、平台账号发出信息、通知或其他任何函件，均视为有效送达。</p>
        <p class="text-justify">3.  甲方同意乙方通过“安家趣花”向其发送消息通知。</p>
        <p class="text-justify"><b>第六条  其他</b></p>
        <p class="text-justify">1.  本合同采用电子文本形式制成，并在安家趣花平台上保留存档，各方均认可本合同的法律效力。</p>
        <p class="text-justify">2.  变更本合同内容需另行签署补充协议，甲方承诺将配合签署。</p>
        <p class="text-justify">3.  如果本合同中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响其他有效条款的效力。</p>
        <p class="text-justify">4.  本合同的“安家趣花”或“平台”，是指上海奥派数据科技有限公司运营的在线服务平台，其展现形式包括不限于微信公众号、APP、网页；本合同的“平台账号”，即指甲方在上述平台上的open ID、用户名、账户名等信息。</p>           
    <table style="width:100%;">
        <tbody>
          <tr>
                        <td>甲方:<b class="ng-binding">{{ContractInfo.realName}}</b></td>
                        <td style="text-align: right">乙方：<b>上海奥派数据科技有限公司</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>日期:<a href=""><b class="ng-binding">{{ContractInfo.nowyear}}</b></a>/
                        <a href=""><b class="ng-binding">{{ContractInfo.nowMonth}}</b></a>/
                        <a href=""><b class="ng-binding">{{ContractInfo.nowDay}}</b></a>
                    </td>
                    <td style="text-align: right">日期:<a href=""><b style="color:red;" class="ng-binding">{{ContractInfo.nowyear}}</b></a>/
                    <a href=""><b class="ng-binding">{{ContractInfo.nowMonth}}</b></a>/
                    <a href=""><b class="ng-binding">{{ContractInfo.nowDay}}</b></a>
                </td>
            </tr>
            <tr>
                <td colspan="2"></b></td>
            </tr>
        </tbody>
    </table>     

        <div class=" ajp-pos-flex-bottom ajp-btn-wrap-con bg-fff ajp-button-flex">
            <button class="ajp-btn disabled mr-1" ng-click="cancel();"
                    ng-show='UserInfo.changeCardFlag!=1'>取消
            </button>
            <button class="ajp-btn" ng-click="agree()"
                    ng-show='UserInfo.changeCardFlag!=1'>同意
            </button>

            <button class="ajp-btn" ng-click="goBackToChangeCard()"
                    ng-show='UserInfo.changeCardFlag==1'>返回
            </button>            
        </div>
    </div>
</div>
<!--4.《个人客户扣款授权书》(分期)-->
<div class="new-wCT"> <span class="red"></span><u></u>
    <h3>个人客户扣款授权书</h3>
    <p class="fr"><span class="red">合同编号：[]</span></p>
    <p class="cp"><b>授权人姓名：</b></p>
    <p class="cp"><b>身份证号码：</b></p>
    <p class="cp"><b>联系方式： </b></p>
    <p class="cp">授权人于_5&deductYear&_年5_&deductMonth&_月5_&deductDay&_日在网络平台<u>安家趣花</u> 与上海奥派数据科技有限公司、成都维仕小额贷款有限公司、8XXX公司以及分别签订了《平台服务合同》（编号：9&ContractNoFW&）、《个人信用借款合同》（编号：10&ContractNoFW&）、《个人借款服务与咨询合同》（编号：11&ContractNoFW&）等合同套件(上述公司及其授权代收主体统称“收款人”，上述合同统称“合同”)并承担合同项下的付款义务。为保障收款人的权益，本人不可撤销地授权：收款人指定的第三方支付公司及/或银行可从以下账户中扣划本人在上述合同项下的所有应付款项：</p>
    <p class="cp"><b>户名（必须同本人姓名）： 12 &Name&            </b></p>
    <p class="cp"><b>卡号： 13 &CashCardNo&    </b></p>
    <p class="cp"><b>账户性质：</b>个人银行结算帐户 </p>
    <p class="cp"><b>开户银行：</b></p>
    <p class="cp">本人同意：收款人授权指定的第三方支付公司及/或银行从上述指定账户中主动扣收本人应付款项，届时无须获得本人的同意也无须事先通知本人。本人同意收款人可指定任何有资质的第三方支付公司、银行从本人上述指定账户中进行扣划，<b>包括不限于：翼支付、富友支付、财付通、银联、快钱、网银在线、中国建设银行股份有限公司及其分行等。</b>收款人亦有权增加、变更其指定的第三方支付公司及/或银行，并无需另行通知本人，本人均予以认可，无任何异议。</p>
    <p class="cp">本人亦知悉并同意：本授权书中的收款人中的任意一方或者多方，均有权授权他方代收其应收款项，授权代收人为：本授权书约定的收款人中的其他主体或收款人以外的任何主体。在该等授权情形下，则由授权代收人向第三方支付公司及/或银行发送扣收指令，本人对此无异议。</p>
    <p class="cp">本人承诺：本人将承担因指定账户余额不足或被查封冻结导致无法按时足额扣款而导致的任何法律责任。</p>
    <p class="cp">若因本人变更上述指定扣款账户并经收款人认可，本授权书对本人变更后的账户继续有效。未经收款人书面同意，本授权书不得变更、撤销、解除或终止。本授权书自签署之日起生效，直至本人清偿所有款项或收款人书面通知本授权书失效之日方告失效</p>
    <p class="cp"><b>授权人已阅读上述全部内容并同意的，请点击“同意”按钮或勾选或签名，本授权立即生效，若授权人不同意授权，请立即停止操作，退出本申请页面。</b></p>
    <p class="cp"><b>本人签名：</b></p>
    <p class="cp"><b>签署日期:</b></p>
    <p class="cp"></p>

    </div>
<!--5.《特别提示函》（分期）-->
<div class="new-wCT"> <u></u>   <b>   </b>
    <h3>特别提示函</h3>

    <p class="cp">尊敬的   1    客户：</p>
    <p class="cp">为完善我司在线服务平台“ <u> 安家趣花</u>  ”的服务质量，维护您的合法权益，请您仔细阅读并确认以下事项：</p>
    <p class="cp"><b>一、借款详情</b></p>
    <p class="cp"><b>1.金额与期限：</b>您本次的借款金额为    2     元，借款期限为 3   期。</p>
    <p class="cp"><b>2.还款及费用：</b></p>
    <p class="cp ti2">您应向贷款方支付利率<b>  4   %/月</b>；应向贷款服务方每月支付服务费<b>___5___元</b>；应向平台每月支付<b>平台服务费___6___元。</b></p>
    <p class="cp"><b>3.手续费：</b></p>
    <p class="cp ti2">您应在<b>  7  年  7 月 7  日</b>向贷款服务方支付手续费<b> __8______元</b>，向平台支付平台手续费<b> ___9_____元</b>，由贷款服务方、平台或其受托人<b> 授权银行或者第三方支付系统从您的还款账户中直接扣收</b>，请您在账户中保留足额款项以确保贷款服务方扣收成功。若您的账户余额不足，权利人将每日检索您的账户发起扣款，直至扣款成功，且该手续费将优先于其他应还款项扣划。</p>
    <p class="cp"><b>4.按约付款：</b></p>
    <p class="cp">您的<b>每月应付款项及金额如下：</b></p>
    <p class="cp">（1）  10  年10  月  10 日：应付手续费  11  元，应付平台手续费 12   元，应还本金 13     元，应付利息 14    元，应付服务费   15    元，应付平台服务费   16   元，<b>共计为___17_____元。</b></p>
    <p class="cp">（2）   18 年 18 月 18  日：应还本金  19    元，应付自放款日至本次还款日的利息、服务费、平台服务费，计收方式为：放款日及本次还款日的实际天数*（月利息+月服务费+月平台服务费）/30。</p>
    <p class="cp">（3）  25  年  25  月（含该月）起，每月  26  日：应付本金 27  元，应付利息  28   元，应付服务费 29   元，应付平台服务费 30  元，<b>共计为___31_____元。</b></p>
    <p class="cp">若因为您未及时全额还款导致扣款失败，权利人/受托人将每日检索您的账户发起扣款，直至扣款成功。请您务必做好资金安排。</p>
    <p class="cp"><b>二、提前还款</b></p>
    <p class="cp">若您需提前还款，请通过平台进行申请操作，当您通过平台确认还款金额后，权利人/受托人将从您的还款账户进行扣款，扣款成功后，提前还款成功。</p>
    <p class="cp"><b>三、付费</b></p>
    <p class="cp"><b>1.谨慎还款：</b>请<b>不要直接</b> 向我司员工<b>给付用于偿还合同约定的应还款项，</b> 请按照约定或我司工作人员提示，将还款存入合同约定账户或我司特别指定的公司收款账户，<b>请勿存入任何个人收款账户。</b></p>
    <p class="cp"><b>2.妥善保管放款银行卡与账户密码:</b>请<b>不要</b>在放贷后向我司人员提供<b>您的放款银行卡或放款账户密码。</b></p>
    <p class="cp"><b>四、管辖法院</b></p>
    <p class="cp">若因履行《个人信用借款合同》引起的争议，由 <u>成都市锦江区</u>人民法院管辖，因履行《个人借款服务与咨询合同》、《平台服务合同》引起的争议，由 <u>上海市浦东新区</u> 人民法院管辖。</p>
    <p class="cp">若您需提前还款或有任何疑问或投诉，请致电我司客户服务中心：<u>4006173039</u> ，我司会竭诚为您提供优质服务。</p>
    <p class="cp tar"><b>上海奥派数据科技有限公司</b></p>
    <hr/>
    <p class="cp ti2"><b>请您充分阅读、知悉、理解以上提示的全部内容，若您已阅读上述内容并同意，请您点击本页面的“同意”按钮或勾选或签名，表示您接受全部内容，若您不同意上述内容，请您立即停止操作，退出操作页面。</b></p>
    <p class="cp"></p>



    </div>