<div class="Announcement" holl-page>
    亲爱的安家派、安家趣花的用户们：
    <br/>近期我司发现有不法分子假冒我司名义，诱骗客户以微信、支付宝或银行卡等形式，将还款存入不法分子的账户，为了您的资金及信息安全，请您仔细阅读以下内容：
    <br/>
    <br/>1、我司从未授权任何员工通过个人账户进行收款，请勿通过任何个人转账形式还款。
    <br/>2、我司当前并未开通微信或支付宝收款方式，请勿以微信或支付宝方式还款。后续若开通微信或支付宝账户，我司将另行通知。
    <br/>3、请您务必按官方平台要求进行还款，若还款功能异常，及时与我司官方客服确认后，再进行还款。
    <br/>4、 我司官方客服电话为：4001017700。若接到显示为021—60467491的电话，也是安家趣花的客服电话，除此之外，其他任何电话号码以我司名义联系您，请立即拨打官方客服电话确认真实性。我司官方客服工作时间为：周一至周日8:45-20:00。
    <br/><br/>为了用户们的切身利益，我司再次提醒谨慎还款，防止上当受骗。同时，我司殷切提醒广大用户发现类似欺诈情形的，可立即联系我司，或直接报警，我司将追究该不法分子的法律责任。

    <br/><br/><br/>
    <p class="tar">2017年05月</p>


</div>

