    <div class="pact-service-agtee pact-wrap bg-fff" style="line-height: 2rem;">
        <h2>个人公积金账户信息授权书</h2>

        <p class="indent">为使本人能够在上海奥派数据科技有限公司（以下简称“奥派”）上方便快捷的查询本人公积金账户信息，同时有利于提高本人在奥派的信用资质，特此签署本授权书。</p><br/>
        <p class="indent">1、	本人同意向奥派提供本人公积金账户的登录信息（包括不限于用户名、密码、验证码等），并授权奥派获取本人公积金账户内记载的账户详情（简称“公积金账户信息”）。 </p><br/>
        <p class="indent">2、	在奥派根据本授权获取本人公积金账户信息后，本人授权奥派有权：</p><br/>
        <p class="indent">（1）保存并整合该信息，并在奥派平台向本人展示全部或部分详情，以便本人便利快捷地查询和获知该信息；<br/>（2）保存并评估该信息，用于评判本人信用资质；<br/>（3）提供给奥派合作的贷款方、贷款担保方（如有）及贷款服务方（如有）以及奥派的关联公司（统称“贷款权利人”），以便本人通过奥派办理贷款相关业务。本人同时授权贷款权利人将该信息用于贷款推荐、贷款审查、贷后管理等与贷款业务相关的用途。</p><br/>
        <p class="indent">3、	奥派保存的个人公积金账户信息，均系某一时间对本人公积金账户记载详情的汇总或整合，奥派不得对该信息进行任何实质性更改。奥派不对其保存的个人公积金账户信息的及时性、完整性、准确性和真实性承担任何保证责任。若因该信息产生的任何疑问或纠纷，由本人自行联系公积金管理机构。</p><br/>
        <p class="indent">4、	 本人承诺将妥善保管个人公积金账户的账号和密码，并严格对本人公积金账户信息详情保密。奥派仅有权将获取的个人公积金账户的登录信息和账户记载详情用于本授权书约定的用途。奥派不得以任何形式非法保存、滥用、泄露、恶意公开本人的个人公积金账户信息（除依据国家法律法规或司法机关、行政机关的要求外）。非因奥派过错而造成的本人公积金账户异常（包括不限于账号及密码外泄、账号被锁定、账户被冒用、账户异常、账户信息泄露等情形，均由本人自行承担责任。</p><br/>
        <p class="tr">本人签字：{{ContractInfo.realName}}</p>
        <p class="tr">日    期：{{ContractInfo.nowyear}}/{{ContractInfo.nowMonth}}/{{ContractInfo.nowDay}}</p>
    </div>