<!--1.《个人信用借款合同》-->
<div class="new-wCT"> <span></span>
    <h3>个人信用借款合同</h3>
    <p class="fr">合同编号：<span></span></p>

    <p class="cp"><b>甲方（借款人）：<span>{{ContractInfo.realName}}</span></b>{{}}</p>
    <p class="cp">身份证号: <span>{{ContractInfo.identityNo}}</span></p>
    <p class="cp">银行卡号: <span>{{ContractInfo.cardNo}}</span></p>
    <p class="cp">手机号: <span>{{ContractInfo.mobile}}</span></p>
    <p class="cp"><b>乙方（贷款人）：<span>成都维仕小额贷款有限公司</span></b></p>
    <p class="cp">住所：<span>成都市锦江区总府路2号时代广场B座1213号 </span></p><br/>
    <p class="cp"><b>鉴于</b></p>
    <p class="cp">1.    甲方有资金需求，乙方是一家合法成立并有效存续的小额贷款公司，拥有合法的小额贷款资质，可在法定的经营范围内向个人提供消费信用贷款。</p>
    <p class="cp">2.    甲方具有合法的借款需求，乙方自愿以其合法资金向甲方提供贷款。乙方以本合同为依据与甲方形成真实、合法、有效的债权。</p>
    <p class="cp">3.    本合同采用电子合同形式，甲、乙双方均对电子合同的形式表示认可，合同效力受中华人民共和国法律法规规章以及相关地方文件的保护。</p>
    <p>甲乙双方基于平等自愿原则，就有关借款事项于{{ContractInfo.signData}}达成如下合同，以兹共守：</p>
    <p class="cp fork"><b>第一条   借款基本信息</b></p>
    <p class="cp"><b>1.1    在甲方向上海奥派数据科技有限公司购物并延迟支付剩余购物款的情形下，若甲方未在约定时间即每月<span>{{ContractInfo.repaymentDay}}</span>日 向上海奥派数据科技有限公司足额支付其剩余购物款，即视为甲方向乙方提交借款发放申请。乙方每月将根据甲方应付未付的剩余购物款金额，为甲方发放一笔与该金额一致的借款款项，并将借款受托支付至上海奥派数据科技有限公司，以完成甲方应付购物款的支付。双方认可并同意：甲乙双方不再就单笔借款逐个签署借款合同，因本合同约定情形发生的借款事宜，均以本合同约定为准。若甲方每月按期支付剩余购物款，或对剩余购物款进行分期操作的 ，本合同在该月则不适用。</b></p>
    <p class="cp"><b>1.2    借款金额：</b>与甲方每月应付未付的剩余购物款金额一致，并以乙方实际发放金额为准；</p>
    <p class="cp"><b>借款期限：</b>每笔借款均为<span>3</span> 期，自放款日至首次还款日视为1期；</p>
    <p class="cp"><b>借款利率：</b> {{ContractInfo.monthInterestPercent | number}}%/月；</p>
    <p class="cp"><b>借款用途：</b>个人消费；</p>
    <p class="cp"><b>借款开始日：</b>为乙方放款日，即乙方将借款款项支付往甲方于本合同第二条指定的账户之日，若该日期晚于该借款款项划离乙方账户之日的，则以该借款款项划离乙方账户之日为乙方放款日；</p>
    <p class="cp"><b>还款日：</b>每笔借款放款后的每月{{ContractInfo.repaymentDay}} 日，节假日不顺延。首次还款日详见   平台短信。</p>
    <p class="cp"><b>还款金额：</b>首期还款金额为：借款金额/借款期限+借款金额*月利率/30*贷款起始日至首期还款日（含当日）；此后的每期还款金额为：借款金额/借款期限+借款金额*月利率</p><br/>
    <p class="cp fork"><b>第二条   借款发放</b></p>
    <p class="cp">2.1   甲乙双方确认：甲方借款用途是向上海奥派数据科技有限公司支付商品购物款，故甲方特此委托乙方每次将本合同项下的借款均发放至上海奥派数据科技有限公司的以下账户：</p>
    <p>开户行：<span>浦发银行</span></p>
    <p>户名：上海奥派数据科技有限公司</p>
    <p>账号：97990155300001887</p>
    <br/>
    <p class="cp">2.2   甲乙双方确认，本合同项下的款项一旦从乙方的银行账户或第三方支付账户转出，即视为借款资金已经发放，甲方不得以任何理由拒绝履行本合同项下的还款义务。</p>

    <p class="cp fork"><b>第三条   还款</b></p>
    <p class="cp">3.1   甲方应在每笔借款发放后<b>依照第一条约定的还款日和还款金额履行还款义务。</b></p>
    <p class="cp">3.2   甲方同意乙方从甲方以下还款账户中扣取应还金额，甲方应在该账户中足额存入款项直至乙方扣收成功，且乙方不接受部分还款：</p>
    <p class="cp ti2">开户行：<span>{{ContractInfo.cardBank}}</span></p>
    <p class="cp ti2">户名：<span>{{ContractInfo.realName}}</span></p>
    <p class="cp ti2">账号：<span>{{ContractInfo.cardNo}}</span></p>
    <p class="cp">3.3   甲方不可撤销地授权银行或者第三方支付公司从上述还款账户中自动扣划本合同约定的还款金额（包括不限于到期还款金额、逾期相关款项），届时无须获得甲方的同意也无须事先通知甲方，直至借款（包括但不限于本金、利息、逾期相关款项）全部结清。乙方可指定任何有资质的银行或者第三方支付公司（包括不限于：富友支付、财付通、银联、快钱等）进行扣划，乙方有权增加、变更银行或者第三方支付公司且无需通知甲方。因还款账户余额不足或被查封冻结等原因导致无法按时足额扣款而导致的任何法律责任由甲方承担。若因甲方变更上述还款账户需书面通知乙方并经乙方认可，本合同的授权对甲方变更后的账户继续有效。</p>
    <p class="cp">3.4   甲方应严格履行还款义务，若甲方未于本合同规定的还款日足额还款，产生逾期，则甲方除应归还到期还款金额外，还需额外向乙方支付以下款项：</p>
    <p class="cp"><b>（1）逾期罚息</b></p>
    <p class="cp">逾期罚息计算公式如下： </p>
    <p class="cp">罚息总额 = 逾期本息总额×对应罚息利率×逾期天数；</p>
    <p class="cp">逾期天数：自还款日之次日起算</p>
    <p class="cp">罚息利率：0.2%</p>
    <p class="cp"><b>（2）扣款失败违约金</b></p>
    <p class="cp">甲方的还款时间为乙方委托银行或资质的第三方支付系统从甲方账户中扣划到相关款项的时间。如因包括但不限于甲方账户余额不足等原因导致扣划失败，甲方应就失败的次数向乙方每笔每次支付扣款失败违约金 <span>{{dedit}}</span> 元每笔。</p>
    <br/>
    <p class="cp">3.5   提前清贷</p>
    <p class="cp">3.5.1 甲方有权一次性提前偿还借款。提前清贷总额按以下公式计算：</p>
    <p class="cp ti2">提前清贷总额=逾期总额（若有）+当前未计利息+剩余本金</p>
    <p class="cp ti2">当前未计利息=借款本金*未计利息天数*（月利率/30）</p>
    <p class="cp ti2">3.5.2甲方确认提前清贷后，乙方或乙方的受托方将委托银行或者第三方支付公司从3.2约定的还款账户中扣除提前清贷全部款项，扣款成功后，提前清贷成功。</p>
    <p class="cp ti2">3.5.3 甲方应在3.2中约定的账户中足额存入提前清贷应付款项直至乙方扣收成功，如乙方扣收时，甲方账户金额不足以偿还约定的提前清贷应付款项总额，则提前清贷失败。</p>
    <p class="cp ti2">3.6甲乙双方一致同意：<b>若甲方向上海奥派数据科技有限公司退货的，甲方应继续按照本合同约定继续履行还款义务，甲方应将本次借款资金用途严格控制在约定用途范围内。</b>若甲方需提前清贷的，可按照上述3.5的约定完成。</p>
    <p class="cp fork">第四条 双方的权利、义务</p>
    <p class="cp">4.1   甲方的权利、义务</p>
    <p class="cp ti2">（1）   按本合同之约定如期清偿借款本金、利息（若有）、扣款失败违约金（若有）、罚息（若有）和其他所有应付乙方的款项。甲方同意：相关权利人有权在受托或亲自进行催收和追索债务等工作时，将甲方的身份信息、联络信息及甲方拖欠本合同项下债务的相关信息提供给第三方（包括不限于律师事务所和催收机构）。</p>
    <p class="cp ti2">（2）   甲方应按照本合同约定的用途使用借款，自觉接受乙方对本合同项下借款使用情况及甲方还款能力的调查、了解及监督。</p>
    <p class="cp ti2">（3）   保证按乙方贷款审查的需求提供真实、准确、完整的个人资料。如提供的资料涉及任何变更，包括但不限于甲方姓名、住所、职业和联系电话发生变动，甲方应自发生变动之日起，二个工作日内书面通知乙方。</p>
    <p class="cp ti2">（4）   自本合同签订之日起，甲方为自身债务或第三方债务提供任何担保应提前5日通知乙方。</p>
    <p class="cp ti2">（5）   甲方同意：乙方有权向安家趣花平台收集甲方主动向安家趣花提供的以及甲方授权安家趣花获取的甲方所有信息和资料，同时有权通过其他合法渠道收集甲方的信息和资料。</p>
    <p class="cp ti2">（6）   甲方同意：乙方可以向第三方转让本合同项下的权利，如乙方转让本合同下的权利，甲方同意乙方无需再行通知，转让后甲方继续向新的权利受让人履行本合同下的所有义务。</p>
    <p class="cp ti2">（7）   为查询甲方信用状况，审核甲方履约能力，确认甲方享有本合同项下产品的资格，进行贷后的相关管理与服务，同时为向甲方提供更为全面和广泛的融资、金融等服务，甲方同意并授权乙方在不违反《征信业管理条例》等法律法规及国家关于个人金融信息保护方面相关规定的前提下，向人民银行及其他依法设立的征信机构、资信评估机构、数据分析处理机构或有关法律、监管机构许可的类似机构（统称“信用机构”）、合法设立的身份信息系统、以及为本合同项下产品和服务提供必要技术和服务的合作机构（简称“合作机构”）查询、使用甲方的基本信息、信用信息和信用报告（统称“个人信息”）。且为建立信用体系，甲方同意并授权乙方将其在申请和使用本合同项下产品和服务过程中提供及形成的甲方的个人信息以及乙方查询、收集的个人信息向信用机构、身份信息系统、合作机构、政府机关、监管机构及其他依法有权机构提供。</p>
    <p class="cp ti2">（8）   为了向甲方提供更优质的服务和产品，甲方确认授权乙方有权将甲方申请和使用本次产品过程中提供及形成的甲方个人信息以及乙方查询、收集到的个人信息，用于乙方以及乙方出于为甲方提供产品和服务的必要而委托的合作机构为甲方提供服务、推荐产品、开展市场调查与信息数据分析。</p>
    <p class="cp">4.2   乙方的权利、义务</p>
    <p class="cp">（1）   乙方有权要求甲方提供贷款审查所需的全部资料，并有权按照甲方同意的范围使用或提供该类资料。乙方有权主动收集甲方资料，对甲方进行信用调查，包括但不限于向征信机构、身份信息系统等合法机构查询甲方的信用信息、向安家趣花平台和其他合法渠道收集甲方的所有资料和信息。</p>
    <p class="cp">（2）   如甲方未向乙方如实提供贷款审查所需的资料，或本合同签订后甲方未能提前5日通知乙方其为自身债务或第三方债务提供担保的情况，或违反本合同约定的用途使用借款，或违反本合同项下的还款及支付义务，或信用状况发生改变、或涉及刑事案件，或出现其他违反合同约定的情形，则乙方有权宣布本合同借款提前到期或本合同立即解除，自乙方宣布借款提前到期或解除合同之日起，甲方应立即偿还全部借款本金、剩余借款期的全部利息、罚息、相应违约金和其他所有应付款项。<b>由于甲方违约导致借款提前到期或者本合同被提前解除的，甲方应向乙方支付相当于借款金额30%的违约金。</b></p>
    <p class="cp">（3）   依本合同约定或法律规定向甲方收取应偿付的借款本金、利息、相应罚息及所有其他应付款项。针对甲方拖欠上述款项的违约行为，乙方或其委托机构有权向甲方申请借款时提供的联系人，及有关部门（包括甲方所在工作单位）予以通报，有权通过新闻媒体实现公告催收，有权采用短信、电话、信函、上门等形式予以催告，或采取诉讼等法律手段。乙方或其委托机构采取上述催款方式所引起的一切费用（包括但不限于调查费、交通通信费、法院案件受理费、律师费等）均由甲方承担。乙方为保障本身利益先行垫付的费用，乙方有权随时向甲方追讨。</p>
    <p class="cp">（4）   依本合同约定向甲方提供借款服务，包括借款发放、提供专业的借款咨询服务、办理借款申请的相关手续及为其提供借款后的管理服务。</p>
    <p class="cp fork">第五条  通知</p>
    <p class="cp">5.1   甲方确认：一旦乙方或乙方授权的第三方（包括安家趣花）向甲方电子邮件地址、平台账号、手机号码发出信息、通知或其他任何函件，均视为有效送达。</p>
    <p class="cp">5.2   乙方及甲方均同意授权安家趣花向双方发送消息通知。</p>
    <p class="cp fork">第六条  适用法律及争议解决</p>
    <p class="cp">本合同的签订、履行、终止、解释均适用中华人民共和国法律，<b>因本合同产生之争议，提交乙方住所地 （成都市锦江区 ）人民法院管辖。</b></p>
    <p class="cp fork">第七条  其他</p>
    <p class="cp">7.1   本合同采用电子文本形式制成并在安家趣花平台保留存档，各方均认可本合同的法律效力。</p>
    <p class="cp">7.2   变更本合同内容需另行签署补充协议，甲方承诺将配合签署。</p>
    <p class="cp">7.3   如果本合同中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响其他有效条款的效力。</p>
    <p class="cp">7.4   本合同自双方签署之日起成立，<b>自乙方首笔借款发放之日起生效。</b></p>
    <p class="cp">7.5   本合同的“安家趣花“，是指上海奥派数据科技有限公司运营的在线服务平台，其展现形式包括不限于微信公众号、APP、网页；本合同的“平台账号”，即指甲方在上述平台上的open ID、用户名、账户名、手机号等信息。</p>
    <br/>
    <p class="cp"><b>甲方（借款人）：<span>{{ContractInfo.realName}}</span> </b></p>
    <p class="cp"><b>签署日期：<span><span>{{ContractInfo.nowyear}}</span>年<span>{{ContractInfo.nowMonth}}</span>月<span>{{ContractInfo.nowDay}}</span>日</span></b></p>
    <p class="cp"><b>乙方（贷款人）：<span>成都维仕小额贷款有限公司</span> </b></p>
    <p class="cp"><b>签署日期：<span><span>{{ContractInfo.nowyear}}</span>年<span>{{ContractInfo.nowMonth}}</span>月<span>{{ContractInfo.nowDay}}</span>日</span> </b></p>
    <p class="cp"></p>
    <p class="cp"></p>
</div>

<!--2.《附件一：还款代扣授权书》-->
<div class="pt-header pb-10 bg-fff">
    <div class="pact-service-agtee pact-wrap">
        <h2>还款代扣授权书</h2>
        <!-- <p>本还款代扣授权书由委托人与受托人
        于<b style="color:#000000;" class="ng-binding">{{ContractInfo.nowyear}}年{{ContractInfo.nowMonth}}月{{ContractInfo.nowDay}} 日</b>签署：</p> -->
        <p><b>委托人：</b></p>
        <p><span class="under">{{ContractInfo.realName}}</span></p>
        <p><b>身份证号码：</b><span class="under">{{ContractInfo.identityNo}}</span></p><br/>
        <p><b>委托人：</b></p>
        <p><span class="under">中国对外经济贸易信托有限公司</span></p>
       <!--  <p><b>地址：</b></p>
        <p><span style="border-bottom: 1px solid #000;">中国北京市复兴门大街28号凯晨世贸中心中座F6层</span></p> -->
        <p>委托人与受托人于<span class="short">{{ContractInfo.nowyear}}</span> 年<span class="short">{{ContractInfo.nowMonth}}</span>月
        <span class="short">{{ContractInfo.nowDay}}</span>日签订了《贷款合同》(编号为：<span class="under"> </span>                          ）。根据《贷款合同》的约定，委托人应当向受托人按月偿还贷款本息，如逾期还款的，还须按《贷款合同》的约定支付逾期违约金。
    </p>
    
    <p>委托人在此特别授权受托人并不可撤销地同意受托人每月通过其委托的第三方支付机构/银行从委托人的专用账户中，将委托人当月应当偿还的逾期违约金（或有）、应还利息、应还本金直接扣除并划付至受托人的信托财产专户中。</p>
    <p>委托人的专用账户信息如下：</p>
    
    <p><b>开户名：<span class="long">{{ContractInfo.realName}}</span></b></p>
    <p><b>开户行：<span class="long">{{ContractInfo.cardNo}}</span></b></p>
    <p><b>账号：<span class="long">{{ContractInfo.cardBank}}</span></b></p>
    <p>委托人确保上述专用账户在委托扣款日账户状态正常（即非冻结、销户、挂失等）且账户内余额充足，受托人或其委托的第三方支付机构/银行可实现成功扣款。因还款日委托人专用账户状态不正常或者账户内余额不足导致扣款不成功的，由此产生的逾期违约金均由委托人承担。
    </p>


    <p>本授权书项下的委托期限自《贷款合同》生效之日起至委托人在《贷款合同》项下约定的各项贷款本息及其他款项（如有）全部偿还完毕之日止。委托人在此特别声明：委托人对于受托人及其委托的第三方支付机构/银行在本授权书项下对委托人银行账户中款项的划扣，不提出任何异议。<b>委托人通过电话、短信、微信、电子邮件、书面函件等形式变更本授权书下的银行账户，受托人及其委托的第三方支付机构/银行有权从变更后的银行账户直接进行划扣，无需委托人另行出具纸质授权书。</b>受托人在《贷款合同》存续期间或《贷款合同》期满将《贷款合同》项下债权转让给新的受让人，或因委托人违反《贷款合同》导致担保人向受托人进行担保赔付的，委托人不可撤销的同意授权新的债权受让人、担保人及其委托的第三方支付机构/银行委托扣划的权利。</p>
    <p>本授权书自《贷款合同》文首所载之日起成立，授权书一式叁份，委托人、受托人及受托人委托的第三方支付机构/银行各执壹份，每份具有相同的法律效力。</p>


    <p><b>委托人签字：{{ContractInfo.realName}}</b></p>
    <p><b>日期：</b><span>{{ContractInfo.nowyear}}</span>年<span>{{ContractInfo.nowMonth}}</span>月<span>{{ContractInfo.nowDay}}</span>日
</p>
<p></p>
</div>
</div>
<!--3.《附件二：还款事项提醒函》-->
<div class="pt-header pb-10 bg-fff">
    <div class="pact-service-agtee pact-wrap">
        <h2>还款事项提示函</h2>

        <p><span class="short">{{ContractInfo.realName}}</span>先生/女士您好：</p>
        
        <p>为了您更加方便、快捷的进行编号为<span class="short"> </span>的贷款合同项下的还款，同时积累良好的信用记录，在此，请您特别注意如下事项：</p>
        
        <p>1.<b>还款账户：</b>在贷款合同里列示的银行帐户是您每次用于还款的账户，请您妥善保管好该银行卡/存折。如发生此银行卡/存折丢失、损坏的情况，请您第一时间联系我们，我们将根据具体情况，协助您安排按时还款事宜，以避免不必要的逾期违约金的产生。如您需要变更还款账户，请向我们提出申请，我们相关的工作人员将协助您，进行变更还款账户事项的办理。</p>
        
        <p>2.  <b>还款账户最低余额为15元：</b>为了保证您的还款成功划扣，请确保您的还款账户余额在划扣当月还款额以后，还有至少15元的余额存在您的还款账户里，此金额有可能用于支付开户银行的“年费”和其他相关费用。关于此“年费”和其他费用收费标准，请致电您的开户银行咨询。</p>
        
        <p>3.  <b>还款金额：</b>您的每月还款本息为人民币<span class="short">{{ContractInfo.monthlyPrincipalInterestAmt|number:2}}</span>元，<b>请您务必牢记此数字</b>。</p>

        <p>4.  <b>还款时间：</b>请您在每月还款日之前，将每月还款额<b>足额</b>存到您的借记卡里，逾期将产生不必要的逾期违约金，并会影响您的个人信用记录。<b>请您务必牢记此还款日，</b>此还款日期不因节假日顺延。还款日为：<input id="check1-1" class="art-checkbox" type="checkbox"  disabled/>为每月与放款日（放款日即：贷款本金划离乙方账户之日）对应之日期的前一日；若放款日晚于当月25日，则还款日为每月24日。<input id="check1-1" class="art-checkbox" type="checkbox" checked  disabled/>还款日为每月{{ContractInfo.repaymentDay}}日。若您采用跨行转账方式汇入还款账户，请提前一周进行划转。我们将以成功划扣还款账户的还款金额时间为准，记录还款时间。</p>
        
        <p>5.   如果您因特殊原因暂时无法按时足额还款时，请在第一时间与我们的委托第三方联系。特别需要您值得注意的是：若您的违约时长超过30天，根据《贷款合同》，我们将有权终止贷款合同，同时您将须支付全部借款金额、利息、逾期违约金。</p>

        <p>6.   如果您出现不能按时还款的情形，逾期违约金的具体数额<b>依据《贷款合同》第五条的规定计算。</b></p>

        <p>7.   <b>联系方式变更：</b>为了方便我们更好的服务于您，如果您需要变更还款账号，或者您（或是您共同借款人）的联系方式、工作单位、居住或工作地址发生变化，请在第一时间填写《借款人客户信息变更书》并提交我们的委托第三方。注<b>：还款日当天不予变更还款账号。</b></p>

        <p>8.   如果您卡片丢失，未能及时补办新卡请及时联系我们的委托第三方。
            <b>提前一次性还款：</b>为了方便我们更好的服务于您，如果您决定提前一次性将全部款项结清，请您务必提前与我们的委托第三方进行沟通，我们的委托第三方将帮助您安排预约一次性还款的相关事宜。
        </p>
        
        <p>9.   就您本次贷款，我们的委托第三方为：<span class="short">上海维信荟智金融科技有限公司</span>， 联系电话<span class="short">4001017700</span>。还款过程中，当您遇到问题时可联系我们的委托第三方（包括不限于客户信息变更联系、无法按时还款咨询、提前一次性还款等事宜）。
        </p>        
        
        <p>借款人承诺：本人已知悉合同相关内容，对此没有异议。</p>

        <p class="text-justify" >借款人签字：<span class="ng-binding">{{ContractInfo.realName}}</span></p>

        <p class="text-justify" style="text-align: right;">日期：<span class="ng-binding"><span>{{ContractInfo.nowyear}}</span>年<span>{{ContractInfo.nowMonth}}</span>月<span>{{ContractInfo.nowDay}}</span>日</span></p>

    </div>
</div>


<!--4.《附件三：还款分期表》-->
<div class="pb-12 pt-header bg-fff bg-fff">
    <div class="pact-service-agtee pact-wrap">
        <p style="text-align: left"><b>《贷款合同》（编号： ）之还款分期表</b></p>
        <p style="text-align: center;"><b>还款分期表（非固定数额还款）</b></p>
        <table class="loan-con" style="width:100%;">
            <tr>
                <td>贷款详细用途</td>
                <td colspan="5">仅限用于个人消费或生产经营，具体为支付居间费</td>
                <td>百万</td>
                <td>十万</td>
                <td>万</td>
                <td>千</td>
                <td>百</td>
                <td>十</td>
                <td>元</td>
                <td>角</td>
                <td>分</td>
            </tr>
            <tr>
                <td>贷款本金数额</td>
                <td colspan="5">人民币（大写）</td>
                <td><b style="color:#000000;">{{ContractInfo.withdrawMoney|moneyformatMillion}}</b></td>
                <td><b style="color:#000000;">{{ContractInfo.withdrawMoney|moneyformatShiwan}}</b></td>
                <td><b style="color:#000000;">{{ContractInfo.withdrawMoney|moneyformatWan}}</b></td>
                <td><b style="color:#000000;">{{ContractInfo.withdrawMoney|moneyformatThousand}}</b></td>
                <td><b style="color:#000000;">{{ContractInfo.withdrawMoney|moneyformatHundred}}</b></td>
                <td><b style="color:#000000;">{{ContractInfo.withdrawMoney|moneyformatShi}}</b></td>
                <td><b style="color:#000000;">{{ContractInfo.withdrawMoney|moneyformatYuan}}</b></td>
                <td><b style="color:#000000;">{{ContractInfo.withdrawMoney|moneyformatJiao}}</b></td>
                <td><b style="color:#000000;">{{ContractInfo.withdrawMoney|moneyformatFen}}</b></td>
            </tr>
            <tr>
                <td rowspan="2">甲方各期偿还本息数额</td>
                <td colspan="5">
                    <p>首期还款利息，自贷款起始日至首期还款日（含当日），按日利率<b style="color:#000000;" class="ng-binding">{{ContractInfo.dayInterest}}</b>%计算；</p>
                    <p>首期还款本金为 <b style="color:#000000;" class="ng-binding">{{ContractInfo.eachBenjinAmt}}</b>元</p>
                </td>
                <td colspan="9"><b style="color:#000000;">{{ContractInfo.loanAmt|moneyformatMillion}}</b></td>
            </tr>           
            <tr>
                <td colspan="5">
                    <p>自第二期起每期还款金额为<b style="color:#000000;" class="ng-binding">{{ContractInfo.monthlyPrincipalInterestAmt}}</b>元</p>
                </td>
                <td><b style="color:#000000;">{{ContractInfo.monthlyPrincipalInterestAmt|moneyformatMillion}}</b></td>
                <td><b style="color:#000000;">{{ContractInfo.monthlyPrincipalInterestAmt|moneyformatShiwan}}</b></td>
                <td><b style="color:#000000;">{{ContractInfo.monthlyPrincipalInterestAmt|moneyformatWan}}</b></td>
                <td><b style="color:#000000;">{{ContractInfo.monthlyPrincipalInterestAmt|moneyformatThousand}}</b></td>
                <td><b style="color:#000000;">{{ContractInfo.monthlyPrincipalInterestAmt|moneyformatHundred}}</b></td>
                <td><b style="color:#000000;">{{ContractInfo.monthlyPrincipalInterestAmt|moneyformatShi}}</b></td>
                <td><b style="color:#000000;">{{ContractInfo.monthlyPrincipalInterestAmt|moneyformatYuan}}</b></td>
                <td><b style="color:#000000;">{{ContractInfo.monthlyPrincipalInterestAmt|moneyformatJiao}}</b></td>
                <td><b style="color:#000000;">{{ContractInfo.monthlyPrincipalInterestAmt|moneyformatFen}}</b></td>
            </tr> 
            <tr>
                <td>贷款利率</td>
                        <td colspan="6">
                            <p>首期贷款利率为<b style="color:#000000;" class="ng-binding">{{ContractInfo.dayInterest | number}}</b>%/日
                            自第二期起每期贷款利率为：<b style="color:#000000;" class="ng-binding">{{ContractInfo.monthInterestPercent | number}}</b>%/月
                            </p>
                        </td>
                        <td colspan="2">还款方式</td>
                        <td colspan="2">
                           按期分别偿还贷款本金、利息
                        </td>
                        <td colspan="2">还款分期期数</td>
                        <td colspan="2"><u>{{ContractInfo.loanPeriods}}</u>期</td>
                    </tr>
                    <tr>
                        <td>还款日</td>
                        <td colspan="14">
                            <label for="check4-1">
                                <input id="check4-1" class="art-checkbox"  type="checkbox"  disabled/>
                                贷款发放后的每月  日
                            </label><br/>
                            <label for="check4-2">
                                <input id="check4-2" class="art-checkbox" type="checkbox" disabled/>
                                每月   日，首次还款日为：  年<b style="color:#000000;">  </b>月<b style="color:#000000;">  </b>日。
                            </label>
                            <br/>
                            <label for="check4-2">
                                <input id="check4-2" class="art-checkbox" type="checkbox" checked="checked" disabled/>
                               贷款发放后的每月<b style="color:#000000;"> {{ContractInfo.repaymentDay}} </b>日 ,首次还款日详见 平台短信。
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <p>甲方（签字）：{{ContractInfo.realName}}</p>
                            <p>日期：{{ContractInfo.nowyear}}年{{ContractInfo.nowMonth}}月{{ContractInfo.nowDay}}日</p>
                        </td>
                        <td colspan="8">
                            <p>乙方（贷款人）：中国对外经济贸易信托有限公司</p>
                            <p>盖章：</p>
                            <p>日期  {{ContractInfo.nowyear}}年{{ContractInfo.nowMonth}}月{{ContractInfo.nowDay}}日</p>                            
                        </td>
                    </tr>
                </table>
                <br/>
                   
                <!-- 转介绍居间协议 start -->
              <!--   <div class="page-content" ng-if="WithdrawRecordObject.loanType=='0' && WithdrawRecordObject.channelByHelp=='1'">
                    <article>
                        <div class="content-block-inner">
                            <section>
                                <p class="ui-txt-justify">
                                    <br/>
                                    <h1 class="mt2">居间服务协议</h1>
                                    <br/> 甲方：{{ContractInfo.realName}}
                                    <br/>身份证号码：{{ContractInfo.identityNo}}
                                    <br/>
                                    <br/>乙方：上海维信荟智金融科技有限公司
                                    <br/>住所：上海市虹口区乍浦路89号办公楼1幢2801室
                                    <br/>
                                    <br/>丙方：
                                    <br/>身份证号码：
                                    <br/>丙方为甲方申请安家派产品提供居间服务，乙方受托为丙方居间服务成功后代为从甲方处扣收居间服务费，并在扣收成功后，代为支付给丙方。现各方本着自愿、公平、诚实信用的原则，依据<span>《中华人民共和国合同法》</span>等法律法规，经各方确认，达成如下协议：
                                    <br/>1.经丙方居间服务，甲方与贷款方签订了<span>《贷款合同》</span>（编号： 借款金额为 大写人民币 元）。
                                    <br/>2.基于丙方的居间服务，甲方同意向丙方支付相应的居间服务费，居间服务费的收取方式为：在甲方成功获取借款后，收取XX元人民币。
                                    <br/>3.丙方故意隐瞒贷款有关的重要事项或提供虚假资料，损害甲方及（或）乙方利益的，不得要求甲方支付居间服务费。
                                    <br/>4.居间活动所发生的费用由丙方自行承担。
                                    <br/>5.为便于甲方与丙方的居间服务费支付，甲、丙双方同意授权乙方或其受托人委托银行或第三方支付公司从甲方指定账户（户名： 开户行： 账号
                                    ）代为扣收本协议第2条约定的居间服务费，并代为支付给丙方。丙方收取该居间服务费的账户以丙方在乙方处预留的为准。
                                    <br/>6.在代扣代付中，乙方仅为甲方与丙方提供居间服务费用结算服务。乙方并不保证能够成功扣收到相应金额的款项，若乙方未成功从甲方扣收到相应金额的居间服务费，乙方不承担支付义务。甲方与丙方就居间服务费发生纠纷，由甲方与丙方自行解决，在任何情形下与乙方无关。
                                    <br/>7.乙方特别说明：丙方仅为居间服务方，丙方向甲方的承诺内容与乙方无关。贷款产品的具体内容请以甲方与乙方或相关贷款权利方签订的合同为准。如甲方签订的贷款合同与丙方介绍的具体信息不一致的，请以合同条款为准。
                                    <br/>8.本协议自各方签字或盖章及/或点击确认之日起成立生效，签字或盖章时间及/或点击确认不一致的，以最后一方签字或盖章及/或点击确认之日起成立并生效。
                                    <br/>9.若因本协议发生争议，各方可协商解决。协商不成时，任何一方有权向上海市浦东新区人民法院提起诉讼解决。
                                    <br/>10. 本协议采用电子文本形式制成，并在安家派平台上保留存档，各方均认可本协议的法律效力。
                                    <br/><br/>
                                    甲方：乙方： 丙方：
                                    <br/><br/>
                                    日期： 日期： 日期：
                                    <br/><br/>
                                </p>
                                <p class="text-bold">
                                    授权人已阅读上述全部内容并同意的，请点击“同意”按钮，本授权立即生效，若授权人不同意授权，请立即停止操作，退出本申请页面。
                                </p>
                            </section>
                        </div>
                    </article>
                </div>
                <table style="width:100%;">
                    <tr>
                        <td>甲方/借款人（签字）:（请用正楷书写）<b style="color:#000000;">{{ContractInfo.realName}}</b></td>
                        <td>乙方/贷款人：<b style="color:#000000;">中国对外经济贸易信托有限公司</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>盖章：</td>
                    </tr>
                    <tr>
                        <td>签约日期:<a href=""><b style="color:#000000;">{{ContractInfo.nowyear}}</b></a>/
                        <a href=""><b style="color:#000000;">{{ContractInfo.nowMonth}}</b></a>/
                        <a href=""><b style="color:#000000;">{{ContractInfo.nowDay}}</b></a>
                    </td>
                    <td>签约日期:<a href=""><b style="color:#000000;">{{ContractInfo.nowyear}}</b></a>/
                    <a href=""><b style="color:#000000;">{{ContractInfo.nowMonth}}</b></a>/
                    <a href=""><b style="color:#000000;">{{ContractInfo.nowDay}}</b></a>
                </td>
            </tr>
            <tr>
                <td colspan="2">签署处：<b style="color:#000000;">{{ContractInfo.realName}}</b></td>
            </tr>
        </table> -->
<!--         <div class="ajp-pos-flex-bottom ajp-btn-wrap-con bg-fff ajp-button-flex">
            <button class="ajp-btn" ng-click="singature()">下个合同</button>
        </div> -->
    </div>
</div>



<!--5.《个人贷款服务与咨询合同》-->
<div class=" pb-10 bg-fff">
    <div class="pact-service-agtee pact-wrap">
        <h2>个人贷款服务与咨询合同</h2>
        <p>甲方（借款人）：<b style="color:#000000;">{{ContractInfo.realName}}</b> </p>
        <p>身份证号码：<b style="color:#000000;">{{ContractInfo.identityNo}}</b> </p>
        <p>银行卡号<b style="color:#000000;"></b></p>
        <p>手机号 <b style="color:#000000;">{{ContractInfo.mobile}}</b></p>
        <p>乙方(服务方)：<b style="color:#000000;">上海维信荟智金融科技有限公司</b> </p>
        <p>住所：<b style="color:#000000;">上海市虹口区欧阳路196号1号楼1层26室</b> </p>
        <p>鉴于：</p>     
        <p class="text-justify">1.  甲方有借款需求，已在安家趣花平台完成注册，委托平台提供借款相关的平台服务。同时，甲方同意委托乙方提供借款咨询、协助寻找借款来源、协助办理相应借款申请手续以及提供贷后相关服务</p>
        <p class="text-justify">2.  乙方是在上海市合法成立并有效存续的有限责任公司，为客户提供借款相关的咨询与服务。</p>
        <p class="text-justify">3.  甲、乙双方同意采用电子合同形式确认双方法律关系，并对电子合同的形式表示认可，合同效力受中华人民共和国法律保护。</p>
        <p class="text-justify">甲、乙双方依据《中华人民共和国合同法》等相关法律法规规定，通过友好、平等、自愿原则，就有关借款服务与咨询事项达成如下条款，以兹共守：</p>
        <p><b>第一条 双方权利义务</b></p>
        <p>1.   甲方应积极协助乙方进行借款申请服务时所需资料的收集和提交等工作。</p>
        <p>2.   甲方应及时向乙方提交借款申请所需要的所有证件和相关材料，并授权乙方及第三方验证甲方信息。甲方保证所提供的资料及信息的真实、合法和完整。如提供的资料涉及任何变更，包括但不限于甲方姓名、住所、职业和联系电话发生变动，甲方应自发生变动之日起，二个工作日内书面通知乙方。</p>
        <p>3.   甲方应按本合同约定如期支付借款手续费、服务费、扣款失败费用等款项。。</p>
        <p>4.   乙方为甲方提供专业的借款咨询服务，并进行与平台、贷款方、担保方（若有）等相关主体间的一系列协调工作。乙方可能寻找的贷款方包括但不限于银行、信托公司、P2P平台或小额贷款公司等贷款主体（贷款主体的确定以最终借款成功为准）。</p>                  
        <p>5.   乙方应按照贷款方的要求及甲方的委托，积极为甲方办理借款申请事宜。若借款成功发放，乙方继续为甲方提供贷后管理与咨询服务</p>
        <p>6.   乙方同意为甲方提交借款申请，但并不保证申请借款必然成功，甲方的借款申请是否审批通过，取决于贷款方。</p>                   
        <p>7.   乙方有权向甲方收取借款手续费、服务费、扣款失败费用等应收款项，并有权委托第三方代收。若甲方逾期支付款项，则乙方有权自行催收或委托合法设立的催告机构进行催收。</p>     
        <p>8、   为查询甲方信用状况，审核甲方履约能力，确认甲方享有本合同项下产品的资格，进行贷款后的相关管理与服务，同时为向甲方提供更为全面和广泛的融资、金融等服务，甲方同意并授权乙方在不违反《征信业管理条例》等法律法规及国家关于个人金融信息保护方面相关规定的前提下，向人民银行及其他依法设立的征信机构、资信评估机构、数据分析处理机构或有关法律、监管机构许可的类似机构（统称“信用机构”）、合法设立的身份信息系统、以及为本合同项下产品和服务提供必要技术和服务的合作机构（简称“合作机构”）查询、使用甲方的基本信息、信用信息和信用报告（统称“个人信息”）。且为建立信用体系，甲方同意并授权乙方将其在申请和使用本合同项下产品和服务过程中提供及形成的甲方的个人信息以及乙方查询、收集的个人信息向信用机构、身份信息系统、合作机构、政府机关、监管机构及其他依法有权机构提供。</p>
        <p>9、   为了向甲方提供更优质的服务和产品，甲方确认授权乙方有权将甲方申请和使用本次产品过程中提供及形成的甲方个人信息以及乙方查询、收集到的个人信息，用于乙方以及乙方出于为甲方提供产品和服务的必要而委托的合作机构为甲方提供服务、推荐产品、开展市场调查与信息数据分析。</p>
        <p>10、因甲方与贷款人可能多次建立借贷关系，且甲方与贷款人不就单笔借款逐个签署借款合同。故甲乙双方同意：双方亦不再就单笔借款的服务与咨询事宜逐个签署合同，甲乙双方间的借款服务与咨询事宜，均以本合同约定为准。</p>      
        <p><b>第二条   费用</b></p>
        <p>1.   手续费：经乙方推荐并提供服务，甲方每从贷款人获得一笔借款，甲方应向乙方支付相当于该笔借款金额的   %借款手续费，且该借款手续费在任何情况下不低于   元，由甲方在放款当日或放款前支付，甲方委托银行或第三方从甲方指定的银行账户中扣划该借款手续费。</p>
        <p>2.   服务费：月服务费率为     %，甲方应在每笔借款发放后按期支付服务费，每笔借款对应的服务费支付期数与还款期数相同，支付日期为每月归还该笔借款的本息之日，节假日不顺延。首期服务费为：借款金额x月服务费率/30*自放款日至首期支付日的天数（含当日）。此后的每期服务费为：借款金额x月服务费率。</p>
        <p>3.   提前清贷服务费：甲方若申请提前清贷的，应通过      平台进行提前清贷操作，平台在接收甲方清贷需求后转交乙方，由乙方协助甲方办理提前清贷。甲方为此应向乙方支付提前清贷服务费，提前清贷服务费=该笔借款的剩余本金*   %， 且单笔借款的提前清贷服务费任何情形不低于＿元。
        </p>
        <p>4.   甲方同意乙方/乙方的代收方委托银行或有资质的第三方支付系统从甲方以下指定账户中扣划借款手续费、服务费、提前清贷服务费等相关款项；甲方实际支付费用的时间为乙方/乙方的代收方委托银行或有资质的第三方支付系统从甲方指定账户中扣划到相关款项的时间。</p>
        <p>开户行： {{ContractInfo.cardBank}}  户名：{{ContractInfo.realName}}</p>
        <p>卡号：{{ContractInfo.cardNo}}</p>
        <p>因甲方向乙方支付费用的账户与甲方向贷款人还款的账户为同一账户，甲乙双方同意：在甲方账户余额不足以支付全部应付款时，贷款人应收款项应优先于乙方费用的扣划。</p>
        <p><b>第三条 违约责任</b></p>
        <p>扣款失败费用：如因包括但不限于甲方账户余额不足、甲方办理扣款账户挂失、销户、银行止付等原因导致应付乙方款项扣划失败，则甲方应就失败的次数支付扣款失败费用每笔每次人民币    </p>
        <p>2、   乙方宣布解除本合同的，甲方除应立即付清全部未付（包括到期与未到期）的服务费等费用外，还应向乙方支付相当于服务费总金额30%的违约金。</p>
        <p><b>第四条   适用法律及争议解决</b></p>
        <p> 本合同的签订、履行、终止、解释均适用中华人民共和国法律，因本合同产生之争议，提交上海市   16    区人民法院管辖。</p>
        <p><b>第五条   通知</b></p>
        <p class="text-justify">1.  任何一方因履行本合同作出的通知和/或文件均应为书面形式，并通过短信、电子邮件及在线消息等方式传送。</p>
        <p class="text-justify">2.  甲方确认：一旦乙方或乙方授权的第三方向甲方电子邮件地址、平台账号、手机号码发出信息、通知或其他任何函件，均视为有效送达。</p>
        <p class="text-justify">3.  甲方同意乙方通过平台向其发送消息通知。</p>
        <p><b>第六条   其他</b></p>
        <p class="text-justify">1.  本合同自双方签署之日起生效。本合同采用电子文本形式制成，并在安家趣花平台上保留存档，各方均认可本合同的法律效力。</p>
         <p class="text-justify">2. 变更本合同内容需另行签署补充协议，甲方承诺将配合签署。</p>
        <p class="text-justify">3.  如果本合同中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响其他有效条款的效力。</p>
        <p class="text-justify">4.  本合同的“安家趣花”或“平台”，是指上海奥派数据科技有限公司运营的在线服务平台，其展现形式包括不限于微信公众号、APP、网页；本合同的“平台账号”，即指甲方在上述平台上的open ID、用户名、账户名等信息。</p>



       <p>甲方(借款人):<b style="color:#000000;" class="ng-binding">{{ContractInfo.realName}}</b></p>
       <p>签约日期:<span class="ng-binding"><span>{{ContractInfo.nowyear}}</span>年<span>{{ContractInfo.nowMonth}}</span>月<span>{{ContractInfo.nowDay}}</span>日</span></p>
       <p>乙方（服务方）：<b style="color:#000000;"></b></p>
       <p>签约日期:<span class="ng-binding"><span>{{ContractInfo.nowyear}}</span>年<span>{{ContractInfo.nowMonth}}</span>月<span>{{ContractInfo.nowDay}}</span>日</span></p>


    </div>
</div>



<!--6.《安家趣花平台服务合同》-->
<div class="pt-header pb-10 bg-fff">
    <div class="pact-service-agtee pact-wrap">
        <h2>安家趣花平台服务合同</h2>
        <p style="text-align: right;">合同编号： </p>
        <p><b>甲方（借款人）：</b><b style="color:#000000;">{{ContractInfo.realName}}</b> </p>
        <p>身份证号：<b style="color:#000000;">{{ContractInfo.identityNo}}</b> </p>
        <p>银行卡号：<b style="color:#000000;">{{ContractInfo.cardNo}}</b></p>
        <p>手机号： <b style="color:#000000;">{{ContractInfo.mobile}}</b></p>
        <p><b>乙方（平台方或平台服务方）：</b><b>上海奥派数据科技有限公司</b> </p>
        <p>住所：<b style="color:#000000;">上海市虹口区欧阳路196号10号楼一层13室</b> </p>        
        <p class="text-justify"><b>请仔细阅读本合同的全部条款，一经点击“同意”/勾选/签名，则视为您已经阅读、理解本合同内容并接受本合同的约束，同意遵守合同的全部内容和条款。如果您不同意本合同的任何内容或相关条款及规则，则请勿继续操作并请立即退出登录。</b></p>
        <p class="text-justify">鉴于：</p>
        <p class="text-justify">1.  甲方有借款需求并已同意“安家趣花注册服务协议”并完成注册，委托乙方提供借款相关的在线平台服务。</p>
        <p class="text-justify">2.  乙方是在上海市合法成立并有效存续的有限责任公司，拥有并负责运营“安家趣花”。本合同中乙方指上海奥派数据科技有限公司及“安家趣花”。</p>
        <p class="text-justify">3.  甲、乙双方同意采用电子合同形式确认双方法律关系，并对电子合同的形式表示认可，合同效力受中华人民共和国法律保护。</p>
        <p class="text-justify">甲、乙双方依据相关法律法规规定，通过友好、平等、自愿原则，就有关乙方提供的平台服务事项，在甲方已确认的《安家趣花注册服务协议》基础上，达成如下条款，以兹共守：</p>
        <p class="text-justify"><b>第一条 服务内容</b></p>
        <p class="text-justify">(一) 甲方有借款需求时，乙方向甲方提供包括不限于下列服务：</p>
        <p class="text-justify">1.  经甲方授权收集甲方个人信息，并辅助甲方进行个人信息验证；</p>
        <p class="text-justify">2.  评价并展示甲方信用评分，并为甲方提供信用诊断服务；：</p>
        <p class="text-justify">3.  为甲方评估借款可行性；</p>
        <p class="text-justify">4.  为甲方预估可授信额度，并协助甲方分析提升可授信额度条件；</p>
        <p class="text-justify">5.  推荐符合甲方条件的贷款人及担保人并协助提交借款及担保申请。</p>
        <p class="text-justify">(二) 甲方还款期间，乙方向甲方提供包括不限于下列服务： </p> 
        <p class="text-justify">1.  借款相关协议的展示与存档； </p>   
        <p class="text-justify">2.  还款账单查询与展示，还款事宜提醒，提供主动还款通道； </p>   
        <p class="text-justify">3.  受理提前清贷需求； </p>   
        <p class="text-justify">4.  受理贷后事项咨询。 </p>

        <p class="text-justify"><b>第二条 费用条款</b></p>
       <!--  <p class="text-justify">基于第一条所述服务，甲方同意向乙方支付如下因平台服务发生的相关费用：</p> -->
        <table class="loan-con">
            <tbody><tr style="text-align: center;">
                <td colspan="15">费用明细</td>
            </tr>
            <tr>
                <td colspan="11">平台推荐费</td>
                <td colspan="4" >
                    {{ContractInfo.ptShouxuFee}}
                </td>
            </tr>            
            <tr>
                <td rowspan="2" colspan="4"><input id="check1-1" class="art-checkbox" type="checkbox"  disabled/>固定平台服务费金额</td>
                <td colspan="7">每月应付平台服务费</td>
                <td colspan="4"><b></b></td>
            </tr>
            <tr>
                <td colspan="7">每月支付日</td>
                <td colspan="4">见下述</td>
            </tr>
            <tr>
                <td rowspan="10" colspan="4"><input id="check1-1" class="art-checkbox" type="checkbox" checked  disabled/>非固定平台服务费金额</td>
                <td colspan="7">首期每日平台服务费金额</td>
                <td colspan="4"><b>{{ContractInfo.dayFuwuFee}}</b></td>
            </tr>            
            <tr>
                <td colspan="7">自第二期起每日平台服务费金额</td>
                <td colspan="4"><b>{{ContractInfo.monthFuwuFee}}</b></td>
            </tr>
            <tr>
                <td colspan="7">平台服务费支付日</td>
                <td colspan="4">
                    <p><input id="check1-1" class="art-checkbox" type="checkbox"  disabled/>贷款发放后的每月   日；</p>
                    <p><input id="check1-1" class="art-checkbox" type="checkbox"  disabled/>每月     日，首次支付日为：      年      月     日。</p>
                    <p><input id="check1-1" class="art-checkbox" type="checkbox" checked  disabled/>贷款发放后的每月{{ContractInfo.repaymentDay}}  日,首次还款日详见   平台短信  </p>
                </td>
            </tr>            



                </tbody></table>

        <p class="text-justify">基于第一条乙方提供的上述服务，甲方已通过贷款人的审批，并与贷款人等权利方签署《贷款合同》（合同编号 ，借款金额 {{ContractInfo.withdrawMoney}}  ，借款期限 {{ContractInfo.loanPeriods}}）等法律文件。</p>
        <p class="text-justify">甲方同意向乙方支付如下因平台服务发生的相关费用：</p>

         <p class="text-justify"><b>（一）平台推荐费：</b></p>
         <p class="text-justify"><b>基于乙方在甲方获取借款资金前为客户提供了本合同第一条第（一）款的一系列服务，甲方同意一次性向乙方支付平台推荐费。</b></p>
         <p class="text-justify">甲方应在放款日当日或之前支付平台推荐费。乙方有权委托贷款方在放款时扣除该费用或者委托银行或者第三方支付系统从本条第4款的账户中扣划。</p>
         <p class="text-justify">（二）平台服务费：</p>
         <p class="text-justify"><b>基于乙方在甲方借款期间内持续为甲方提供本合同第一条第（二）款约定的服务，甲方同意每月向乙方支付平台服务费，直至借款期限届满。</b></p>
         <p class="text-justify"><b>平台服务费，支付日期为每月归还本息之日。若乙方给予甲方免收平台服务费优惠的，本合同的其他条款仍然有效。</b></p>
         <p class="text-justify">（三）<b>平台清贷费：</p>
         <p class="text-justify">甲方若申请提前清贷的，应通过乙方平台进行提前清贷操作，甲方应向乙方支付平台清贷费（如有），平台清贷费具体计算规则详见《借款借据》。在提前清贷时，对于截止至清贷日的应付未付之平台服务费，甲方仍应向乙方支付。</p>

         <p class="text-justify">（四）甲方同意乙方/乙方的代收方委托银行或有资质的第三方支付系统从甲方以下指定账户中扣划平台手续费、平台服务费、平台清贷费等相关款项；甲方实际支付费用的时间为乙方/乙方的代收方委托银行或有资质的第三方支付系统从甲方指定账户中扣划到相关款项的时间。</p>
         <p class="text-justify"><b>开户行：<span class="short"><b>{{ContractInfo.cardBank}}</b></span>户名：<span class="short"><b>{{ContractInfo.realName}}</b></span> 卡号： {{ContractInfo.cardNo}}</b></p>
         <p class="text-justify"><b>因甲方向乙方支付费用的账户与甲方向贷款人还款的账户为同一账户，</b>甲乙双方同意：在甲方账户余额不足以支付全部应付款时，贷款人应收款项应优先于乙方应收费用的扣划。</p>
                 




        <p class="text-justify"><b>第三条  违约责任 </b></p>
        <p class="text-justify">1.   甲方违反本合同项下的任何一期付款义务，则乙方提前解除本合同，自乙方宣布本合同提前解除之日起三个工作日内，甲方应立即付清全部未付（包括到期与未到期）的平台手续费及平台服务费。
        </p>
        <p class="text-justify">2.  乙方宣布解除本合同的，甲方除应立即付清全部未付（包括到期与未到期）的平台手续费及平台服务费外，还应向乙方支付相当于平台服务费总金额30%的违约金。
        </p>        
        <p class="text-justify"><b>第四条   适用法律及争议解决</b></p>
        <p class="text-justify">本合同的签订、履行、终止、解释均适用中华人民共和国法律，因本合同产生之争议<b>，提交上海市浦东新区人民法院管辖。</b></p>
        <p class="text-justify"><b>第五条   通知</b></p>
        <p class="text-justify">1.  任何一方因履行本合同作出的通知和/或文件均应为书面形式，并通过短信、电子邮件及在线消息等方式传送。</p>
        <p class="text-justify">2.  甲方确认：一旦乙方或乙方授权的第三方向甲方电子邮件地址、平台账号发出信息、通知或其他任何函件，均视为有效送达。</p>
        <p class="text-justify">3.  甲方同意乙方通过“安家趣花”向其发送消息通知。</p>
        <p class="text-justify"><b>第六条  其他</b></p>
        <p class="text-justify">1.  本合同采用电子文本形式制成，并在安家趣花平台上保留存档，各方均认可本合同的法律效力。</p>
        <p class="text-justify">2.  变更本合同内容需另行签署补充协议，甲方承诺将配合签署。</p>
        <p class="text-justify">3.  如果本合同中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响其他有效条款的效力。</p>
        <p class="text-justify">4.  本合同的“安家趣花”或“平台”，是指上海奥派数据科技有限公司运营的在线服务平台，其展现形式包括不限于微信公众号、APP、网页；本合同的“平台账号”，即指甲方在上述平台上的open ID、用户名、账户名等信息。</p>
        <p>甲方:<b class="ng-binding">{{ContractInfo.realName}}</b></p>
        <p>日期:<span class="ng-binding"><span>{{ContractInfo.nowyear}}</span>年<span>{{ContractInfo.nowMonth}}</span>月<span>{{ContractInfo.nowDay}}</span>日</span></p>
        <p>乙方：<b>上海奥派数据科技有限公司</b></p>
        <p>日期:<span class="ng-binding"><span>{{ContractInfo.nowyear}}</span>年<span>{{ContractInfo.nowMonth}}</span>月<span>{{ContractInfo.nowDay}}</span>日</span></p>  
   <!--      <table style="width:100%;">
                <tbody><tr>
                    <td>甲方:<b class="ng-binding">{{ContractInfo.realName}}</b></td>
                    <td style="text-align: right">乙方：<b>上海奥派数据科技有限公司</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>日期:<span class="ng-binding"><span>{{ContractInfo.nowyear}}</span>年<span>{{ContractInfo.nowMonth}}</span>月<span>{{ContractInfo.nowDay}}</span>日</span>
                </td>
                <td style="text-align: right">日期:<span class="ng-binding"><span>{{ContractInfo.nowyear}}</span>年<span>{{ContractInfo.nowMonth}}</span>月<span>{{ContractInfo.nowDay}}</span>日</span>
            </td>
        </tr>
        <tr>
            <td colspan="2"></b></td>
        </tr>
    </tbody></table>    -->  

    </div>
</div>
<!--7.《个人客户扣款授权书》-->
<div class="pt-header pb-10 bg-fff">
    <div class="pact-service-agtee pact-wrap">
        <h2>个人客户扣款授权书</h2>
        <p style="text-align: right;">编号：<span class="short"><b> </b></span></p>
        <p><b>授权人姓名：</b><span class="short"><b>{{ContractInfo.realName}}</b></span> </p>
        <p><b>身份证号码：</b><span class="short"><b>{{ContractInfo.identityNo}}</b></span> </p>
        <p><b>联系方式：</b><span class="short"><b>{{ContractInfo.mobile}}</b></span></p>  
        <p>授权人于<span class="short"><b>{{ContractInfo.nowyear}}</b></span>年<span class="short"><b>{{ContractInfo.nowMonth}}</b></span>月<span class="short"><b>{{ContractInfo.nowDay}}</b></span>日在网络平台安家趣花与中国对外经济贸易信托有限公司、上海维信荟智金融科技有限公司、维仕担保有限公司以及上海奥派数据科技有限公司分别签订了《贷款合同》（编号：<span class="short"><b> </b></span> ）、《个人贷款服务与咨询合同》（编号：<span class="short"><b> </b></span>）《个人贷款委托担保合同》（编号：<span class="short"><b> </b></span>）、《安家派平台服务合同》（编号：<span class="short"><b> </b></span>）等合同套件(上述公司及其授权代收主体统称“收款人”，上述合同统称“合同”)并承担合同项下的付款义务。为保障收款人的权益，本人不可撤销地授权：收款人指定的第三方支付公司及/或银行可从以下账户中扣划本人在上述合同项下的所有应付款项：</p>
        <p><b>户名（必须同本人姓名）：</b><span class="short"><b>{{ContractInfo.realName}}</b></span> </p>
        <p><b>卡号：</b><span class="short"><b>{{ContractInfo.cardNo}}</b></span> </p>
        <p><b>账户性质：</b><span class="short"><b>个人银行结算帐户 </b></span></p>          
        <p><b>开户银行：</b><span class="short"><b>{{ContractInfo.cardBank}}</b></span></p>  
        <p>本人同意：收款人授权指定的第三方支付公司及/或银行从上述指定账户中主动扣收本人应付款项，届时无须获得本人的同意也无须事先通知本人。本人同意收款人可指定任何有资质的第三方支付公司、银行从本人上述指定账户中进行扣划，<b>包括不限于：翼支付、富友支付、财付通、银联、快钱、网银在线、中国建设银行股份有限公司及其分行等。</b>收款人亦有权增加、变更其指定的第三方支付公司及/或银行，并无需另行通知本人，本人均予以认可，无任何异议。</p>
        <p>本人亦知悉并同意：本授权书中的收款人中的任意一方或者多方，均有权授权他方代收其应收款项，授权代收人为：本授权书约定的收款人中的其他主体或收款人以外的任何主体。在该等授权情形下，则由授权代收人向第三方支付公司及/或银行发送扣收指令，本人对此无异议。</p><br/>
        <p>本人承诺：本人将承担因指定账户余额不足或被查封冻结导致无法按时足额扣款而导致的任何法律责任。若因本人变更上述指定扣款账户并经收款人认可，本授权书对本人变更后的账户继续有效。
        </p><br/>
        <p>未经收款人书面同意，本授权书不得变更、撤销、解除或终止。本授权书自签署之日起生效，直至本人清偿所有款项或收款人书面通知本授权书失效之日方告失效。</p>
        <p><b>授权人已阅读上述全部内容并同意的，请点击“同意”按钮或勾选或签名，本授权立即生效，若授权人不同意授权，请立即停止操作，退出本申请页面。</b></p>
        <p><b>本人签名：{{ContractInfo.realName}}</b></p>
        <p><b>日期:<span class="ng-binding"><span>{{ContractInfo.nowyear}}</span>年<span>{{ContractInfo.nowMonth}}</span>月<span>{{ContractInfo.nowDay}}</span>日</span></b></p>

    </div>
</div>
<!--8.《特别提示函》（外贸-安家派平台拆分）-->
<div class="new-wCT"> <u></u>   <b>   </b>
    <p class="tar sm">合同编号： </p>
    <h3>特别提示函</h3>

    <p class="cp">尊敬的  {{ContractInfo.realName}} 客户：</p>
    <p class="cp ti2">为完善我司在线服务平台<b>“安家趣花”</b>的服务质量，维护您的合法权益，请您仔细阅读并确认以下事项：</p>
    <p class="cp"><b>一、贷款详情</b></p>
    <p class="cp">1.    您的本次贷款由<b>中国对外经济贸易信托有限公司</b>发放，贷款合同自贷款发放之日起生效。</p>
    <p class="cp"> <b>2.    金额与期限：</b>您的贷款金额<b>￥ {{ContractInfo.withdrawMoney}}元</b>，还款期数<b>{{ContractInfo.loanPeriods}}期。</b></p>
    <p class="cp"><b>3. □固定金额还款方式：费率：</b>贷款<b>利率   % &nbsp;/月，</b>每月应付<b>服务费    元，每月应付担保费     元，每月应付平台服务费        元。</b></p>
    <p class="cp ti2"><b>☑非固定金额还款方式：您首期还款金额自贷款起始日至首期还款日按日计算，其中贷款利率为   {{ContractInfo.dayInterest }} %/日</b>，首期每日<b>服务费金额为 {{ContractInfo.dayInterestAmount }} 元，首期每日担保费金额为 {{ContractInfo.dayGuananteeAmt   }}元，</b>首期每日平台<b>服务费金额为{{ContractInfo.dayFuwuFee  }}元；自第二期起每期贷款利率为：  {{ContractInfo.monthInterestPercent |number :3 }} %/月，每期应付服务费为{{ContractInfo.monthlyServiceAmt}}元，每期应付担保费为   {{ContractInfo.monthGuananteeAmt }}元，每期应付平台服务费为{{ContractInfo.monthFuwuFee }}元。</b></p>
    <p class="cp"><b>4. 费用：</b>您应在放款日当日或放款日之前<b>向贷款服务方支付手续费 0元</b>，向平台支付平台推荐费{{ContractInfo.ptShouxuFee  |number }}元，由您委托银行或者第三方支付系统从指定账户扣划。</p>
    <p class="cp">5.    履约保证金(如有)：您应在放款日当日或放款日之前向贷款担保方<b>支付履约保证金   / </b>元，由您委托银行或者第三方支付系统从指定账户扣划。在贷款期限届满之日，如您完全依约清偿各项应付款项的，该履约保证金将在30日内予以退还。</p>
    <p class="cp"><b>6. □固定金额还款方式：每月还款：每月还款金额为￥         元</b>，从贷款发放的下月起，请在每月还款日将还款存入合同约定账户。 <b>还款日为每月与放款日对应的日期的前一日；若放款日晚于当月 25 日，则还款日为每月24日</b>。若因为您未及时全额还款导致扣款失败，权利人/受托人将每日检索您的账户发起扣款，直至扣款成功。请您务必做好资金安排。</p>
    <p class="cp ti2"><b>☑非固定金额还款方式：首期应还利息及费用的计收方式为  {{ContractInfo.firstPeroidAmt}}  元/天，首期应还本金为{{ContractInfo.eachBenjinAmt}}元；自第二期起，每期应还金额共计为  {{ContractInfo.eachPeriodTotalAmount}}元。您的还款日按照以下第3  项执行：</b></p>
    <p class="cp ti2">（1）贷款发放后的每月     日；</p>
    <p class="cp ti2">（2）每月  日，首次还款日为：  年        月       日。</p>
        <p class="cp ti2">（三）贷款发放后的每月{{ContractInfo.repaymentDay}}  日,首次还款日详见 平台短信 </p>
    <p class="cp"><b>二、提前还款</b></p>
    <p class="cp">若您需提前还款，请通过平台进行申请操作，当您通过平台确认还款金额后，权利人/受托人将从您的还款账户进行扣款，扣款成功后，提前还款成功。</p>
    <p class="cp"><b>三、付费及贷后</b></p>
    <p class="cp"><b>1. 谨慎付费：</b>请<b>不要</b>向我司员工<b>支付</b>除合同资料（包括不限于申请表、合同、借据）<b>约定费用之外的任何费用，</b>如：中介费、介绍费、好处费等。</p>
    <p class="cp"><b>2. 谨慎还款：</b>请<b>不要直接</b>向我司员工<b>给付用于偿还合同约定的应还款项</b>，请按照约定或我司工作人员提示，将还款存入合同约定账户或我司特别指定的公司收款账户，<b>请勿存入任何个人收款账户。</b></p>
    <p class="cp"><b>3. 妥善保管放款银行卡与账户密码：</b>请<b>不要</b>在放贷后向我司销售人员提供<b>您的放款银行卡或放款账户密码。</b></p>
    <p class="cp">四、管辖法院</p>
    <p class="cp">若因履行合同引起的任何争议，由  上海市浦东新区 人民法院管辖。</p>
    <p class="cp"><b>五、 人行征信事宜：</b></p>
    <p class="cp">我司项下的贷款业务已接入人行征信数据库，相关权利人将依据授权，查询并上报您的基本信息和贷后信用记录，请您珍视您的信用记录，保持良好的还款习惯。</p>
    <p class="cp">若您需提前还款，或有任何疑问或投诉，请致电我司客户服务中心：4001017700，我司会竭诚为您提供优质服务。</p>
    <br/>
    <p class="cp tar"><b>上海维信荟智金融科技有限公司</b></p>
    <p class="dashed"></p>
    <p class="cp ti2"><b>请您充分阅读、知悉、理解以上提示的全部内容，若您已阅读上述内容并同意，请您点击本页面的“同意”按钮或勾选或签名，则表示您接受全部内容，若您不同意上述内容，请您立即停止操作，退出操作页面。</b></p>
    <p class="cp tar">签名：{{ContractInfo.realName}}</p>
    <p class="cp tar"> <b>日期:<a href=""><b class="ng-binding">{{ContractInfo.nowyear}}</b></a>年
                    <a href=""><b class="ng-binding">{{ContractInfo.nowMonth}}</b></a>月
                    <a href=""><b class="ng-binding">{{ContractInfo.nowDay}}</b></a>日</b></p>
    </div>
<!--9.《贷款用途声明》）-->
<div class="new-wCT"> <span></span><u></u>
    <p class="tar">合同编号：  </p>
    <h3>贷款用途声明</h3>
    <p class="cp">中国对外经济贸易信托有限公司:</p>
    <p class="cp ti2">本人向贵公司申请贷款￥    {{ContractInfo.withdrawMoney}}   元，用于 支付居间费 。</p>
    <p class="cp ti2">本人声明，该笔贷款不会用于下列目的和用途：</p>
    <p class="cp">1.    以任何形式进入证券市场，或用于股本权益性投资；</p>
    <p class="cp">2.    用于国家明令禁止或限制的经营活动及违法活动；</p>
    <p class="cp">3.    用于房地产项目开发。</p>
    <p class="cp ti2">若本人使用贷款用途违反上述承诺，则按《贷款合同》的违约条款，承担法律责任</p>
    <p class="cp ti2">本人将妥善保管与合同约定贷款用途一致的相关消费凭证， 贵司或贵司委托的服务方有权随时要求本人提供消费凭证原件。</p>
        <br/>
        <br/>
    <p class="cp">特此声明！</p>
        <br/>
        <br/>
    <p class="cp">声明人：{{ContractInfo.realName}}</p>
        <br/>
        <br/>
    <p class="cp">日期：<span class="ng-binding"><span>{{ContractInfo.nowyear}}</span>年<span>{{ContractInfo.nowMonth}}</span>月<span>{{ContractInfo.nowDay}}</span>日</span></p>
<!--10.《商品购销及服务合同》）-->


<!--11.《关于变更还款卡号的补充协议》）-->
<div class="new-wCT"> <span></span><u></u>
    <h3>关于变更还款卡号的补充协议</h3>
    <p class="cp">甲方（借款人）：{{ContractInfo.realName}}</p>
    <p class="cp">身份证号: {{ContractInfo.identityNo}}</p>
    <p class="cp">手机号: {{ContractInfo.mobile}}</p>
    <p class="cp">乙方：上海奥派数据科技有限公司</p>
    <p class="cp ti2">甲乙于<span>{{ContractInfo.nowyear}}</span>年<span>{{ContractInfo.nowMonth}}</span>月<span>{{ContractInfo.nowDay}}</span>日签署编号为<u></u> 的《XXX合同》、编号为<u></u> 的《XXX合同》、编号为<u></u> 的《XXX合同》、编号为<u></u>的《XXX合同》（以上统称“原合同”）。根据原合同约定，甲方不可撤销地授权银行或者第三方支付公司从甲方以下账户中自动扣划原合同约定的应向乙方支付的所有款项。</p>
    <p class="cp ti2">开户行：{{ContractInfo.cardBank}}</p>
    <p class="cp ti2">户名：{{ContractInfo.realName}}</p>
    <p class="cp ti2">账号：  {{ContractInfo.cardNo}}</p>
    <p class="cp">现因甲方申请且经乙方同意，甲乙双方一致认可：将上述账户作如下变更：</p>
    <p class="cp ti2">开户行：{{RepaceBindCardObject.cardBank}}</p>
    <p class="cp ti2">户名：{{ContractInfo.realName}}</p>
    <p class="cp ti2">账号：{{RepaceBindCardObject.cardNo}}</p>
    <p class="cp ti2">其他未尽之事宜，以原合同及相关文件为准。</p>

    <br/>
    <table>
        <tr>
            <td>甲方：{{ContractInfo.realName}}</td>
            <td>乙方：上海奥派数据科技有限公司</td>
        </tr>
    </table>


</div>






</div>
