
<div class=" pt-header bg-fff">
    <header id="ajp-header" class="BG-red">
        <a class="UI-back" ng-href="#/creditMethodBankCard2" ng-show="ZhengxinInfo.cardRule.expire == false"></a>
        <a class="UI-back" ng-href="#/creditMethodBankCard3" ng-show="ZhengxinInfo.cardRule.expire != false"></a>
        <div class="UI-title">银联账户验证服务协议</div>
        <show-alert></show-alert>
    </header>

   <iframe src="https://static.95516.com/static/page/misc/agreeverify.html" scrolling=""  frameBorder=0 id="frame" style="width:100%;min-height:1500px;overflow:hidden;margin-top: -3.96rem;"></iframe>
</div>