<div class="handWritter com-box-siz bg-fff" holl-page style="padding-top: 2.4rem;">
  <!--   <header id="ajp-header" class="BG-red" ng-show="headerShowFlag">
        <a class="UI-back" id="UI-back-normal" ng-click="goToLocation()"></a>
        <a class="UI-back" id="UI-back-unnormal" ng-click="goToNormal()"></a>

        <div class="UI-title">在线签署</div>
        <show-alert></show-alert>
    </header> -->

    <!--  头部  结束 -->
    <div class="gfd-sign-district">
        <p class="tip" style="color:#303030;font-size: 1.5rem;line-height: 2.1rem;margin-top: 0">尊敬的客户：请您在下方区域内正楷书写本人完整签名，并点击保存，该签字将影响合同的生效,并适用于你点击同意的《个人信息授权书》等，请知悉谢谢！
        </p>

        <div id="gfd-signaturePlace" style="position: relative; width: 65%; margin: 3rem auto ;">
            <div class="rect rect1"></div>
            <div class="rect rect2"></div>
            <div class="rect rect3"></div>
            <div class="rect rect4"></div>

           <!--  <div style="position: absolute;width: 100%;height: 100%;left: 0;top: 0;">小</div> -->

        </div>

        <div class="warn" style="color: #7E7E7E;font-size: 1.2rem;padding: 0.5rem 0 0 1.3rem" >
            温馨提示：请输入"{{nameSign}}"字，保证名称和身份证相符且字体清晰可辨
        </div>
    </div>

    <div class="ajp-btn-wrap ajp-button-flex" style="display: flex;flex-direction: row;justify-content: center;width: 100%;height: 4rem;margin-top: 2.2rem;padding-left: 0">
            <button class="ajp-btn gfb-btn-reset" style="width: 11.9rem;height: 4rem;font-size: 1.7rem;color: #303030;border: 1px solid #C5C5C5;border-radius: 0.4rem;line-height: 4rem;background: #fff;margin-right: 2.8rem;">重置</button>
            <button class="ajp-btn gfb-btn-save fyd-recognition" style="width: 11.9rem;height: 4rem;font-size: 1.7rem;color: #E2262A;border: 1px solid #E2262A;border-radius: 0.4rem;line-height: 4rem;background: #fff;">识别</button>
      <!--       <button class="ajp-btn disabled gfb-btn-cancel">取消</button> -->
    </div>
</div>

		
		

