<div class="eGet-creditLogin eGet-code eGet-result pt-header" holl-page>
    <header id="ajp-header" class="BG-red">
        <a class="UI-back" ng-click="goBackHome()"></a>
        <div class="UI-title">获取征信</div>
    </header>
    <section class="eGet-plan-top">
        <div class="one">信息认证</div>
        <div class="two on">手机认证</div>
        <div class="three on">征信认证</div>
    </section>
    <p class="PBOC"></p>
    <p class="com-wraning center" style="width:22rem;">您的申请已提交，请耐心等待审核结果。</p>
    <img class="stateResult" src="images/ajp-coupons-review.png" alt=""/>
    <div class="bottom-hint">
        <div class="ajp-btn-wrap ">
            <button class="ajp-btn" ng-click="refresh()">刷新</button>
        </div>
            <p>数据来源 <span class="PBOC"></span></p>
            <p>为保护您的隐私，安家派不保存您的征信账密信息。</p>
    </div>
</div>