<div class="eGet-creditReg eGet-credit bg-fff pt-header" holl-page>
    <header id="ajp-header" class="BG-red">
        <a class="UI-back" href="javascript:history.back(-1);"></a>
        <div class="UI-title">开通征信查询</div>
    </header>
    <div class="bg-fff">
        <p class="eGet-PBOC"></p>
        <section class="eGet-credit-top">
            <div class="one">填写信息</div>
            <div class="two on">补充信息</div>
            <div class="three on">完成注册</div>
        </section>
    </div>
    <div class="div1"></div>

     <p class="title">您已注册成功！</p>
    <img class="state-done" src="images/icon-zhengxin.png" alt=""/>


    <div class="ajp-btn-wrap ajp-pos-bottom">
        <button class="ajp-btn" ng-click="toCreditLogin()" >登录</button>
    </div>

</div>