<!-- 手机实名成功，并已获取征信报告，手动触发决策-->
<div class="eGet-creditLogin eGet-code eGet-result pt-header" holl-page>
	<header id="ajp-header" class="BG-red">
		<a class="UI-back" ng-click="goBackHome()"></a>

		<div class="UI-title">手机实名成功</div>
	</header>
	<section class="eGet-plan-top">
		<div class="one">信息认证</div>
		<div class="two on">手机认证</div>
		<div class="three on">征信认证</div>
	</section>
	<p class="PBOC"></p>

	<p class="com-wraning center" >手机认证成功</p>
	<img class="stateResult" src="images/ajp-coupons-seccess.png" alt=""/>


	<div class="bottom-hint">
		<div class="ajp-btn-wrap ">
			<button class="ajp-btn" ng-click="gotoDecition()">下一步</button>
		</div>
		<p>数据来源 <span class="PBOC"></span></p>

		<p>为保护您的隐私，安家派不保存您的征信账密信息。</p>

	</div>

</div>