<div class="wreturnPolicy pact-wrap">
    <h3>退换货政策总则</h3>
    <p class="text">安家趣花商城自商品售出之日（以实际收货日期为准）起7日内可以退换货，15日内可以换货，您可在线提交返修/退换申请办理退换货事宜。具体退换货标准如下： </p>
    <p class="headline">一.	7日无理由退货政策</p>
    <p class="text">
    	1.	商城承诺，对于您（作为消费者）通过商城网站购买的商品，若商品能够保持出售时原状且配件、赠品（如有）齐全的，则自商品收货之日起，可享受“7天无理由退货”政策，您可在线进行申请退货；并需自行将商品寄回且承担相关运费；但根据法律规定及商品性质，如下商品不享受“7天无理由退货”政策：
		<br/>（1）消费者定做商品；
		<br/>（2）鲜活易腐商品，例如鲜花、绿植、果蔬、低温乳品、速冻食品等；
		<br/>（3）在线下载或消费者拆封的音像制品、计算机软件等数字化商品；
		<br/>（4）交付的报纸、期刊类商品；
		<br/>（5）食用类商品，例如食品、保健品、饮料、药品、酒类、奶粉、婴儿辅食等；
		<br/>（6）贵重类商品，例如钻石、贵金属、手表、珠宝、奢侈品等；
		<br/>（7）个人护理、贴身类商品，例如计生用品、美护、内衣、贴身袜裤等；；
		<br/>（8）虚拟类商品，例如礼品卡、手机充值、游戏点卡等充值类商品，以及门票、机票、旅游套餐等一次性消费服务类商品等；
		<br/>（9）特殊类商品，例如运营商合约手机以及二手品、处理品等；
		<br/>（10）其他根据商品性质不宜退货的商品。
    
    <p class="text">2.	对于上述不享受“7天无理由退货”政策的商品，商城会在相关商品页面给予您提示，不享受“7天无理由退货”商品在相关商品页面给予您提示。</p>
    <p class="text">3.	“7天无理由退货”政策，目前仅支持退货，不支持换货。</p>
    <p class="headline">二.	15日有理由退换货政策</p>
    <p class="text">1.如您通过安家趣花商城网站购买的商品出现国家法律所规定的功能性故障或商品质量问题，则自您所购商品收货之日起，7天内可以退货，15天内可以换货，如涉及保修则在保修期内可以保修，您可在线进行申请退换货，运费由该商品所售商家承担。</p>

    <table class="loan-con">
        <tr>
            <th colspan="2">售后问题类型</th>
            <th>需提供的凭证</th>
            <th>问题经确认，可获得权益</th>
        </tr>
        <tr>
            <td rowspan="2">品质问题</td>
            <td>性能故障</td>
            <td>经由生产厂家指定或特约售后服务中心检测确认并出具的检测故障单</td>
            <td>7天退货/15天换货/保修期内保养</td>
        </tr>
        <tr>
            <td>商品质量</td>
            <td>详细描述您收到的商品情况，如您提供相关商品问题图片，将会使处理加速哦</td>
            <td>7天退货/15天换货</td>
        </tr>
    </table>

    <p class="text">2、	如您所购商品在收货之日起15天内出现非质量问题，例如图物差异、商品破损等，则您可在线进行退换货申请，根据实际问题情况，会对您提交的退换货申请进行审核，并将于2个工作日内向您反馈审核通过与否的结果。</p>
    <p class="headline">备注：</p>
    <p class="text">1、	判断实际收货日期规则： <br/>
        按照第三方物流平台显示的实际到货日期为准。如果第三方合作伙伴不能有效返回签收日期，则第三方卖家客服根据距离等因素和客户人工确认实际到货日期。
    </p>
    <p class="text">2、商家发货后，不接受客户收货时直接拒收，客户如想退换货可于APP端点击确认收货后提出退换货申请。</p>
</div>