<style>
.scroll-wrapper {   
  position: fixed;    
  right: 0;    
  bottom: 0;    
  left: 0;   
  top: 4rem;   
  -webkit-overflow-scrolling: touch;   
  overflow: scroll;
  frameBorder: 0;
}   
</style>
<div class="" holl-page>
    <header id="ajp-header" class="BG-red">
        <a class="UI-back" ng-click="goBackHome()"></a>
        <div class="UI-title">安家派</div>
    </header>
	  <div class="ajp-activity1">
      <div class="ajqIosbtn" ng-click="routeajppAndroid()"></div>
      <div class="ajpAndroidbtn" ng-click="routeajpIos()"></div>
    </div>
</div>