<div class="pt-header pb-10 bg-fff">
    <div class="pact-service-agtee pact-wrap">
        <h2>还款事项提示函</h2>

        <p><span class="short"></span>先生/女士您好：</p>
        
        <p>为了您更加方便、快捷的进行编号为<span class="short"></span>的贷款合同项下的还款，同时积累良好的信用记录，在此，请您特别注意如下事项：</p>
        
        <p>1.<b>还款账户：</b>在贷款合同里列示的银行帐户是您每次用于还款的账户，请您妥善保管好该银行卡/存折。如发生此银行卡/存折丢失、损坏的情况，请您第一时间联系我们，我们将根据具体情况，协助您安排按时还款事宜，以避免不必要的逾期违约金的产生。如您需要变更还款账户，请向我们提出申请，我们相关的工作人员将协助您，进行变更还款账户事项的办理。</p>
        
        <p>2.  <b>还款账户最低余额为15元：</b>为了保证您的还款成功划扣，请确保您的还款账户余额在划扣当月还款额以后，还有至少15元的余额存在您的还款账户里，此金额有可能用于支付开户银行的“年费”和其他相关费用。关于此“年费”和其他费用收费标准，请致电您的开户银行咨询。</p>
        
        <p>3.  <b>还款金额：</b>您的每月还款本息为人民币<span class="short"></span>元，<b>请您务必牢记此数字</b>。</p>

        <p>4.  <b>还款时间：</b>请您在每月还款日之前，将每月还款额<b>足额</b>存到您的借记卡里，逾期将产生不必要的逾期违约金，并会影响您的个人信用记录。<b>请您务必牢记此还款日，</b>此还款日期不因节假日顺延。还款日为：为每月与放款日（放款日即：贷款本金划离乙方账户之日）对应之日期的前一日；若放款日晚于当月<span class="short"><b style="color:red;">10</b></span>日，则还款日为每月<span class="short"><b style="color:red;">11</b></span>日。若您采用跨行转账方式汇入还款账户，请提前一周进行划转。我们将以成功划扣还款账户的还款金额时间为准，记录还款时间。</p>
        
        <p>5.   如果您因特殊原因暂时无法按时足额还款时，请在第一时间与我们的委托第三方联系。特别需要您值得注意的是：若您的违约时长超过30天，根据《贷款合同》，我们将有权终止贷款合同，同时您将须支付全部借款金额、利息、逾期违约金。</p>

        <p>6.   如果您出现不能按时还款的情形，逾期违约金的具体数额<b>依据《贷款合同》第五条的规定计算。</b></p>

        <p>7.   <b>联系方式变更：</b>为了方便我们更好的服务于您，如果您需要变更还款账号，或者您（或是您共同借款人）的联系方式、工作单位、居住或工作地址发生变化，请在第一时间填写《借款人客户信息变更书》并提交我们的委托第三方。注<b>：还款日当天不予变更还款账号。</b></p>

        <p>8.   如果您卡片丢失，未能及时补办新卡请及时联系我们的委托第三方。
            <b>提前一次性还款：</b>为了方便我们更好的服务于您，如果您决定提前一次性将全部款项结清，请您务必提前与我们的委托第三方进行沟通，我们的委托第三方将帮助您安排预约一次性还款的相关事宜。
        </p>
        
        <p>9.   就您本次贷款，我们的委托第三方为：<span class="short">维信金科</span>， 联系电话<span class="short">03222222</span>。还款过程中，当您遇到问题时可联系我们的委托第三方（包括不限于客户信息变更联系、无法按时还款咨询、提前一次性还款等事宜）。
        </p>        
        
        <p>借款人承诺：本人已知悉合同相关内容，对此没有异议。</p>

        <p class="text-justify" style="text-align: right;">借款人签字：<span class="ng-binding"></span></p>

        <p class="text-justify" style="text-align: right;">日期：<span class="ng-binding"></span></p>



        <div class=" ajp-pos-flex-bottom ajp-btn-wrap-con bg-fff ajp-button-flex">
            <button class="ajp-btn disabled mr-1" ng-click="cancel();"
                    ng-show='UserInfo.changeCardFlag!=1'>取消
            </button>
            <button class="ajp-btn" ng-click="agree()"
                    ng-show='UserInfo.changeCardFlag!=1'>同意
            </button>

            <button class="ajp-btn" ng-click="goBackToChangeCard()"
                    ng-show='UserInfo.changeCardFlag==1'>返回
            </button>            
        </div>
    </div>
</div>