<div class="pt-header pb-10 bg-fff">
    <div class="pact-service-agtee pact-wrap">
        <h2>个人贷款委托担保合同</h2>
        <p>借款人（甲方）：<b style="color:red;">{{ContractInfo.realName}}</b> </p>
        <p>身份证号码：<b style="color:red;">{{ContractInfo.identityNo}}</b> </p>
        <p>居住地址：<b style="color:red;">{{ContractInfo.mobile}}</b></p>
        <p>移动电话： <b style="color:red;"></b></p>
        <p>固定电话：<b style="color:red;"></b></p>
        <p>电子邮件地址：<b style="color:red;">{{ContractInfo.liveAddress}}</b></p><br/>
        <p>担保人（乙方）：<b style="color:red;">维仕担保有限公司</b> </p>
        <p>住所：<b style="color:red;">浙江省杭州市滨江区江南大道3850号创新大厦1801室</b> </p>        
        <p class="text-justify">甲方向贷款人<b>中国对外经济贸易信托有限公司</b>申请人民币贷款，贷款人同意向甲方发放贷款并与甲方签署了编号为：<span class="short"><b>上海市浦东新区</b></span>的《贷款合同》（简称“主合同”，贷款本金数额<span class="short"><b>上海市浦东新区</b></span>元，还款期数<span class="short"><b>上海市浦东新区</b></span>期）。为保证主合同的履行，甲方特委托乙方为本次贷款提供担保，乙方亦同意提供担保。为明确双方权利义务，根据《合同法》、《担保法》和有关法律法规规定，甲乙双方经平等协商，签订本合同，以为共同遵守。甲、乙双方同意采用电子合同形式确认双方法律关系，并对电子合同的形式表示认可，合同效力受中华人民共和国法律保护。</p>
        <p class="text-justify">甲、乙双方同意采用电子合同形式确认双方法律关系，并对电子合同的形式表示认可，合同效力受中华人民共和国法律保护。</p>
        <p><b>第一条 双方权利义务</b></p>
        <p>1、   甲方委托乙方为其对贷款人的债务提供连带责任担保，担保期间为：本合同生效起，至主合同项下债务履行期限届满之日后两年止。担保范围为贷款人有权向甲方收取的本金、利息、罚息（或逾期违约金）、扣款失败的费用（如有）、违约金（如有）、实现债权的费用等款项。</p>
        <p>2、   甲方应积极向乙方提交担保审查所需要的所有证件和相关材料，并保证所提供的资料及信息的真实、合法和完整。如提供的资料涉及任何变更，包括但不限于甲方姓名、住所、职业和联系电话发生变动，甲方应立即书面通知乙方。</p>
        <p>3、   甲方应保证按约履行主合同项下的所有义务，因甲方原因致使贷款人宣布贷款提前到期或者行使提前解除《贷款合同》权利，并由乙方承担担保责任的，<b>甲方应向乙方支付相当于贷款本金数额之30%的违约金。</b></p>
        <p>4、   乙方承担担保责任的履行程序：在贷款人宣布贷款提前到期或行使提前解除《贷款合同》权利时，或在贷款人要求时，乙方应立即按照贷款人的要求履行担保义务，向贷款人足额缴纳甲方应支付的全部款项。。</p>
        <p>5、   若乙方为甲方承担了连带保证责任，则有权足额向甲方追偿，<b>追偿范围包括：乙方已担保代偿款项、违约金以及乙方为追偿、催收上述款项所产生的一切其它费用</b>（包括但不限于评估鉴定费、差旅费、诉讼费、执行费、律师费等）。乙方有权委托银行或者有资质的第三方支付机构从甲方账户中随时扣划所有有权追偿款项。</p>     
        <p>6、  为查询甲方信用状况，审核甲方履约能力，确认甲方享有本合同项下产品的资格，进行担保后的相关管理与服务，同时为向甲方提供更为全面和广泛的融资、金融等服务，甲方同意并授权乙方在不违反《征信业管理条例》等法律法规及国家关于个人金融信息保护方面相关规定的前提下，向人民银行及其他依法设立的征信机构、资信评估机构、数据分析处理机构或有关法律、监管机构许可的类似机构（统称“信用机构”）、合法设立的身份信息系统、以及为本合同项下产品和服务提供必要技术和服务的合作机构（简称“合作机构”）查询、使用甲方的基本信息、信用信息和信用报告（统称“个人信息”）。且为建立信用体系，甲方同意并授权乙方将其在申请和使用本合同项下产品和服务过程中提供及形成的甲方的个人信息以及乙方查询、收集的个人信息向信用机构、身份信息系统、合作机构、政府机关、监管机构及其他依法有权机构提供。</p>
        <p>7、   为了向甲方提供更优质的服务和产品，甲方确认授权乙方有权将甲方申请和使用本次产品过程中提供及形成的甲方个人信息以及乙方查询、收集到的个人信息，用于乙方以及乙方出于为甲方提供产品和服务的必要而委托的合作机构为甲方提供服务、推荐产品、开展市场调查与信息数据分析。</p>                   
        <p>8、   本合同所指的“ 安家趣花 ”或“平台”，是指：   11          运营的在线服务平台，其展现形式包括不限于微信公众号、APP、网页；本合同的“平台账号”，即指甲方在上述平台上的open ID、用户名、账户名等信息。</p>     
        <p><b>第二条 费用</b></p>
        <table class="loan-con">
            <tbody><tr style="text-align: center;">
                <td colspan="15">担保费明细</td>
            </tr>
            <tr>
                <td rowspan="2" colspan="4">固定月担保费金额</td>
                <td colspan="7">每月应付担保费</td>
                <td colspan="4">28</td>
            </tr>
            <tr>
                <td colspan="7">每月支付日</td>
                <td colspan="4">见下述</td>
            </tr>
            <tr>
                <td rowspan="10" colspan="4">非固定月担保费金额</td>
                <td colspan="7">首期每日担保费金额</td>
                <td colspan="4">30</td>
            </tr>            
            <tr>
                <td colspan="7">自第二期起每期担保费金额</td>
                <td colspan="4">31</td>
            </tr>
            <tr>
                <td colspan="7">担保费支付日</td>
                <td colspan="4">
                    <p>贷款发放后的每月  28  日；</p>
                    <p>每月   32   日，首次支付日为：   33    年 33   月    33日。</p>
                </td>
            </tr>            



                </tbody></table>
        <p>1、   甲方采用每期固定金额的方式支付担保费的，甲方应在贷款发放的次月起开始按月等额支付担保费，支付日期为每月归还本息之日，即：每月与贷款人放款日对应日期的前一日；若放款日晚于当月＿42日，则支付日期为每月43＿日。节假日不顺延。甲方应付的全部担保费按还款期数平均成每月等额向乙方支付，直至贷款期限届满。费用支付期数与还款期数相同。<br/>甲方担保费支付方式是非固定金额的，甲方首期担保费金额为：首期每日担保费金额x自贷款放款日至首期支付日（含当日）的天数。费用支付期数与还款期数相同。</p>
        <p>2、   甲方同意乙方/乙方的代收方委托银行或有资质的第三方支付系统从甲方以下指定账户中扣划担保费等相关款项；甲方实际支付费用的时间为乙方/乙方的代收方委托银行或有资质的第三方支付系统从甲方指定账户中扣划到相关款项的时间。<br/>开户行：<span class="short"><b>上海市浦东新区</b></span>户名：<span class="short"><b>上海市浦东新区</b></span>卡号：<span class="short"><b>上海市浦东新区</b></span>若甲方向乙方支付担保费的账户与甲方向贷款人还款的账户、以及支付其他贷款相关款项的账户为同一账户，甲乙双方同意：在甲方账户余额不足以支付全部应付款时，相关款项的扣划顺序为：贷款人应收款项、担保费及其他贷款相关款项。
        </p>
        <p>3、   若甲方向贷款人提前还款的，甲方应按照相关约定支付担保费等款项，上述款项的具体计算方式以相关《借款借据》为准。相关《借款借据》及甲方应乙方要求提供的所有材料和签署的所有文本均为本合同附件，是本合同的组成部分。
        </p>
        <p>4、   若甲方逾期支付款项，则乙方有权自行或者委托第三方进行催收。甲方同意：相关权利人有权在受托或亲自进行催收和追索债务等工作时，将甲方的身份信息、联络信息及甲方拖欠本合同项下债务的相关信息提供给第三方（包括不限于律师事务所和催收机构）。</p>
        <p>5、   甲方已知晓并同意：乙方有权自行收取或者委托第三方代收担保费等款项；乙方亦有权接受他方的委托，代收甲方在本次贷款项下应付他方之款项，且乙方有权转委托。甲方对此均无异议。</p>
        <p><b>第三条 争议解决 </b></p>
        <p>因履行本合同引起的任何争议，由双方协商解决；协商不成的，由本合同签约地所属的<span class="short"><b>上海市浦东新区</b></span>人民法院管辖。本合同签约地：<span class="short"><b>上海市浦东新区</b></span> 。
        </p>
        <p><b>第四条 送达</b></p>
        <p>1、   甲方确认并保证：合同首部记载的居住地址、电子邮件地址均为甲方的送达地址，甲方提供的电话号码随时保持有效接通状态。本合同履行过程中，甲方若需变更上述信息的，应当以EMS方式向乙方进行书面告知。。在双方关于本合同的权利义务终止前，乙方因履行义务、实现权利之需要，或法院、仲裁机关、行政机关处理案件需要，可采取包括但不限于以下的方式进行送达/通知：<br/>向甲方居住地址邮寄纸质文件，该等文件在投邮后的第三日（自邮寄当日起算）视为已送达；<br/>向甲方电子邮件地址发送电子文件，该等文件在发送当日视为已送达；<br/>向甲方提供的电话号码拨打电话或发送短信，在拨打/发送当日视为已通知/已送达；<br/>向甲方平台账号发送消息或文件，在发送当日视为已送达。</p>
        <p>2、   甲方发送给乙方的任何书面通知或文件于乙方实际收到时视为送达。</p>
        <p><b>第五条 合同效力</b></p>
        <p class="text-justify">本合同采用电子文本形式制成，并在安家趣花平台上保留存档。各方均认可本合同的法律效力，本合同自贷款方实际放款成功之日起生效。甲乙双方一致确认：在经乙方事先认可的前提下，除本合同及补充合同、附件等明确约定的事项外，本合同所涉及的其他具体业务的操作可由甲乙双方,或甲方与乙方的委托方通过电话联系予以完成，甲乙双方对此业务办理的效力均予以确认。</p>
        <p><b>甲方承诺：本人已知悉合同及附件全部内容，对此没有异议。
        </b></p>
        <p><b>甲方已阅读上述全部内容并同意的，请点击“同意”按钮或勾选或签名，若甲方不同意的，请立即停止操作，退出本申请页面。</b></p>
<!--         <br/><br/><br/>
        <p style="text-align: center;"><b>担保函</b></p>
        <p>致中国对外经济贸易信托有限公司：</p>
        <p class="text-justify">根据借款人     28   （身份证号码：       29          ）与贵司签订的编号为：    30    的《贷款合同》，借款人与我司签订的编号为：    31    的《个人贷款委托担保合同》之约定，我司承诺：如该借款人发生欠款，我司将向贵司承担保证责任，支付该借款人拖欠的本金、利息、罚息（或逾期违约金）、扣款失败费用（如有）、违约金（如有）等所有应付款项。</p>
        <p class="text-justify">特此证明！</p>  
        <p style="text-align: right;">维仕担保有限公司</p>
        <p style="text-align: right;">33年  33  月  33   日</p> -->




       <table style="width:100%;">
                    <tbody><tr>
                        <td>（甲方）签字:<b style="color:red;" class="ng-binding">{{ContractInfo.realName}}</b></td>
                        <td style="text-align: right">乙方（盖章）：<b style="color:red;"></b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>签约日期:<a href=""><b style="color:red;" class="ng-binding">{{ContractInfo.nowyear}}</b></a>/
                        <a href=""><b style="color:red;" class="ng-binding">{{ContractInfo.nowMonth}}</b></a>/
                        <a href=""><b style="color:red;" class="ng-binding">{{ContractInfo.nowDay}}</b></a>
                    </td>
                    <td style="text-align: right">签约日期:<a href=""><b style="color:red;" class="ng-binding">{{ContractInfo.nowyear}}</b></a>/
                    <a href=""><b style="color:red;" class="ng-binding">{{ContractInfo.nowMonth}}</b></a>/
                    <a href=""><b style="color:red;" class="ng-binding">{{ContractInfo.nowDay}}</b></a>
                </td>
            </tr>
            <tr>
                <td colspan="2"></b></td>
            </tr>
        </tbody></table>     

        <br/><br/><br/>
        <p style="text-align: center;"><b>担保函</b></p>
        <p>致中国对外经济贸易信托有限公司：</p>
        <p class="text-justify">根据借款人<span class="short"><b>上海市浦东新区</b></span>（身份证号码：<span class="short"><b>上海市浦东新区</b></span>）与贵司签订的编号为：<span class="short"><b>上海市浦东新区</b></span>的《贷款合同》，借款人与我司签订的编号为：  <span class="short"><b>上海市浦东新区</b></span> 的《个人贷款委托担保合同》之约定，我司承诺：如该借款人发生欠款，我司将向贵司承担保证责任，支付该借款人拖欠的本金、利息、罚息（或逾期违约金）、扣款失败费用（如有）、违约金（如有）等所有应付款项。</p>
        <p class="text-justify">特此证明！</p>  
        <p style="text-align: right;">维仕担保有限公司</p>
        <p style="text-align: right;">33年  33  月  33   日</p>        






        <div class=" ajp-pos-flex-bottom ajp-btn-wrap-con bg-fff ajp-button-flex">
            <button class="ajp-btn disabled mr-1" ng-click="cancel();"
                    ng-show='UserInfo.changeCardFlag!=1'>取消
            </button>
            <button class="ajp-btn" ng-click="agree()"
                    ng-show='UserInfo.changeCardFlag!=1'>同意
            </button>

            <button class="ajp-btn" ng-click="goBackToChangeCard()"
                    ng-show='UserInfo.changeCardFlag==1'>返回
            </button>            
        </div>
    </div>
</div>