<div class="pt-header pb-10 bg-fff">
    <div class="pact-service-agtee pact-wrap">
        <h2>安家趣花平台服务合同</h2>
        <p style="text-align: right;">合同编号：</p>
        <p><b>甲方（借款人）：</b><b style="color:red;">{{ContractInfo.realName}}</b> </p>
        <p>身份证号：<b style="color:red;">{{ContractInfo.identityNo}}</b> </p>
        <p>银行卡号：<b style="color:red;">{{ContractInfo.mobile}}</b></p>
        <p>手机号： <b style="color:red;"></b></p>
        <p><b>乙方（平台方或平台服务方）：</b><b>上海奥派数据科技有限公司</b> </p>
        <p>住所：<b style="color:red;"></b> </p>        
        <p class="text-justify"><b>请仔细阅读本合同的全部条款，一经点击“同意”/勾选/签名，则视为您已经阅读、理解本合同内容并接受本合同的约束，同意遵守合同的全部内容和条款。如果您不同意本合同的任何内容或相关条款及规则，则请勿继续操作并请立即退出登录。</b></p>
        <p class="text-justify">鉴于：</p>
        <p class="text-justify">1.  甲方有借款需求并已同意“安家趣花注册服务协议”并完成注册，委托乙方提供借款相关的在线平台服务。</p>
        <p class="text-justify">2.  乙方是在上海市合法成立并有效存续的有限责任公司，拥有并负责运营“安家趣花”。本合同中乙方指上海奥派数据科技有限公司及“安家趣花”。</p>
        <p class="text-justify">3.  甲、乙双方同意采用电子合同形式确认双方法律关系，并对电子合同的形式表示认可，合同效力受中华人民共和国法律保护。</p>
        <p class="text-justify">甲、乙双方依据相关法律法规规定，通过友好、平等、自愿原则，就有关乙方提供的平台服务事项，在甲方已确认的《安家趣花注册服务协议》基础上，达成如下条款，以兹共守：</p>
        <p class="text-justify"><b>第一条 服务内容</b></p>
        <p class="text-justify">(一) 经乙方提供的在线平台服务，甲方已通过贷款人的审批，并与贷款人等权利方签署《xxxxx7合同》（合同编号<span class="short"><b>上海市浦东新区</b></span>，借款金额<span class="short"><b>上海市浦东新区</b></span>，借款期限<span class="short"><b>上海市浦东新区</b></span>）等法律文件。</p>
        <p class="text-justify">(二) 乙方向甲方提供的服务，包括但不限于辅助用户验证信息、授信预估、在线借款咨询、协助提交借款申请、借款相关协议的展示与签署、还款账单查询与展示、还款事宜提醒、提供主动还款通道、受理提前清贷需求、受理贷后咨询、协助用户进行还款管理等服务。</p>   
        <p class="text-justify"><b>第二条 费用条款</b></p>
        <p class="text-justify">基于第一条所述服务，甲方同意向乙方支付如下因平台服务发生的相关费用：</p>
        <table class="loan-con">
            <tbody><tr style="text-align: center;">
                <td colspan="15">费用明细</td>
            </tr>
            <tr>
                <td colspan="11">平台手续费</td>
                <td colspan="4" ><b style="color: red">11</b></td>
            </tr>            
            <tr>
                <td rowspan="2" colspan="4">固定平台服务费金额</td>
                <td colspan="7">每月应付平台服务费</td>
                <td colspan="4"><b style="color: red">11</b></td>
            </tr>
            <tr>
                <td colspan="7">每月支付日</td>
                <td colspan="4">见下述</td>
            </tr>
            <tr>
                <td rowspan="10" colspan="4">非固定平台服务费金额</td>
                <td colspan="7">首期每日平台服务费金额</td>
                <td colspan="4"><b style="color: red">11</b></td>
            </tr>            
            <tr>
                <td colspan="7">自第二期起每日平台服务费金额</td>
                <td colspan="4"><b style="color: red">11</b></td>
            </tr>
            <tr>
                <td colspan="7">平台服务费支付日</td>
                <td colspan="4">
                    <p>贷款发放后的每月  28  日；</p>
                    <p>每月<b style="color: red">11</b>日，首次支付日为：  <b style="color: red">11</b> 年<b style="color: red">11</b>  月<b style="color: red">11</b>日。</p>
                </td>
            </tr>            



                </tbody></table>
        
         <p class="text-justify"><b>（一）平台手续费：</b>甲方应在放款日当日或之前支付手续费。乙方有权委托贷款方在放款时扣除该手续费或者委托银行或者第三方支付系统从本条第三款的账户中扣划。</p>
         <p class="text-justify">（二）平台服务费：</p>
         <p class="text-justify"><b>若平台服务费支付方式是每期固定金额的，</b>甲方应在借款发放的次月起开始按月等额支付平台<b>服务费，支付日期为每月归还本息之日，即：每月与贷款人放款日对应日期的前一日；若放款日晚于当月<span class="short"><b  style="color:red">上海市浦东新区</b></span>日，则支付日期为每月<span class="short"><b  style="color:red">上海市浦东新区</b></span>日。节假日不顺延。</b>甲方应付的全部平台服务费按借款期平均成每月等额向乙方支付，直至借款期限届满。若乙方给予甲方免收平台服务费优惠的，本合同的其他条款仍然有效。费用支付期数与还款期数相同。</p>
         <p class="text-justify">若甲方平台服务费支付方式是非固定金额的，甲方应在每个还款日支付平台服务费，首期平台服务费为：首期每日平台服务费金额x自贷款放款日至首期支付日的天数（含当日）。乙方给予甲方免收平台服务费优惠的，本合同的其他条款仍然有效。费用支付期数与还款期数相同。</p>
         <p class="text-justify">（三）<b>平台清贷费：</b>甲方若申请提前清贷的，应通过乙方平台进行提前清贷操作，<b>甲方应向乙方支付平台清贷费，详情见借款借据。</b>甲方在提前清贷时，对于截止至清贷日的应付未付之平台服务费，甲方仍应向乙方支付。</p>
         <p class="text-justify">（四）甲方同意乙方/乙方的代收方委托银行或有资质的第三方支付系统从甲方以下指定账户中扣划平台手续费、平台服务费、平台清贷费等相关款项；甲方实际支付费用的时间为乙方/乙方的代收方委托银行或有资质的第三方支付系统从甲方指定账户中扣划到相关款项的时间。</p>
         <p class="text-justify"><b>开户行：<span class="short"><b  style="color:red">上海市浦东新区</b></span>户名：<span class="short"><b  style="color:red">上海市浦东新区</b></span> 卡号： 16XXXX XXXX XXXX XXXX</b></p>
         <p class="text-justify"><b>因甲方向乙方支付费用的账户与甲方向贷款人还款的账户为同一账户，</b>甲乙双方同意：在甲方账户余额不足以支付全部应付款时，贷款人应收款项应优先于乙方应收费用的扣划。</p>
                 




        <p class="text-justify"><b>第三条  违约责任 </b></p>
        <p class="text-justify">1.   甲方违反本合同项下的任何一期付款义务，则乙方提前解除本合同，自乙方宣布本合同提前解除之日起三个工作日内，甲方应立即付清全部未付（包括到期与未到期）的平台手续费及平台服务费。
        </p>
        <p class="text-justify">2.  乙方宣布解除本合同的，甲方除应立即付清全部未付（包括到期与未到期）的平台手续费及平台服务费外，还应向乙方支付相当于平台服务费总金额30%的违约金。
        </p>        
        <p class="text-justify"><b>第四条   适用法律及争议解决</b></p>
        <p class="text-justify">本合同的签订、履行、终止、解释均适用中华人民共和国法律，因本合同产生之争议<b>，提交上海市浦东新区人民法院管辖。</b></p>
        <p class="text-justify"><b>第五条   通知</b></p>
        <p class="text-justify">1.  任何一方因履行本合同作出的通知和/或文件均应为书面形式，并通过短信、电子邮件及在线消息等方式传送。</p>
        <p class="text-justify">2.  甲方确认：一旦乙方或乙方授权的第三方向甲方电子邮件地址、平台账号发出信息、通知或其他任何函件，均视为有效送达。</p>
        <p class="text-justify">3.  甲方同意乙方通过“安家趣花”向其发送消息通知。</p>
        <p class="text-justify"><b>第六条  其他</b></p>
        <p class="text-justify">1.  本合同采用电子文本形式制成，并在安家趣花平台上保留存档，各方均认可本合同的法律效力。</p>
        <p class="text-justify">2.  变更本合同内容需另行签署补充协议，甲方承诺将配合签署。</p>
        <p class="text-justify">3.  如果本合同中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响其他有效条款的效力。</p>
        <p class="text-justify">4.  本合同的“安家趣花”或“平台”，是指上海奥派数据科技有限公司运营的在线服务平台，其展现形式包括不限于微信公众号、APP、网页；本合同的“平台账号”，即指甲方在上述平台上的open ID、用户名、账户名等信息。</p>           
    <table style="width:100%;">
        <tbody>
          <tr>
                        <td>甲方:<b class="ng-binding">{{ContractInfo.realName}}</b></td>
                        <td style="text-align: right">乙方：<b>上海奥派数据科技有限公司</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>日期:<a href=""><b class="ng-binding">{{ContractInfo.nowyear}}</b></a>/
                        <a href=""><b class="ng-binding">{{ContractInfo.nowMonth}}</b></a>/
                        <a href=""><b class="ng-binding">{{ContractInfo.nowDay}}</b></a>
                    </td>
                    <td style="text-align: right">日期:<a href=""><b style="color:red;" class="ng-binding">{{ContractInfo.nowyear}}</b></a>/
                    <a href=""><b class="ng-binding">{{ContractInfo.nowMonth}}</b></a>/
                    <a href=""><b class="ng-binding">{{ContractInfo.nowDay}}</b></a>
                </td>
            </tr>
            <tr>
                <td colspan="2"></b></td>
            </tr>
        </tbody>
    </table>     

        <div class=" ajp-pos-flex-bottom ajp-btn-wrap-con bg-fff ajp-button-flex">
            <button class="ajp-btn disabled mr-1" ng-click="cancel();"
                    ng-show='UserInfo.changeCardFlag!=1'>取消
            </button>
            <button class="ajp-btn" ng-click="agree()"
                    ng-show='UserInfo.changeCardFlag!=1'>同意
            </button>

            <button class="ajp-btn" ng-click="goBackToChangeCard()"
                    ng-show='UserInfo.changeCardFlag==1'>返回
            </button>            
        </div>
    </div>
</div>