<div class="pt-header pb-10 bg-fff">
    <div class="pact-service-agtee pact-wrap">
        <h2>还款事项提示函</h2>
        <p>借款人（甲方）：<b style="color:red;">{{ContractInfo.realName}}</b> </p>
        <p>身份证号码：<b style="color:red;">{{ContractInfo.identityNo}}</b> </p>
        <p>居住地址：<b style="color:red;">{{ContractInfo.mobile}}</b></p>
        <p>移动电话： <b style="color:red;"></b></p>
        <p>固定电话：<b style="color:red;"></b></p>
        <p>电子邮件地址：<b style="color:red;">{{ContractInfo.liveAddress}}</b></p><br/>
        <p>服务方(乙方)：<b style="color:red;">上海维信荟智金融科技有限公司</b> </p>
        <p>住所：<b style="color:red;">{{ContractInfo.identityNo}}</b> </p>        
        <p class="text-justify">甲方有借款需求，已在<span class="short"><b>安家趣花</b></span>平台完成注册，委托平台提供借款相关的平台服务。同时甲方委托乙方进行授信额度预估、在线借款咨询、协助寻找借款来源、协助提交提现申请、协助办理提前清贷以及提供贷后相关服务。本合同所指的“安家趣花”或“平台”，是指：上海奥派数据科技有限公司           运营的在线服务平台，其展现形式包括不限于微信公众号、APP、网页；本合同的“平台账号”，即指甲方在上述平台上的open ID、用户名、账户名等信息</p>
        <p class="text-justify">甲、乙双方同意采用电子合同形式确认双方法律关系，并对电子合同的形式表示认可，合同效力受中华人民共和国法律保护。</p>
        <p><b>第一条 双方权利义务</b></p>
        <p>1、   甲方应积极协助乙方进行贷款申请所需资料的收集和联络等工作，若甲方不协助乙方办理申请贷款工作，则本合同终止，甲方应承担乙方在前期服务工作中所产生的一切费用。</p>
        <p>2、   甲方应及时向乙方提交贷款申请所需要的所有证件和相关材料，并保证所提供的资料及信息的真实、合法和完整。如提供的资料涉及任何变更，包括但不限于甲方姓名、住所、职业和联系电话发生变动，甲方应立即书面通知乙方。</p>
        <p>3、   甲方应按本合同及相关附件之约定如期支付服务费等费用。</p>
        <p>4、   乙方为甲方提供专业的贷款咨询、指导服务，并进行相关协调工作。乙方可能寻找的贷款人包括但不限于银行、信托公司、P2P平台或小额贷款公司等贷款主体（贷款渠道的确定以最终贷款成功为准）。乙方有权指定或授权其下属分公司行使其权利及履行其义务。</p>
        <p>5、   乙方应按照贷款人的要求及甲方的委托，积极为甲方办理贷款申请事宜。若贷款成功发放，乙方继续为甲方提供贷后服务。乙方的工作包括不限于：对甲方贷款申请资料的归集、贷款资格的认定、资金使用的监管和对甲方进行贷款后的日常管理。</p>                  <p>6、 乙方同意为甲方提供贷款申请服务，但并不保证申请贷款必然成功，甲方的贷款申请是否审批通过，取决于贷款人。</p>
        <p>7、   乙方有权向甲方收取手续费、服务费等相关费用，并有权委托第三方代收。若甲方逾期支付款项，则乙方有权自行催收或委托合法设立的催告机构进行催收。乙方亦有权接受贷款人、担保人（如有）的委托，收取甲方应付贷款人、担保人（如有）的款项，有权接受乙方下属分公司的委托，收取甲方应付乙方下属分公司的款项。上述事项乙方可转委托。</p>                   
        <p>8、   为查询甲方信用状况，审核甲方履约能力，确认甲方享有本合同项下产品的资格，进行贷款后的相关管理与服务，同时为向甲方提供更为全面和广泛的融资、金融等服务，甲方同意并授权乙方在不违反《征信业管理条例》等法律法规及国家关于个人金融信息保护方面相关规定的前提下，向人民银行及其他依法设立的征信机构、资信评估机构、数据分析处理机构或有关法律、监管机构许可的类似机构（统称“信用机构”）、合法设立的身份信息系统、以及为本合同项下产品和服务提供必要技术和服务的合作机构（简称“合作机构”）查询、使用甲方的基本信息、信用信息和信用报告（统称“个人信息”）。且为建立信用体系，甲方同意并授权乙方将其在申请和使用本合同项下产品和服务过程中提供及形成的甲方的个人信息以及乙方查询、收集的个人信息向信用机构、身份信息系统、合作机构、政府机关、监管机构及其他依法有权机构提供。</p>     
        <p>9、   为了向甲方提供更优质的服务和产品，甲方确认授权乙方有权将甲方申请和使用本次产品过程中提供及形成的甲方个人信息以及乙方查询、收集到的个人信息，用于乙方以及乙方出于为甲方提供产品和服务的必要而委托的合作机构为甲方提供服务、推荐产品、开展市场调查与信息数据分析。</p>
        <p><b>第一条 应付款项</b></p>
        <p class="text-justify">经乙方推荐并提供服务，本次<b>甲方与贷款人</b><span class="short"><b>上海市浦东新区</b></span><b>公司签署编号为：</b>   
         <span class="short"><b>上海市浦东新区</b></span><b>的《贷款合同》（贷款本金数额  12  元，还款期数  13  期）</b>，故现将相关费用明细约定如下：
        </p>
        <table class="loan-con">
            <tbody><tr style="text-align: center;">
                <td colspan="15">费用明细</td>
            </tr>
            <tr>
                <td rowspan="2" colspan="4">固定月服务费金额</td>
                <td colspan="7">每月应付服务费金额</td>
                <td colspan="4">28</td>
            </tr>
            <tr>
                <td colspan="7">每月固定支付日</td>
                <td colspan="4">见下述</td>
            </tr>
            <tr>
                <td rowspan="10" colspan="4">非固定服务费金额</td>
                <td colspan="7">首期每日服务费金额</td>
                <td colspan="4">30</td>
            </tr>            
            <tr>
                <td colspan="7">自第二期起每期服务费金额</td>
                <td colspan="4">31</td>
            </tr>
            <tr>
                <td colspan="7">服务费支付日</td>
                <td colspan="4">
                    <p>贷款发放后的每月  28  日；</p>
                    <p>每月   32   日，首次支付日为：   33    年 33   月    33日。</p>
                </td>
            </tr>            



                </tbody></table>
        <p>1、   <b>手续费:</b>甲方应在放款日当日或放款日之前一次性支付手续费，由甲方委托银行或者第三方支付系统从甲方指定账户扣划。</p>
        <p><b>2、    服务费：</b><br/>若甲方服务费支付方式是每期固定金额的，甲方应在贷款发放的次月起开始按月等额支付服务费，支付日期为每月归还本息之日，即：每月与贷款人放款日对应日期的前一日；若放款日晚于当月34＿日，则支付日期为每月35＿日。节假日不顺延。甲方应付的全部服务费按还款期数平均成每月等额向乙方支付，直至贷款期限届满。乙方给予甲方免收服务费优惠的，本合同的其他条款仍然有效。费用支付期数与还款期数相同。<br/>若甲方服务费支付方式是非固定金额的，甲方应在每个还款日支付服务费，首期服务费为：首期每日服务费金额x自贷款放款日至首期支付日的天数（含当日）。乙方给予甲方免收服务费优惠的，本合同的其他条款仍然有效。费用支付期数与还款期数相同。</p>
        <p>3、   甲方同意乙方/乙方的代收方委托银行或有资质的第三方支付系统从甲方以下指定账户<b>中扣划手续费、服务费</b>等相关款项；甲方实际支付费用的时间为乙方/乙方的代收方委托银行或有资质的第三方支付系统从甲方指定账户中扣划到相关款项的时间。<br/>开户行：<span class="short"><b>上海市浦东新区</b></span> 户名：<span class="short"><b>上海市浦东新区</b></span>卡号： <span class="short"><b>上海市浦东新区</b></span>        
        若甲方向乙方支付手续费、服务费的账户与甲方向贷款人还款、以及向担保人（如有）支付担保费的账户为同一账户，甲乙双方同意：在甲方账户余额不足以支付全部应付款时，相关款项的扣划顺序为：手续费、贷款人应收款项、服务费及担保费，但相关权利人（包括不限于有权收款人及其授权收款人）可随时调整扣划顺序，并有权决定在前一扣款项目扣划失败后，是否发起后一项目的扣划。
        </p>
        <p>4、   如因包括但不限于甲方账户余额不足、甲方办理该账户挂失、销户、银行止付等原因导致应付款项扣划失败，则甲方应就失败的次数分别支付扣款失败费用如下：贷款人应收款项扣划失败，则向乙方支付每笔每次<b>人民币</b><span class="short"><b>上海市浦东新区</b></span> 元；服务费及担保费总额扣划失败，则向乙方支付每笔每次<b>人民币</b> <span class="short"><b>上海市浦东新区</b></span>元。</p>
        <p>5、   若甲方向贷款人提前还款的，甲方应按照相关约定支付服务费、提前清贷服务费等款项，上述款项的具体计算方式以相关《借款借据》为准。</p>
        <p>6、   若甲方逾期支付款项，则乙方有权自行或者委托第三方进行催收。甲方同意：相关权利人有权在受托或亲自进行催收和追索债务等工作时，将甲方的身份信息、联络信息及甲方拖欠本合同项下债务的相关信息提供给第三方（包括不限于律师事务所和催收机构）。</p>
        <p>7、   甲方已知晓并同意：乙方有权自行收取或者委托第三方代收服务费等款项；乙方亦有权接受他方的委托，代收甲方在本次贷款项下应付他方之款项，且乙方有权转委托。甲方对此均无异议。</p>
        <p><b>第三条 违约责任</b></p>
        <p>1、   甲方违反本合同项下的任何一期付款义务，则乙方有权宣布本合同提前到期或解除合同，自乙方宣布本合同提前到期或解除合同之日起三个工作日内，甲方应立即付清全部未付（包括到期与未到期）的服务费等费用。</p>
        <p>2、   乙方宣布解除本合同的，甲方除应立即付清全部未付（包括到期与未到期）的服务费等费用外，还应向乙方支付相当于服务费总金额30%的违约金。</p>
        <p><b>第四条 合同的生效和解除</b></p>
        <p>1、   本合同采用电子文本形式制成，并在  安家趣花  平台上保留存档，各方均认可本合同的法律效力，本合同自贷款方实际放款成功之日起生效，至甲方结清本次贷款所涉的所有款项（包括不限于贷款本息、担保费、服务费等，详细款项以甲方签署的相关协议约定为准）后终止。甲乙双方亦可通过签署补充协议或另行签署新的《个人贷款服务与咨询合同》的方式终止本合同的履行。</p>
        <p>2、   如甲方提供虚假资料，或隐瞒实际的资产状况，或信用状况发生改变，或涉及刑事案件，或违反本合同的任何约定，乙方有权立即解除本合同。</p>
        <p>3、   若甲方的贷款合同被宣布提前到期或被提前解除，则乙方有权宣布本合同同步提前到期或同步解除，甲方应按本合同第三条约定承担费用支付责任及违约责任。</p>
        <p><b>第五条 争议的解决</b></p>
        <p class="text-justify">因履行本合同引起的任何争议，由各方协商解决；协商不成的，由<b>本合同签约地所属</b><span class="short"><b>上海市浦东新区</b></span> <b>人民法院管辖。</b>本合同签约地： <span class="short"><b>上海市浦东新区</b></span>。</p>
        <p><b>第六条 合同附件</b></p>
        <p class="text-justify">相关《借款借据》及甲方应乙方要求提供的所有材料和签署的所有文本均为本合同附件，是本合同的组成部分。甲乙双方一致确认：在经乙方事先认可的前提下，除本合同及补充合同、附件等明确约定的事项外，本合同所涉及的其他具体业务的操作可由甲乙双方,或甲方与乙方的委托方通过电话联系予以完成，甲乙双方对此业务办理的效力均予以确认。</p>
        <p><b>第七条 送达</b></p>
        <p>1、   甲方确认并保证：合同首部记载的居住地址、电子邮件地址均为甲方的送达地址，甲方提供的电话号码随时保持有效接通状态。本合同履行过程中，甲方若需变更上述信息的，请在第一时间以EMS方式向乙方进行书面告知。在双方关于本合同的权利义务终止前，乙方因履行义务、实现权利之需要，或法院、仲裁机关、行政机关处理案件需要，可采取包括但不限于以下的方式进行送达/通知：<br/>向甲方居住地址邮寄纸质文件，该等文件在投邮后的第三日（自邮寄当日起算）视为已送达；
        向甲方电子邮件地址发送电子文件，该等文件在发送当日视为已送达；
        向甲方提供的电话号码拨打电话或发送短信，在拨打/发送当日视为已通知/已送达；
        向甲方平台账号发送消息或文件，在发送当日视为已送达。
        </p>
        <p>2、   甲方发送给乙方的任何书面通知或文件于乙方实际收到时视为送达。</p>
        <p><b>郑重提示甲方：请每月在约定的支付日期存入贷款相关的所有应付款项并保留直至扣款成功，若因为您未及时全额付款，则将产生扣 款失败手续费。权利人/受托人将每日对您的账户发起扣款，直至扣款成功。
        </b></p>
        <p><b>甲方承诺：本人已知悉合同及附件全部内容，对此没有异议。</b></p>
        <p><b>甲方已阅读上述全部内容并同意的，请点击“同意”按钮或勾选或签名，若甲方不同意的，请立即停止操作，退出本申请页面。</b></p>








       <table style="width:100%;">
                    <tbody><tr>
                        <td>（甲方）签字:<b style="color:red;" class="ng-binding">{{ContractInfo.realName}}</b></td>
                        <td style="text-align: right">乙方（盖章）：<b style="color:red;"></b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>签约日期:<a href=""><b style="color:red;" class="ng-binding">{{ContractInfo.nowyear}}</b></a>/
                        <a href=""><b style="color:red;" class="ng-binding">{{ContractInfo.nowMonth}}</b></a>/
                        <a href=""><b style="color:red;" class="ng-binding">{{ContractInfo.nowDay}}</b></a>
                    </td>
                    <td style="text-align: right">签约日期:<a href=""><b style="color:red;" class="ng-binding">{{ContractInfo.nowyear}}</b></a>/
                    <a href=""><b style="color:red;" class="ng-binding">{{ContractInfo.nowMonth}}</b></a>/
                    <a href=""><b style="color:red;" class="ng-binding">{{ContractInfo.nowDay}}</b></a>
                </td>
            </tr>
            <tr>
                <td colspan="2"></b></td>
            </tr>
        </tbody></table>     






        <div class=" ajp-pos-flex-bottom ajp-btn-wrap-con bg-fff ajp-button-flex">
            <button class="ajp-btn disabled mr-1" ng-click="cancel();"
                    ng-show='UserInfo.changeCardFlag!=1'>取消
            </button>
            <button class="ajp-btn" ng-click="agree()"
                    ng-show='UserInfo.changeCardFlag!=1'>同意
            </button>

            <button class="ajp-btn" ng-click="goBackToChangeCard()"
                    ng-show='UserInfo.changeCardFlag==1'>返回
            </button>            
        </div>
    </div>
</div>