<div class="new-wCT"> <span class="red"></span><u></u>
    <h3>关于变更还款卡号的补充协议</h3>
    <p class="cp"><b>甲方（借款人）：</b></p>
    <p class="cp">身份证号: </p>
    <p class="cp">手机号: </p><b></b>
    <p class="cp"><b>乙方：</b></p>
    <p class="cp ti2">甲乙于<u></u>年<u></u>月<u></u>日签署编号为<u></u> 的《XXX合同》、编号为<u></u> 的《XXX合同》、编号为<u></u> 的《XXX合同》、编号为<u></u>的《XXX合同》（以上统称“原合同”）。根据原合同约定，甲方不可撤销地授权银行或者第三方支付公司从甲方以下账户中自动扣划原合同约定的应向乙方支付的所有款项。</p>
    <p class="cp ti2">开户行：</p>
    <p class="cp ti2">户名：</p>
    <p class="cp ti2">账号：  </p>
    <p class="cp">现因甲方申请且经乙方同意，甲乙双方一致认可：将上述账户作如下变更：</p>
    <p class="cp ti2">开户行：</p>
    <p class="cp ti2">户名：</p>
    <p class="cp ti2">账号：</p>
    <p class="cp ti2">其他未尽之事宜，以原合同及相关文件为准。</p>

    <br/>
    <table>
        <tr>
            <td>甲方：</td>
            <td>乙方：</td>
        </tr>
    </table>








    </div>