<div class="new-wCT"> <span class="red"></span><u></u>
    <h3>关于变更放款卡号的补充协议</h3>
    <p class="cp"><b>甲方（借款人）：</b></p>
    <p class="cp">身份证号: </p>
    <p class="cp">手机号: </p><b></b>
    <p class="cp"><b>乙方（贷款人）：</b>中国对外经济贸易信托有限公司</p>

    <p class="cp ti2">甲乙双方于4&LoanYear&年4&LoanMonth&月4&LoanDay&日签署编号为5&ContractNo& 的《贷款合同》（简称“原合同”），原合同约定，乙方委托第三方支付机构/银行以资金代付的方式将本合同项下的贷款本金数额从乙方账户按以下方案划付至甲方专用账户中: </p>
    <p class="cp ti2">将人民币（大写）（小写）￥7                     元划入甲方专用账户1；</p>
    <p class="cp ti2">将人民币（大写）  15                      （小写）￥ 15                    元划入甲方专用账户2</p>
    <br/>
    <table class="showTable">
        <tr>
            <td rowspan="3">账户1：</td>
            <td>开户行：</td>
            <td></td>
        </tr>
        <tr><td>户名</td> <td></td></tr>
        <tr><td>账号：</td> <td></td></tr>
        <tr>
            <td rowspan="3">账户1：</td>
            <td>开户行：</td>
            <td></td>
        </tr>
        <tr><td>户名</td> <td></td></tr>
        <tr><td>账号：</td> <td>5654654656546454656</td></tr>

    </table>
    <p class="cp">现因甲方申请且经乙方同意，甲乙双方一致认可：将上述的账户 X16 作如下变更：</p>
    <table class="showTable">
        <tr>
            <td rowspan="3">账户1：</td>
            <td>开户行：</td>
            <td></td>
        </tr>
        <tr><td>户名</td> <td></td></tr>
        <tr><td>账号：</td> <td>5654654656546454656</td></tr>

    </table>
    <br/>
    <p class="cp">其他未尽之事宜，以原合同及相关文件为准。</p>
    <br/>
    <table>
        <tr>
            <td>甲方（借款人）：</td>
            <td>乙方（贷款人）：</td>
        </tr>
        <tr>
            <td></td>
            <td>乙方（贷款人）：</td>
        </tr>
    </table>
    






    </div>