<div class="new-wCT"> <span class="red"></span><b></b>
    <h3>个人消费信托贷款借款借据</h3>

    <table class="showTable">
        <tr>
            <td><b>借款人姓名</b></td>
            <td colspan="2"></td>
            <td colspan="2">身份证号</td>
            <td colspan="8">372922199101216075</td>
        </tr>
        <tr>
            <td ><b>产品类型</b></td>
            <td colspan="2">现金贷款</td>
            <td colspan="2">借款合同编号</td>
            <td colspan="3"></td>
            <td colspan="2">期限</td>
            <td colspan="3">自实际放款之日起共  4  期</td>
        </tr>
        <tr>
            <td rowspan="3"><b>借款人指定放款账户</b></td>
            <td>账号1</td>
            <td>开户行</td>
            <td  colspan="2"></td>
            <td>账号</td>
            <td colspan="4"></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>td>账号2</td>
            <td>开户行</td>
            <td  colspan="2"></td>
            <td>账号</td>
            <td colspan="4"></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>td>账号3</td>
            <td>开户行</td>
            <td  colspan="2"></td>
            <td>账号</td>
            <td colspan="4"></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td rowspan="2"><b>借款人指定还款账户</b></td>
            <td colspan="2">□	开户行</td>
            <td colspan="2"></td>
            <td>账号</td>
            <td colspan="7"></td>
        </tr>
        <tr>
            <td colspan="12">  ☑ 同放款账号_8_____。</td>
        </tr>
        <tr>
            <td rowspan="2"><b>借款金额人民币（大写）</b></td>
            <td colspan="2"  rowspan="2"></td>
            <td colspan="2"  rowspan="2">人民币（小写）</td>
            <td>十</td>
            <td>万</td>
            <td>千</td>
            <td>百</td>
            <td>十</td>
            <td>元</td>
            <td>角</td>
            <td>分</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>说明</b></td>
            <td colspan="12">
                <ul class="ul1">
                    <li>
                        <i class="point"></i>本借款借据在信托公司/信托公司委托的代付方将贷款发放往借款人的账户时生效。（注：借款人委托银行或有资质的第三方支付系统从借款人指定账户中扣收应付<b>平台服务方的平台手续费￥</b>元人民币）
                    </li>
                    <li><i class="point"></i>借款人在借款合同期限内若欲提前还清借款的,借款人提前清贷金额为实时计算，当甲方点击提前清贷按钮时，系统自动算出此刻借款人提前清贷总额，借款人确认后，信托公司或信托公司的受托方可委托银行或者第三方支付公司甲方约定的还款账户中扣除提前清贷全部款项，扣款成功后，提前清贷成功。</li>
                    <li><i class="point"></i>提前清贷总额=逾期总额（若有）+当期未计利息+剩余本金+贷款服务方的提前清贷服务费+平台服务方的平台清贷费+应付服务费/担保费/平台服务费等费用（如有）。当期未计利息=借款本金×未计利息天数×日利率；贷款服务方的提前清贷服务费=剩余本金*＿20*＿21%，且提前清贷服务费无论何时不低于22＿元；平台服务方的平台清贷费=剩余本金*23＿*24＿%，且平台清贷费无论何时不低于25＿元。<b>（相关权利人有权豁免部分借款人相应费用，具体金额以系统实际计算金额为准）</b></li>
                    <li><i class="point"></i>借款人已同意信托公司（贷款人）、       12       公司（贷款服务方）、      13        公司（平台服务方）等权利人使用借记业务自行收取或委托他方收取借款本息、服务费、担保费、平台服务费、提前清贷费用和发生违约及实现债权的费用，并授权银行或有资质的第三方支付系统在收到权利人或其受托人的收费通知后，即可通过上述银行账号主动予以支付，无须事先通知借款人，由此产生的一切后果和法律责任由借款人承担。</li>
                    <li><i class="point"></i>本借款借据为《贷款合同》（编号： 14   ）、《个人贷款服务与咨询合同》（编号：  15 ）、《个人贷款委托担保合同》（编号：16   ）、《安家趣花平台服务合同》（编号： 17  ）的附件。</li>
                    <li><b>借款人承诺：本人已知悉本借款借据及相应合同的全部内容，对此没有异议。</b></li>
                    <li><b>借款人已阅读上述全部内容并同意的，请点击“同意”按钮或勾选或签名，若借款人不同意的，请立即停止操作，退出本申请页面。</b></li>
                    <li></li>
                    <li></li>
                </ul>



            </td>
        </tr>

    </table>

    <br/>





    </div>