<div class="new-wCT"> <span class="red"></span><u></u>
	<p class="tar">合同编号： </p>
	<h3>贷款用途声明</h3>
	<p class="cp">中国对外经济贸易信托有限公司:</p>
	<p class="cp ti2">本人向贵公司申请贷款￥      2      元，用于       3       。</p>
	<p class="cp ti2">本人声明，该笔贷款不会用于下列目的和用途：</p>
	<p class="cp">1.	以任何形式进入证券市场，或用于股本权益性投资；</p>
	<p class="cp">2.	用于国家明令禁止或限制的经营活动及违法活动；</p>
	<p class="cp">3.	用于房地产项目开发。</p>
	<p class="cp ti2">若本人使用贷款用途违反上述承诺，则按《贷款合同》的违约条款，承担法律责任</p>
	<p class="cp ti2">本人将妥善保管与合同约定贷款用途一致的相关消费凭证， 贵司或贵司委托的服务方有权随时要求本人提供消费凭证原件。</p>
	    <br/>
	    <br/>
	<p class="cp">特此声明！</p>
	    <br/>
	    <br/>
	<p class="cp">声明人：4</p>
	    <br/>
	    <br/>
	<p class="cp">日期：5</p>

</div>