<div class="new-wCT"> <u></u>   <b>   </b>
    <p class="tar sm">合同编号：</p>
    <h3>特别提示函</h3>

    <p class="cp">尊敬的   1    客户：</p>
    <p class="cp ti2">为提高我司在线服务平台<b>“安家趣花”</b>的服务质量，维护您的合法权益，请您仔细阅读并确认以下事项：</p>
    <p class="cp"><b>一、贷款详情</b></p>
    <p class="cp">1.	您的本次贷款由<b>中国对外经济贸易信托有限公司</b>发放，贷款合同自贷款发放之日起生效。</p>
    <p class="cp"> <b>2.	金额与期限：</b>您的贷款金额<b>￥        3       元</b>，还款期数<b>     4     期。</b></p>
    <p class="cp"><b>3.	☑固定金额还款方式：费率：</b>贷款<b>利率      10    %/月，</b>每月应付<b>服务费     10    元，每月应付担保费      10    元，每月应付平台服务费     10     元。</b></p>
    <p class="cp ti2"><b>□5非固定金额还款方式：您首期还款金额自贷款起始日至首期还款日按日计算，其中贷款利率为    30     %/日</b>，首期每日<b>服务费金额为     31      元，首期每日担保费金额为   32      元，</b>首期每日平台<b>服务费金额为    33       元；自第二期起每期贷款利率为：    34    /月，每期应付服务费为   35      元，每期应付担保费为   36       元，每期应付平台服务费为    37     元。</b></p>
    <p class="cp"><b>4.	手续费：</b>您应在放款日当日或放款日之前<b>向平台支付平台手续费      11       元</b>，由您委托银行或者第三方支付系统从指定账户扣划。</p>
    <p class="cp">5.	履约保证金(如有)：您应在放款日当日或放款日之前向贷款担保方<b>支付履约保证金       12 </b>元，由您委托银行或者第三方支付系统从指定账户扣划。在贷款期限届满之日，如您完全依约清偿各项应付款项的，该履约保证金将在30日内予以退还。</p>
    <p class="cp"><b>6.	□固定金额还款方式：每月还款：每月还款金额为￥        10       元</b>，从贷款发放的下月起，请在每月还款日将还款存入合同约定账户。 <b>还款日为每月与放款日对应的日期的前一日；若放款日晚于当月38＿日，则还款日为每月39＿日</b>。若因为您未及时全额还款导致扣款失败，权利人/受托人将每日检索您的账户发起扣款，直至扣款成功。请您务必做好资金安排。</p>
    <p class="cp ti2"><b>□13非固定金额还款方式：首期应还利息及费用的计收方式为     40          元/天，首期应还本金为   41    元；自第二期起，每期应还金额共计为    42   元。您的还款日按照以下第 15  项执行：</b></p>
    <p class="cp ti2">（1）贷款发放后的每月  16  日；</p>
    <p class="cp ti2">（2）每月  17    日，首次还款日为：   18     年 18   月  18  日。</p>
    <p class="cp"><b>二、提前还款</b></p>
    <p class="cp">若您需提前还款，请通过平台进行申请操作，当您通过平台确认还款金额后，权利人/受托人将从您的还款账户进行扣款，扣款成功后，提前还款成功。</p>
    <p class="cp"><b>三、付费及贷后</b></p>
    <p class="cp"><b>1.	谨慎付费：</b>请<b>不要</b>向我司员工<b>支付</b>除合同资料（包括不限于申请表、合同、借据）<b>约定费用之外的任何费用，</b>如：中介费、介绍费、好处费等。</p>
    <p class="cp"><b>2.	谨慎还款：</b>请<b>不要直接</b>向我司员工<b>给付用于偿还合同约定的应还款项</b>，请按照约定或我司工作人员提示，将还款存入合同约定账户或我司特别指定的公司收款账户，<b>请勿存入任何个人收款账户。</b></p>
    <p class="cp"><b>3.	妥善保管放款银行卡与账户密码：</b>请<b>不要</b>在放贷后向我司销售人员提供<b>您的放款银行卡或放款账户密码。</b></p>
    <p class="cp">四、管辖法院</p>
    <p class="cp">若因履行合同引起的任何争议，由           19          人民法院管辖。</p>
    <p class="cp"><b>五、	人行征信事宜：</b></p>
    <p class="cp">我司项下的贷款业务已接入人行征信数据库，相关权利人将依据授权，查询并上报您的基本信息和贷后信用记录，请您珍视您的信用记录，保持良好的还款习惯。</p>
    <p class="cp">若您需提前还款，或有任何疑问或投诉，请致电我司客户服务中心：      20   ，我司会竭诚为您提供优质服务。</p>
    <br/>
    <p class="cp tar"><b>上海奥派数据科技有限公司</b></p>
    <p class="dashed"></p>
    <p class="cp ti2"><b>请您充分阅读、知悉、理解以上提示的全部内容，若您已阅读上述内容并同意，请您点击本页面的“同意”按钮或勾选或签名，则表示您接受全部内容，若您不同意上述内容，请您立即停止操作，退出操作页面。</b></p>
    <p class="cp tar">签名：21</p>
    <p class="cp tar">日期：22</p>
    </div>