<div class="eGet-bankList pt-header">
    <header id="ajp-header" class="BG-red">
        <a class="UI-back" href="javascript:history.back(-1);"></a>
        <div class="UI-title">银行限额列表</div>
        <show-alert></show-alert>
    </header>
    <div class="wrap">
        <div>
            <img src="img/bank/ICBC.png" alt="中国工商银行"/>中国工商银行<span>单笔5万，单日5万</span>
        </div>
        <div>
            <img src="img/bank/CCB.png" alt="中国建设银行"/>中国建设银行<span>单笔5万，单日5万</span>
        </div>
        <div>
            <img src="img/bank/ABC.png" alt="中国农业银行"/>中国农业银行<span>单笔5万，单日5万</span>
        </div>
        <div>
            <img src="img/bank/CMB.png" alt="招商银行"/>招商银行<span>单笔5万，单日5万</span>
        </div>
        <div>
            <img src="img/bank/COMM.png" alt="交通银行"/>交通银行<span>单笔5万，单日5万</span>
        </div>
        <div>
            <img src="img/bank/PSBOC.png" alt="中国邮政储蓄银行"/>中国邮政储蓄银行<span>单笔5万，单日5万</span>
        </div>
        <div>
            <img src="img/bank/BOC.png" alt="中国银行"/>中国银行<span>单笔5万，单日5万</span>
        </div>
        <div>
            <img src="img/bank/SPDB.png" alt="浦发银行"/>浦发银行<span>单笔5万，单日5万</span>
        </div>
        <div>
            <img src="img/bank/CMBC.png" alt="中国民生银行"/>中国民生银行<span>单笔5万，单日5万</span>
        </div>
        <div>
            <img src="img/bank/CEB.png" alt="中国广大银行"/>中国广大银行<span>单笔5万，单日5万</span>
        </div>
        <div>
            <img src="img/bank/CGB.png" alt="广发银行"/>广发银行<span>单笔5万，单日5万</span>
        </div>
        <div>
            <img src="img/bank/CITIC.png" alt="中信银行"/>中信银行<span>单笔5万，单日5万</span>
        </div>
        <div>
            <img src="img/bank/CIB.png" alt="兴业银行"/>兴业银行<span>单笔5万，单日5万</span>
        </div>
        <div>
            <img src="img/bank/PAB.png" alt="平安银行"/>平安银行<span>单笔5万，单日5万</span>
        </div>
        <div>
            <img src="img/bank/CZBANK.png" alt="浙商银行"/>浙商银行<span>单笔5万，单日5万</span>
        </div>
    </div>
</div>

