<div class="eGet-bindCard pt-header">
    <header id="ajp-header" class="BG-red">
        <a class="UI-back" ng-click="goToWithdraw()"></a>
        <div class="UI-title">银行卡绑定</div>
        <show-alert></show-alert>
    </header>

    <section class="info">
        <div class="ajp-bb-dc">
            	持卡人姓名
            <span style="float: right;" ng-bind="UserInfo.realName|NameReplaceFilter"></span>
        </div>
        <div class="ajp-bb-dc">
            	持卡人手机号
            <span style="float: right;" ng-bind="UserInfo.mobile | MobileReplaceFilter"></span>
        </div>
        <div>
            	持卡人身份证
            <span style="float: right;" ng-bind="UserInfo.identityNo | CardReplaceFilter"></span>
        </div>
    </section>
    <p class="com-wraning">请确认银行卡信息真实有效，该卡将用于平台交易。</p>
    <div class="formWrap">
        <form name="bindBankCardForm" novalidate>
            <div class="list ajp-href ajp-bb-dc">
				<a class="ui-href" href="#/banklist" style="display:block;">
					 <span>选择银行</span>
				<input class="UI-select-right right" type="text" ng-model="BindCardObject.cardBank"
					readonly placeholder="请选择银行卡归属银行" />
				</a>
            </div>
            <div class="list list2">
					<span>银行卡号</span>
				<input class="right" type="text" ng-model="BindCardObject.cardNoWithSpace" placeholder="请输入该银行卡卡号" 
				ng-keyup="formatcardNo()" required/>
            </div>
		<!-- 	<p class="UI-text-right">
				<a ng-click="showCardLimit()">银行限额列表</a>
			</p> -->
        </form>
    </div>
    <div class="ajp-btn-wrap com-box-siz mt-4">
        <div class="pb-1">
            <button class="ajp-btn" ng-disabled="bindBankCardForm.$invalid" ng-click="handleBindCard()">提交</button>
        </div>
    </div>
</div>
